:root {		/* Used colors, shadows, transitions, font sizes, fint families saved as css variables */
	/* Changes throughout colormodes */
	--c-black: #252525; 
	--c-transparent-black: #25252530;
	--c-darkgray: #9B9A9A;
	--c-gray: #CCC;
	--c-lightgray: #DDD;
	--c-lightergray: #ECECEC;
	--c-lightestgray: #F6F6F6;
	--c-white: #FFF;
	--c-transparent-white: #FFFFFF20;
	--c-yellow: #FFC914;
	/* --c-orange: #FF9700; --c-lightorange: #FFBE5C; */
	--c-orange: #F19A3E;
	--c-lightorange: #F4AE65;
	--c-red: #F84F4F;
	--c-lightred: #F97272;
	--c-green: #8DFFB7;
	--c-lightgreen: #A4FFC5;
	--c-blue: #42CAFD;
	--c-lightblue: #68D5FD;
	--c-purple: #7765E3;
	--c-bronze :#E58955;
	/* Static throughout colormodes */
	--cs-black: #252525; 
	--cs-transparent-black: #25252520;
	--cs-darkgray: #9B9A9A;
	--cs-gray: #CCC;
	--cs-lightgray: #DDD;
	--cs-lightergray: #ECECEC;
	--cs-lightestgray: #F6F6F6;
	--cs-white: #FFF;
	--cs-navbar: #252525; 
	--cs-transparent-white: #FFFFFF20;
	--cs-yellow: #FFC914;
	--cs-orange: #F19A3E;
	--cs-lightorange: #F2A451;
	--cs-red: #F84F4F;
	--cs-green: #8DFFB7;
	--cs-blue: #42CAFD;
	--cs-purple: #7765E3;
	--cs-input: #252525; 
	--cs-bronze :#E58955;
	/* Unique */
	--csd-orange: transparent;
	--csd-lightorange: transparent;
	/* Shadows */
	--s-black: 0 3px 6px #25252510;
	--s-orange: 0 3px 6px #FF970010;
	--s-red: 0 3px 6px #F84F4F10;
	--s-green: 0 3px 6px #8DFFB710;
	--s-blue: 0 3px 6px #42CAFD10;
	/* Misc */
	--t-basic: ease-in .2s;
	/* Font Sizes */
	--f-xxxxlarge: 2.488rem;
	--f-xxxlarge: 2.074rem;
	--f-xxlarge: 1.728rem;
	--f-xlarge: 1.44rem;
	--f-large: 1.2rem;
	--f-medium: 1rem;
	--f-small: 0.833rem;
	--f-xsmall: 0.694rem;
	--f-xxsmall: 0.579rem;
	/* Fonts */
	--light: Poppins-Light;
	--regular: Poppins-Regular;
	--bold: Poppins-SemiBold;
}

[data-theme="highcontrast"]:root { /* High contrast mode, yellow and dark colors a prominent, biggger font sizes */
	--c-black: #FFFC00; 
	--c-transparent-black: #25252530;
	--c-darkgray: #1A1A1A; 
	--c-gray: #141414; 
	--c-lightgray: #0F0F0F; 
	--c-lightergray: #0A0A0A; 
	--c-lightestgray: #050505;
	--c-white: #000;
	--c-transparent-white: #25252530;
	--c-orange: #1A1A1A;
	--c-lightorange: #1A1A1A;
	--c-red: #F84F4F;
	--c-green: #8DFFB7;
	--c-blue: #42CAFD;
	--c-purple: #7765E3;

}

[data-theme="dark"]:root {	/* Dark Mode */
	--c-black: #F1F1F1; 
	--c-transparent-black: #25252530;
	--c-darkgray: #3F3F3F;
	--c-gray: #393939;
	--c-lightgray: #343434;
	--c-lightergray: #2F2F2F;
	--c-lightestgray: #2A2A2A;
	--c-white: #252525;
	--c-transparent-white: #FFFFFF20;
	--c-orange:  #444;
	--c-lightorange: #3C3C3C;
	--c-yellow: #393939;
	--c-red: #393939;
	--c-green: #393939;
	--c-blue: #393939;
	--c-purple: #393939;
	--c-bronze : #393939;
	/* Unique */
	--csd-orange:  #F19A3E;
	--csd-lightorange: #f2a451;
	/* Shadows */
	--s-black: 0 3px 6px #25252510;
	--s-orange: 0 3px 6px #FF970010;
	--s-red: 0 3px 6px #F84F4F10;
	--s-green: 0 3px 6px #8DFFB710;
}

@font-face {	
	font-family: Poppins-Light;
	src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
	font-family: Poppins-Regular;
	src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

body, html {	/* Gives placeholder background and default font */
    background-color: var(--c-white);
	font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
	color: var(--c-black);
	height: 100%;
	padding: 0;
    margin: 0;
	overflow-x: hidden;
	font-size: var(--f-medium) !important;
}

body * {	/* Gives placeholder background and default font */
	user-select: none;
}

.preload * {
	transition: none !important;
}

button {
	cursor: pointer;
	background-color: transparent;
}

button, input {
	padding: 0;
	font-size: var(--f-medium);
	font-family: var(--f-medium);
	color: var(--c-black);
    outline: none;
    border: none;
}

p {
	margin: 0;
}

form {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--c-black);
	white-space: nowrap;
	cursor: pointer;
}

form.hidden, form.disabled {
	display: none;
	max-width: 0;
	max-height: 0;
	min-width: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

textarea {
	outline: none;
	border: none;
	resize: none;
	font-family: var(--regular);
}

::-webkit-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::-moz-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

:-ms-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::-ms-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

/* ///INPUTS/// */

/* Text Based inputs */

input.hidden {
	display: none;
}

input[type="text"].hidden {
	display: none;
}

input, input:focus {
    color: var(--cs-black);
	outline: none;
	border: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"], input[type="number"].number_input, input[type="time"] {		/* Sets basic look of text and password inputs*/
	background-color: transparent;
	box-sizing: border-box;
	border-bottom: 1px solid var(--c-darkgray);
	margin: 3px 0 30px;
	width: 313px;
	height: 35px;
	padding-left: 35px;
	background-repeat: no-repeat;
	background-position: 10px;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="number"].number_input:focus, input[type="time"]:focus {		/* Sets basic look of text and password inputs*/
	border-bottom: 2px solid var(--c-orange);
}

input[type="text"].no_margin {
	margin: 3px 0;
}

/* Error Texts */

form.error::before {
	content: 'INCORRECT USERNAME OR PASSWORD';
	text-transform: uppercase;
	color: var(--c-red);
	font-family: var(--bold);
	position: absolute;
	top: 30px;
}

label.error  {
	display: flex;
	align-items: center;
}

label.error::after  {
	content: 'REQUIRED';
	text-transform: uppercase;
	color: var(--c-red);
	font-family: var(--bold);
	font-size: var(--f-small);
	margin-left: 10px;
}

label.error + input  {
	border-bottom: 2px solid var(--c-red);
}


/* Input Background Directory */

.username_input {
	background-image: url(../assets/icons/person-black-18dp.svg);
}

.password_input {
	background-image: url(../assets/icons/lock-black-18dp.svg);
}

.name_input {
	background-image: url(../assets/icons/label-black-18dp.svg);
}

.country_input {
	background-image: url(../assets/icons/language-black-18dp.svg);
}

.location_input {
	background-image: url(../assets/icons/location_city-black-18dp.svg);
}

.money_input {
	background-image: url(../assets/icons/payments-black-18dp.svg);
}

.start_date_input {
	background-image: url(../assets/icons/outlined_flag-black-18dp.svg);
}

.end_date_input {
	background-image: url(../assets/icons/flag-black-18dp.svg);
}

.end_date_pre_reg {
	background-image: url(../assets/icons/person_add_disabled-black-18dp.svg);
}

.wc_input {
	background-image: url(../assets/icons/check-black-18dp.svg);
}

.title_input {
	background-image: url(../assets/icons/title-black-18dp.svg);
}

.full_name_input {
	background-image: url(../assets/icons/perm_identity-black-18dp.svg);
}

.email_input {
	background-image: url(../assets/icons/email-black-18dp.svg);
}

.email_contact_input {
	background-image: url(../assets/icons/contact_mail-black-18dp.svg);
}

.phone_number_input {
	background-image: url(../assets/icons/call-black-18dp.svg);
}

.phone_number_contact_input {
	background-image: url(../assets/icons/contact_phone-black-18dp.svg);
}

/* Number inputs */

input[type="number"] {
	width: 40px;
	margin-right: -35px;
}

input[type="number"].number_input.centered {
	width: 100px;
	padding-left: 0;
	text-align: center;
}

input[type="number"].wc_time {
	text-align: right;
	margin: 0;
}

/* Time Input */

input[type="time"] {
	width: 120px;
	padding: 0;
	text-align: center;
}

/* Search Input */

input[type="text"].search {
	background-color: var(--c-lightestgray);
	border-radius: 5px;
	box-shadow: var(--s-black);
	padding: 7.5px 30px;
	font-family: var(--bold);
	background-image: url(../assets/icons/search-black-18dp.svg);
	background-repeat: no-repeat;
	background-position: 10px;
	color: var(--c-black);
	margin: 0;
	height: 100%;
	border: none;
	width: 100%;
}

input[type="text"].search.alt {
	background-color: var(--c-white);
}

input[type="text"].search:focus {
	margin: 0;
	border: none;
}

input[type="text"].search::-webkit-input-placeholder {
	color: var(--c-darkgray);
	font-family: var(--bold);
}

input[type="text"].search::-moz-placeholder {
	color: var(--c-darkgray);
	font-family: var(--bold);
}

input[type="text"].search:-ms-input-placeholder {
	color: var(--c-darkgray);
	font-family: var(--bold);
}

input[type="text"].search::-ms-input-placeholder {
	color: var(--c-darkgray);
	font-family: var(--bold);
}

input[type="text"].search::placeholder {
	color: var(--c-darkgray);
	font-family: var(--bold);
}

.overlay_panel_form input[type="search"] {
	margin: 3px 0 30px;
}

/* Extended Search Input */

input[type="text"].search.cc {
	background-color: var(--c-white);
	border-radius: 5px;
	box-shadow: var(--s-black);
	padding: 6px 30px;
	font-family: var(--bold);
	margin-right: 40px;
	width: 225px;
	z-index: 4;
	position: relative;
	height: auto;
	border: 3px solid var(--cs-lightergray);
	box-sizing: border-box;
}

.search_wrapper {
	width: 225px;
	position: relative;
}

input[type="text"].search.cc:focus + div {
	max-height: 40vh;
	opacity: 1;
	overflow-y: auto;
}

.overlay_panel_form .search_wrapper {
	margin: 3px 0 30px;
	width: 313px;
}

.overlay_panel_form .search_results {
	width: 313px;
	top: calc( var(--f-medium) + 15px );
}

.overlay_panel_form .search_wrapper .search.cc {
	width: 313px;
	margin: 0;
}

.search_results {
	border: 3px solid var(--cs-lightergray);
	border-top: none;
	box-sizing: border-box;
	width: 225px;
	background-color: var(--c-white);
	box-shadow: var(--s-black);
	position: absolute;
	z-index: 3;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-size: var(--f-small);
	transition: opacity var(--t-basic), max-height var(--t-basic);
}

.search_results.empty::after  {
	content: "No results";
	position: relative;
	text-align: center;
	padding: 30px 0;
	font-family: var(--bold);
}

.search_results > a {
	padding: 5px;
	position: relative;
	text-align: center;
	z-index: 0;
	background-color: var(--c-white);
	display: block;
}

.search_results > a.selected {
	background-color: var(--c-lightgray);
}

.search_results > a:hover {
	background-color: var(--c-lightergray);
}

.search_results > a:last-of-type {
	margin-bottom: 10px;
}

.clear_search_button {
	position: absolute;
	height: var(--f-medium);
	width: var(--f-medium);
	background: transparent;
	right: 10px;
	top: 50%;
    transform: translateY(-50%);
	z-index: 5;
}

input:focus ~ .clear_search_button {
	display: none;
}

.clear_search_button > img {
	width: 100%;
	height: 100%;
}

/* Custom Select Input */

.select_input {
	width: 200px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.select_input > input {
	width: 100%;
	border-radius: 5px;
	box-shadow: var(--s-black);
	font-family: var(--bold);
	color: var(--c-black);
	background-color: var(--c-lightestgray);
	padding: 7.5px 0;
	text-align: center;
	border: none !important;
	margin: 0;
}

.select_input > input:focus + div {
	max-height: 40vh;
	opacity: 1;
}

.select_input > div {
	position: absolute;
	top: 100%;
	background-color: var(--c-white);
	width: 100%;
	z-index: 1;
	box-shadow: var(--s-black);
	display: flex;
	flex-direction: column;
	transition: all var(--t-basic);
	opacity: 1;
	overflow: hidden;
	padding: 15px 0 10px;
	max-height: 0;
	opacity: 0;
	z-index: -1;
}

.select_input > div.empty::after  {
	content: "No results";
	position: relative;
	text-align: center;
	padding: 30px 0;
	font-family: var(--bold);
}

.select_input > div > button {
	background-color: var(--c-white);
	width: 100%;
	padding: 5px 0;
}

.select_input > div > button:hover {
	background-color: var(--c-lightestgray);
}

.select_input > div > button.selected {
	background-color: var(--c-lightestgray);
}

.select_input.dense > div {
	overflow-y: auto;
}

.select_input.dense > div > button {
	padding: 2px 0;
}

/* Loading Screen */

#loading_bar {
	width: 100vw;
	height: .15em;
	position: absolute;
	top: 40px;
	left: 0;
	background-color: var(--cs-darkgray);
	z-index: 5;
	overflow: hidden;
	opacity: 1;
}

#loading_bar::after {
	width: 0;
	height: 100%;
	background-color: var(--cs-orange);
	content: "";
	position: absolute;
	transition: width var(--t-basic);
}

#loading_bar.load::after {
	width: 26.1651%;
}

#loading_bar.loading::after {
	width: 81.5116261%;
}

#loading_bar.loaded::after {
	width: 100%;
}

#loading_bar.finished {
	height: 0;
	opacity: 0;
	transition: height var(--t-basic) .2s, opacity var(--t-basic) .2s;
}

#loading_bar.hidden {
	display: none;
}

/* CUSTOM TABLE ELEMENTS */

/* These have flex display propety */

.table, .table_row_wrapper, .table_header, .small_status_header, .big_status_header, .table_row, .big_status_item, .table_header_text, .table_item   {
	display: flex;
}

.table {		/* Whole table */
	flex-direction: column;
	color: var(--c-black);
}

.table p {
	font-size: inherit;
}

.table.cw {		/* Whole table */
    width: 100%;
	padding: 0 50px;
	margin-bottom: 50px;
    box-sizing: border-box;
}

.table.cw.middle {		/* Whole table, primarly cw */
	width: 90%;
	margin: 100px auto;
}

.table.no_interaction * {		/* Whole table, primarly cw */
	cursor: default;
}

.table_row_wrapper {	/* Wraps table_row elements */
	flex-direction: column;
	border-left: 2px solid var(--c-darkgray);
	border-right: 2px solid var(--c-gray);
	border-radius: 5px;
}

/* Header */

.table_header {		/* Wraps table_header text elements */
	font-family: var(--light);
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	text-transform: uppercase;
}

.table_header_text.title {
	justify-content: flex-start;
}

.table_header_text.square, .table_item.square {
	min-width: calc(1.4em + 1.25vmin);
	max-width: calc(1.4em + 1.25vmin);
}

.table_item.square.red {
	background-color: var(--c-red) !important;
}

.table_item.square.green {
	background-color: var(--c-green) !important;
}

.table_header_text.square p, .table_item.square p {
	text-overflow: clip !important;
}

.table_header_text.square:last-of-type, .table_item.square:last-of-type {
	margin-right: 15px;
}

.small_status_header {
	width: 20px;
	align-items: center;
	justify-content: center;
	font-size: var(--f-small);
	font-family: var(--bold);
	border: 3px solid transparent;
	max-width: 20px;
}

.big_status_header {
	align-items: center;
	width: calc(1.4em + 1.25vmin - 6px);
	max-width: calc(1.4em + 1.25vmin - 6px);
	justify-content: center;
	border: 3px solid transparent;
}

/* Table row */

.table_row.hidden {
	display: none;
}

/* Basic Coloring of row, Mostly CC */
.table_row_wrapper .table_row {
	background-color: var(--c-white);
}

.table_row_wrapper .table_row:hover, .table_row_wrapper .table_row:nth-child(even):hover  { /* Hover */
	background-color: var(--c-lightergray);
}

.table_row_wrapper .table_row:nth-child(even) {	/* Coloring of rows */
	background-color: var(--c-lightestgray);
}

/* Alternative Coloring of row, Mostly CW */
.table_row_wrapper.alt .table_row {
	background-color: var(--c-lightestgray);
}

.table_row_wrapper.alt .table_row:hover, .table_row_wrapper.alt .table_row:nth-child(even):hover {
	background-color: var(--c-lightgray);
}

.table_row_wrapper.alt .table_row:nth-child(even) {	/* Coloring of rows */
	background-color: var(--c-lightergray);
}

/* General */

.table_row {
	outline: none;
	cursor: pointer;
	transition: transform var(--t-basic), border-radius var(--t-basic), box-shadow var(--t-basic);
}

.entry > .table_row {
	background-color: var(--c-white);
}

.entry > .table_row:hover {
	background-color: var(--c-lightergray);
}

.table_row_wrapper.alt > .entry > .table_row:hover {
	background-color: var(--c-lightgray);
}

.table_row_wrapper .entry:nth-of-type(even) > .table_row, .table_row_wrapper > #add_entry:nth-of-type(even) .table_row, #add_entry:nth-of-type(even) + #adding_entry .table_row {
	background-color: var(--c-lightestgray);
}

.entry:nth-of-type(even) > .table_row, .table_row_wrapper #add_entry .table_row, #add_entry + #adding_entry .table_row {
	background-color: var(--c-white);
}

.table_row_wrapper.alt .entry:nth-of-type(even) > .table_row, .table_row_wrapper.alt > #add_entry:nth-of-type(even) .table_row, #add_entry:nth-of-type(even) + #adding_entry .table_row {
	background-color: var(--c-lightergray);
}

.entry:nth-of-type(even) > .table_row, .table_row_wrapper.alt #add_entry .table_row, #add_entry + #adding_entry .table_row {
	background-color: var(--c-lightestgray);
}

.entry .entry_panel {
	background-color: var(--c-white);
}

.entry:nth-of-type(even) .entry_panel {
	background-color: var(--c-lightestgray);
}

.table_row_wrapper.alt .entry .entry_panel {
	background-color: var(--c-lightestgray);
}

.table_row_wrapper.alt .entry:nth-of-type(even) .entry_panel {
	background-color: var(--c-lightergray);
}

.table_row.selected {
	background-color: var(--c-orange) !important;
	box-shadow: var(--s-black);
	transform: scale(1.01);
	font-family: var(--bold);
	border-radius: 2.5px;
	overflow: hidden;
}

.table_row.selected .table_item {
	overflow: visible !important;
}

.table_row.selected p {
	overflow: visible !important;
	text-overflow: clip !important;
}

.table_row_drop {
	display: none !important;
	justify-content: center;
	align-items: center;
}

.table_row_drop.collapsed {
	background-color: var(--c-darkgray) !important;
	height: 100%;
	min-height: 3px;
	display: flex !important;
}

.table_row_drop.opened {
	display: flex !important;
	background-color: var(--c-lightgray) !important;
	min-height: calc(1.4em + 1.25vmin);
}

.table_row_drop.opened:after {
	content: "Drop Fencer here";
	color: var(--c-darkgray);
}

.table_row_drop.opened:hover {
	background-color: var(--c-lightergray) !important;
	max-width: 100% !important;
	transform: scale(1.01);
	font-family: var(--bold);
}

.table_row_drop:hover p {
	color: var(--c-black);
}

.table_row.start > .table_item {
	padding-right: 20px;
}

.table_row.start > .table_item:first-child {
	padding-left: 10px;
}

/* Table Items */

.table.first_column_small .table_row > .table_item:first-of-type, .table.first_column_small .table_header_text:first-of-type {
	flex: 0 0 auto;
	min-width: 20%;
}

.table_item.row_title {
	font-family: var(--light);
	text-transform: uppercase;
}

.table_item.bold {
	font-family: var(--bold);
}

.small_status_item {
	width: 20px;
	max-width: 20px;
}

.big_status_item {
	width: calc(1.4em + 1.25vmin - 6px);
	max-width: calc(1.4em + 1.25vmin - 6px);
	justify-content: center;
	align-items: center;
	border: 3px solid transparent;
}

.big_status_item > label {
	align-self: center;
	margin: 0 !important;
}

.big_status_item > img {
	height: 65%;
	width: 65%;
}

.table_row .filled {
	background-color: var(--c-gray);
}

.table_row .red {
	background-color: var(--c-red);
	border: 3px solid var(--cs-red);
}

.table_row .green {
	background-color: var(--c-green);
	border: 3px solid var(--cs-green);
}

.table_row .gray, .table_row .silver {
	background-color: var(--c-gray);
	border: 3px solid var(--cs-gray);
}

.table_row .yellow, .table_row .gold {
	background-color: var(--c-yellow);
	border: 3px solid var(--cs-yellow);
}

.table_row .blue {
	background-color: var(--c-blue);
	border: 3px solid var(--cs-blue);
}

.table_row .purple {
	background-color: var(--c-purple);
	border: 3px solid var(--cs-purple);
}

.table_row .bronze {
	background-color: var(--c-bronze);
	border: 3px solid var(--cs-bronze);
}

/* Universal Table */

.table_row {
	height: calc(1.4em + 1.25vmin);
}

.table_header_text, .table_item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}

.table_item.selected {
	background-color: var(--c-orange) !important;
	transform: scale(1.01);
	font-family: var(--bold);
	border-radius: 2.5px;
	overflow: hidden;
}

.table_item p {
	padding: 0 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* When only 2 column */

.t_c_2 .table_header_text, .t_c_2 .table_item {
	max-width: 75% !important;
}

/* When only 1 column and big or small status item*/

.t_c_1 .table_header_text, .t_c_1 .table_item {
	max-width: 90% !important;
}

/* True 1 column */

.t_c_0 .table_header_text, .t_c_0 .table_item {
	max-width: 100% !important;
}

/* Table Sort */

/* Resizer */

.resizer {
	border-radius: 7px;
	position: relative;
	width: 13px;
	height: 100%;
	cursor: col-resize;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-color: var(--c-gray);
	z-index: 1;
	border-left: 5px solid var(--c-lightergray);
	border-right: 5px solid var(--c-lightergray);
}

.resizer:hover {
	background-color: var(--c-darkgray);
}

.resizer:active {
	background-color: var(--cs-blue);
}

/* ///SCROLL BAR// */

::-webkit-scrollbar { /* Width */
    width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb { /* Handle */
	background: var(--c-darkgray); 
	border-radius: 10px;
}
  
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: var(--c-gray); 
}

input[value="Search"], input[value="Use Ranking"], input[value="Use this Ranking"] {
	padding: 7.5px 30px;
	background-color: var(--c-orange);
	border-radius: 5px;
	font-family: var(--bold);
	cursor: pointer;
}

/* Input Classes */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p.wc_time {
	font-size: var(--f-small);
}

/* ///ALL BUTTONS/// */

/* Entry */

.entry {
	display: flex;
	flex-direction: column;
	position: relative;
}

.entry.opened > .table_row {
	font-family: var(--bold);
	background-color: var(--c-orange) !important;
}

.entry_panel {
	width: 100%;
	height: 40vh;
	max-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: height 0.3s ease-out;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.entry_panel.collapsed {
	height: 0;
	overflow: hidden;
}

.entry_panel > p {
	position: absolute;
	right: 9px;
	top: 5px;
	font-size: var(--f-large);
	font-family: var(--bold);
}

/* ///CALL_ROOM/// */

#call_room {
	margin: 0 50px;
	display: flex;
	position: relative;
	border-radius: 5px;
	box-shadow: var(--s-black);
	overflow: hidden;
}

#call_room.cc {
	margin: 20px;
	width: 100%;
}

#call_room.cw {
	margin-bottom: 50px;
}

.elimination_slider_button {
	position: absolute;
	width: calc(var(--f-large) + 25px);
	height: calc(var(--f-large) + 25px);
	background-color: var(--c-gray);
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	z-index: 4;
	border-radius: 5px;
}

.elimination_slider_button.disabled {
	-webkit-filter: contrast(50%);
	        filter: contrast(50%);
	pointer-events: none;
}

.elimination_slider_button > img {
	width: calc(var(--f-medium));
	height: calc(var(--f-medium));
}

.elimination_slider_button.left {
	left: 0;
	
}
.elimination_slider_button.right {
	right: 0;
}

.elimination {
	flex: 1 1 0px;
	transition: flex ease-in .2s, max-height ease-in .5s .2s;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 0;
	max-height: calc( (var(--f-small) + 30px) * 128);
}

.elimination.hidden {
	max-height: 0;
	flex: 0;
	overflow: hidden;
}

/* Coloring of Columns and column labels, both cc and cw */

#call_room .elimination:nth-child(odd), #call_room .elimination:nth-child(even) .elimination_label {
	background-color: var(--c-lightergray);
}

#call_room.cc .elimination:nth-child(odd), #call_room.cc .elimination:nth-child(even) .elimination_label {
	background-color: var(--c-lightestgray);
}

#call_room .elimination:nth-child(even), #call_room  .elimination:nth-child(odd) .elimination_label {
	background-color: var(--c-lightestgray);
}

#call_room.cc .elimination:nth-child(even), #call_room.cc  .elimination:nth-child(odd) .elimination_label {
	background-color: var(--c-white);
}

.elimination_label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--f-large);
	font-family: var(--bold);
	padding: 7.5px 0;
	width: 100%;
	background-color: var(--c-lightestgray);
}

.table_round_wrapper {
	padding: 5px 0;
	flex-grow: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

/* cw specific, makes good looking hover */
#call_room.cw  .table_round_wrapper:hover {
	transform: scale(1.01);
}


.table_round_wrapper > div:not(.table_round){
	display: flex;
	justify-content: space-between;
	margin: 0 25px;
	font-size: var(--f-small);
	white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
}

.elimination > .table_round_wrapper:nth-child(2) {
	margin-top: 15px;
}

.elimination > .table_round_wrapper:last-of-type {
	margin-bottom: 15px;
}

.table_round {
	position: relative;
	display: flex;
	flex-direction: column;
	cursor: pointer;
	box-shadow: var(--s-black);
	overflow: hidden;
	border-radius: 4px;
	margin: 0 25px;
}

.table_round_wrapper:before, .table_round_wrapper:after {
	background-color: var(--c-darkgray);
	z-index: 2;
	content: "";
	position: absolute;
}

.table_round_wrapper:before {
	width: 100%;
	height: 2px;
	right: 0;
	top: calc(50% - 1px);
}

.table_round_wrapper:after {
	width: 2px;
	height: 50%;
	right: -1px;
	top: calc(50% - 1px);
}

/* general */

.elimination > .table_round_wrapper:nth-child(2n+3):after {
	width: 2px;
	height: 50%;
	right: -1px;
	top: 0;
}

/* First column */

#call_room > .elimination:nth-of-type(3) > .table_round_wrapper:before {
	width: calc(100% - 25px);
	right: 0;
}

/* 1 Before last column */

.elimination:nth-last-of-type(2) > .table_round_wrapper:after {
	display: none;
}

/* Winner cloumn */

.elimination:last-of-type > .table_round_wrapper:after {
	display: none;
}

.elimination:last-of-type > .table_round_wrapper:before {
	width: 25px;
	left: 0;
}

.table_fencer {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: var(--c-white);
	transition: transform var(--t-basic);
	color: var(--cs-black);
}

.table_fencer > div {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 2.5px 0;
	font-family: var(--bold);
}

.table_fencer.dna > .table_fencer_nat, .table_fencer.dna > .table_fencer_number {
	visibility: hidden;
}

.table_fencer.dna > .table_fencer_name {
	color: var(--c-red);
	text-transform: uppercase;
}

.table_fencer_number {
	min-width: 15%;
	width: 15%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.table_fencer_name {
	flex-grow: 1;
	overflow: hidden;
	white-space: nowrap;
}

.table_fencer_name::-webkit-backdrop {
	-webkit-filter: brightness(125%);
	        filter: brightness(125%);
}

.table_fencer_name::backdrop {
	-webkit-filter: brightness(125%);
	        filter: brightness(125%);
}

.table_fencer_name > p {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 5px;
}

.table_fencer_nat {
	text-transform: uppercase;
	min-width: 20%;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--regular) !important;
}

/* Coloring of natinon conatiners, both cc and cw */

#call_room .elimination:nth-child(odd) .table_fencer_nat {
	background-color: var(--c-lightestgray);
}

#call_room.cc .elimination:nth-child(odd) .table_fencer_nat {
	background-color: var(--c-white) !important;
}

#call_room .elimination:nth-child(even) .table_fencer_nat {
	background-color: var(--c-lightergray);
}

#call_room.cc .elimination:nth-child(even) .table_fencer_nat {
	background-color: var(--c-lightestgray) !important;
}

.table_fencer_nat > img {
	max-height: var(--f-xxsmall);
}

.round_settings {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.settings_fencers {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.settings_fencers > div {
	flex-grow: 1;
	white-space: normal;
}

.settings_fencers > div:first-of-type {
	margin-right: 50px;
}

.round_settings_fencer {
	font-size: var(--f-large);
	font-family: var(--bold);
}

.settings_fencers > div:first-of-type > .round_settings_fencer {
	text-align: start;
}

.settings_fencers > div:last-of-type > .round_settings_fencer {
	text-align: end;
}

/* Coloring */

.table_round_wrapper.red .table_fencer_number, .table_round_wrapper.red .table_fencer_name {
	background-color: var(--cs-red);
}

.table_round_wrapper.green .table_fencer_number, .table_round_wrapper.green .table_fencer_name  {
	background-color: var(--cs-green);
}

.table_round_wrapper.yellow .table_fencer_number, .table_round_wrapper.yellow .table_fencer_name  {
	background-color: var(--cs-yellow);
}

.table_round_wrapper.blue .table_fencer_number, .table_round_wrapper.blue .table_fencer_name {
	background-color: var(--cs-blue);
}

.table_round_wrapper.purple .table_fencer_number, .table_round_wrapper.purple .table_fencer_name {
	background-color: var(--cs-purple);
	color: var(--cs-white);
	
}