:root {		/* Used colors, shadows, transitions, font sizes, fint families saved as css variables */
	/* Changes throughout colormodes */
	--c-black: #252525;
	--c-transparent-black: #25252530;
	--c-darkgray: #9B9A9A;
	--c-gray: #CCC;
	--c-lightgray: #DDD;
	--c-lightergray: #ECECEC;
	--c-lightestgray: #F6F6F6;
	--c-white: #FFF;
	--c-transparent-white: #FFFFFF20;
	--c-yellow: #FFC914;
	/*
	--c-secondary: #FF9700;
	--c-tertiary: #FFBE5C;
	--c-secondary: #F19A3E;
	--c-tertiary: #F4AE65;
	*/
	--c-red: #F84F4F;
	--c-lightred: #F97272;
	--c-green: #8DFFB7;
	--c-lightgreen: #A4FFC5;
	--c-blue: #42CAFD;
	--c-lightblue: #68D5FD;
	--c-orange: #FF9700;
	--c-lightorange: #FFBE5C;
	--c-purple: #7765E3;
	--c-bronze :#E58955;
	/* Static throughout colormodes */
	--cs-black: #252525;
	--cs-transparent-black: #25252520;
	--cs-darkgray: #9B9A9A;
	--cs-gray: #CCC;
	--cs-lightgray: #DDD;
	--cs-lightergray: #ECECEC;
	--cs-lightestgray: #F6F6F6;
	--cs-white: #FFF;
	--cs-navbar: #252525;
	--cs-transparent-white: #FFFFFF20;
	--cs-yellow: #FFC914;
	--cs-orange: #F19A3E;
	--cs-lightorange: #F2A451;
	--cs-red: #F84F4F;
	--cs-green: #8DFFB7;
	--cs-blue: #42CAFD;
	--cs-purple: #7765E3;
	--cs-input: #252525;
	--cs-bronze :#E58955;
	/* Unique */
	--csd-orange: transparent;
	--csd-lightorange: transparent;
	/* Shadows */
	--s-black: 0 3px 6px #25252510;
	--s-orange: 0 3px 6px #FF970010;
	--s-red: 0 3px 6px #F84F4F10;
	--s-green: 0 3px 6px #8DFFB710;
	--s-blue: 0 3px 6px #42CAFD10;
	/* Misc */
	--t-basic: ease-in .2s;
	/* Font Sizes */
	--f-xxxxlarge: 2.488rem;
	--f-xxxlarge: 2.074rem;
	--f-xxlarge: 1.728rem;
	--f-xlarge: 1.44rem;
	--f-large: 1.2rem;
	--f-medium: 1rem;
	--f-small: 0.833rem;
	--f-xsmall: 0.694rem;
	--f-xxsmall: 0.579rem;
	/* Fonts */
	--light: Poppins-Light;
	--regular: Poppins-Regular;
	--bold: Poppins-SemiBold;
	/*Icons*/
	--ci-staticblack: saturation(71%);
	--ci-staticwhite: invert();
}

[data-content-theme="danube"]:root {
	--c-primary: #00768b;
	--c-lightprimary: #3391a2;
	--c-secondary: #2CAA58;
	--c-lightsecondary: #56bb79;
	--c-tertiary: #001333;
	--c-lighttertiary: #33425c;
	--cd-primarycontrast: #FFF;
	--ci-primarycontrast: invert();
	--ci-secondarycontrast: contrast(71%);
	--i-fencers-bg: url(../assets/img/fencers_bg_d.svg);
}

[data-content-theme="vanilla"]:root {
	--c-primary: #FF9700;
	--c-lightprimary: #FFBE5C;
	--c-secondary: #FFBE5C;
	--c-lightsecondary: #FF9700;
	--c-tertiary: #FF9700;
	--c-lighttertiary: #FF9700;
	--cd-primarycontrast: #252252;
	--ci-primarycontrast: contrast(71%);
	--ci-secondarycontrast: invert();
	--i-fencers-bg: url(../assets/img/fencers_bg_v.svg);
}

[data-theme="highcontrast"]:root { /* High contrast mode, yellow and dark colors a prominent, biggger font sizes */
	--c-black: #FFFC00;
	--c-transparent-black: #25252530;
	--c-darkgray: #1A1A1A;
	--c-gray: #141414;
	--c-lightgray: #0F0F0F;
	--c-lightergray: #0A0A0A;
	--c-lightestgray: #050505;
	--c-white: #000;
	--c-transparent-white: #25252530;
	--c-secondary: #1A1A1A;
	--c-tertiary: #1A1A1A;
	--c-red: #F84F4F;
	--c-green: #8DFFB7;
	--c-blue: #42CAFD;
	--c-purple: #7765E3;
	--ci-primarycontrast: invert(100%) grayscale(100%) brightness(150%) sepia(90%) hue-rotate(5deg) saturate(5000%) contrast(1);
	--ci-staticblack: invert(100%) grayscale(100%) brightness(150%) sepia(90%) hue-rotate(5deg) saturate(5000%) contrast(1);
	--ci-staticwhite: invert(100%) grayscale(100%) brightness(150%) sepia(90%) hue-rotate(5deg) saturate(5000%) contrast(1);
}

[data-theme="dark"]:root {	/* Dark Mode */
	--c-black: #F1F1F1;
	--c-transparent-black: #25252530;
	--c-darkgray: #3F3F3F;
	--c-gray: #393939;
	--c-lightgray: #343434;
	--c-lightergray: #2F2F2F;
	--c-lightestgray: #2A2A2A;
	--c-white: #252525;
	--c-transparent-white: #FFFFFF20;
	--c-yellow: #393939;
	--c-red: #393939;
	--c-green: #393939;
	--c-blue: #393939;
	--c-purple: #393939;
	--c-bronze : #393939;
	/* Unique */
	--csd-orange: #F19A3E;
	--csd-lightorange: #f2a451;
	/* Shadows */
	--s-black: 0 3px 6px #25252510;
	--s-orange: 0 3px 6px #FF970010;
	--s-red: 0 3px 6px #F84F4F10;
	--s-green: 0 3px 6px #8DFFB710;
	/*Icons*/
	--ci-staticblack: invert();
	--ci-staticwhite: saturation(71%);
}

@font-face {
	font-family: Poppins-Light;
	src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
	font-family: Poppins-Regular;
	src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

body, html {	/* Gives placeholder background and default font */
    background: var(--c-white);
	font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
	color: var(--c-black);
	height: 100%;
	padding: 0;
    margin: 0;
	overflow-x: hidden;
	font-size: var(--f-medium) !important;
}

body * {	/* Gives placeholder background and default font */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.preload * {
	transition: none !important;
}

input[type="button"] {
	cursor: pointer;
}

button {
	cursor: pointer;
	background: transparent;
}

button, input {
	padding: 0;
	font-size: var(--f-medium);
	font-family: var(--f-medium);
	color: var(--c-black);
    outline: none;
    border: none;
}

p {
	margin: 0;
}

form {
	margin: 0;
}

a {
	text-decoration: none;
	color: var(--c-black);
	white-space: nowrap;
	cursor: pointer;
}

form.hidden, form.disabled {
	display: none;
	max-width: 0;
	max-height: 0;
	min-width: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

textarea {
	outline: none;
	border: none;
	resize: none;
	font-family: var(--regular);
}

img[src$=".svg"] {
	-webkit-filter: var(--ci-primarycontrast);
	filter: var(--ci-primarycontrast);
}

img[src$=".svg"].secondary {
	-webkit-filter: var(--ci-secondarycontrast);
	filter: var(--ci-secondarycontrast);
}

img[src$=".svg"].not_icon {
	-webkit-filter: contrast(1) !important;
	filter: contrast(1) !important;
}

::-webkit-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::-moz-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

:-ms-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::-ms-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

.bg_fencers {
	background-image: var(--i-fencers-bg);
	background-size: cover;
	background-position: center center;
}

/* ///FORMS AND INPUTS/// */

label {	/* Used in forms, all caps, thin font    NO option buttons*/
	font-family: var(--bold);
	text-transform: uppercase;
	color: var(--c-black);
	padding: 0;
}

label.hidden {
	display: none;
}

label > p {
	display: none;
}

label:hover > p {
	color: var(--c-white);
	display: block;
	position: absolute;
	padding: 5px 10px;
	font-size: var(--f-small);
	background: #25252590;
	-webkit-backdrop-filter: blur(1px);
	backdrop-filter: blur(1px);
	text-transform: none;
}

label.small {
	text-transform: initial;
	font-size: var(--f-small);
}

.form_wrapper {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: stretch;
}

.form_wrapper p:last-of-type {
	margin-bottom: 30px;
}

.form_wrapper > div {
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_wrapper > div > div {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

/* ///INPUTS/// */

/* Text Based inputs */

input.hidden {
	display: none;
}

input[type="text"].hidden {
	display: none;
}

input, input:focus {
    color: var(--cd-sedondarycontrast);
	outline: none;
	border: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"], input[type="number"].number_input, input[type="time"], input.search.input, button.search.input {		/* Sets basic look of text and password inputs*/
	background-color: var(--c-lightestgray);
	box-sizing: border-box;
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--c-darkgray);
	margin: 3px 0 30px;
	width: 300px;
	height: 37px;
	padding: 0 10px 0 35px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 10px;
}

input[type="text"].alt, input[type="password"].alt, input[type="date"].alt, input[type="email"].alt, input[type="number"].number_input.alt, input[type="time"].alt, input.search.input.alt, button.search.input.alt {		/* Sets basic look of text and password inputs*/
	background-color: var(--c-white);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="number"].number_input:focus, input[type="time"]:focus, input.search.input:focus, button.search.input:focus {		/* Sets basic look of text and password inputs*/
	border-bottom: 2px solid var(--c-primary);
	border-top: 2px solid transparent;
}

input[type="text"].no_margin {
	margin: 3px 0;
}

/* Error Texts */

form.error::before {
	content: 'INCORRECT USERNAME OR PASSWORD';
	text-transform: uppercase;
	color: var(--c-red);
	font-family: var(--bold);
	position: absolute;
	top: 30px;
}

label.error  {
	display: flex;
	align-items: center;
}

label.error::after  {
	content: 'REQUIRED';
	text-transform: uppercase;
	color: var(--c-red);
	font-family: var(--bold);
	font-size: var(--f-small);
	margin-left: 10px;
}

label.error.username::after  {
	content: 'THIS USERNAME IS ALREADY IN USE' !important;
}

label.error + input  {
	border-bottom: 2px solid var(--c-red);
}

/* Input Background Directory */

.username_input {
	background-image: url(../assets/icons/person-black-18dp.svg);
}

.password_input {
	background-image: url(../assets/icons/lock-black-18dp.svg);
}

.name_input {
	background-image: url(../assets/icons/label-black-18dp.svg);
}

.country_input {
	background-image: url(../assets/icons/language-black-18dp.svg);
}

.location_input {
	background-image: url(../assets/icons/location_city-black-18dp.svg);
}

.money_input {
	background-image: url(../assets/icons/payments-black-18dp.svg);
}

.link_input {
	background-image: url(../assets/icons/link-black-18dp.svg);
}

.start_date_input {
	background-image: url(../assets/icons/outlined_flag-black-18dp.svg);
}

.end_date_input {
	background-image: url(../assets/icons/flag-black-18dp.svg);
}

.end_date_pre_reg {
	background-image: url(../assets/icons/person_add_disabled-black-18dp.svg);
}

.wc_input {
	background-image: url(../assets/icons/check-black-18dp.svg);
}

.title_input {
	background-image: url(../assets/icons/title-black-18dp.svg);
}

.full_name_input {
	background-image: url(../assets/icons/perm_identity-black-18dp.svg);
}

.email_input {
	background-image: url(../assets/icons/email-black-18dp.svg);
}

.email_contact_input {
	background-image: url(../assets/icons/contact_mail-black-18dp.svg);
}

.phone_number_input {
	background-image: url(../assets/icons/call-black-18dp.svg);
}

.phone_number_contact_input {
	background-image: url(../assets/icons/contact_phone-black-18dp.svg);
}

/* Number inputs */

input[type="number"] {
	width: 40px;
	margin-right: -35px;
}

input[type="number"].number_input.centered {
	width: 100px;
	text-align: center;
	padding: 0;
}

input[type="number"].wc_time {
	text-align: right;
	margin: 0;
}

/* Time Input */

input[type="time"] {
	width: 120px;
	text-align: center;
	padding: 0 10px;
}

/* Search Input */

.search_wrapper {
	position: relative;
}

input[type="text"].search {
	background-color: var(--c-lightestgray);
	border-radius: 5px;
	padding: 7.5px 30px;
	font-family: var(--bold);
	background-image: url(../assets/icons/search-black-18dp.svg);
	background-repeat: no-repeat;
	background-position: 10px;
	color: var(--c-black);
	border: none;
	width: 300px;
	position: relative;
	z-index: +1;
}

input[type="text"].search + button {
	width: 1rem;
	height: 1rem;
	position: absolute;
	right: 10px;
	top: 50%;
	z-index: +2;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type="text"].search + button img {
	width: 1rem;
	height: 1rem;
}

input[type="text"].search.alt {
	background: var(--c-white);
}

input[type="text"].search:focus {

}

/* Extended Search Input */

input[type="text"].search.page {
	background-color: var(--c-white);
	border-radius: 5px;
	padding: 0 30px;
	font-family: var(--bold);
	z-index: +1;
	position: relative;
	border: 3px solid var(--cs-lightergray);
	box-sizing: border-box;
	background-image: url(../assets/icons/search-black-18dp.svg);
	background-repeat: no-repeat;
	background-position: 10px;
	margin: 0;
	height: 37px;
}

input[type="text"].search.page.alt {
	background-color: var(--c-lightestgray);
}

input[type="text"].search.cc:focus + button + div {
	max-height: 40vh;
	opacity: 1;
	overflow-y: auto;
}

.search.select {
	background-color: var(--c-white);
	border-radius: 5px;
	padding: 0 30px;
	font-family: var(--bold);
	z-index: +1;
	position: relative;
	border: 3px solid var(--cs-lightergray);
	box-sizing: border-box;
	margin: 0;
	width: 200px;
	height: 37px;
}

label + .search_wrapper {
	margin: 3px 0 30px;
	width: 300px;
}

label + .search_wrapper .search_results {
	width: 300px;
}

label + .search_wrapper .search.cc {
	width: 300px;
	margin: 0;
}

.search_results {
	border: 3px solid var(--cs-lightergray);
	border-top: none;
	box-sizing: border-box;
	width: 225px;
	background: var(--c-white);
	box-shadow: var(--s-black);
	position: absolute;
	top: 100%;
	z-index: 3;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	font-size: var(--f-small);
	transition: opacity var(--t-basic), max-height var(--t-basic);
}

.search_results.empty::after  {
	content: "No results";
	position: relative;
	text-align: center;
	padding: 30px 0;
	font-family: var(--bold);
}

.search_results > a {
	padding: 5px;
	position: relative;
	text-align: center;
	z-index: 0;
	background: var(--c-white);
	display: block;
}

.search_results > a.selected {
	background: var(--c-lightgray);
}

.search_results > a:hover {
	background: var(--c-lightergray);
}

/* Custom Select Input */

.select_input {
	width: 200px;
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 5;
}

.select_input > input {
	width: 100%;
	border-radius: 5px;
	font-family: var(--bold);
	color: var(--c-black);
	background: var(--c-lightestgray);
	padding: 7.5px 0;
	text-align: center;
	border: none !important;
	margin: 0;
}

.select_input > input:focus + div {
	max-height: 40vh;
	opacity: 1;
}

.select_input > div {
	position: absolute;
	top: 100%;
	background: var(--c-white);
	width: 100%;
	z-index: 1;
	box-shadow: var(--s-black);
	display: flex;
	flex-direction: column;
	transition: all var(--t-basic);
	opacity: 1;
	overflow: hidden;
	padding: 15px 0 10px;
	max-height: 0;
	opacity: 0;
	z-index: -1;
}

.select_input > div.empty::after  {
	content: "No results";
	position: relative;
	text-align: center;
	padding: 30px 0;
	font-family: var(--bold);
}

.select_input > div > button {
	background: var(--c-white);
	width: 100%;
	padding: 5px 0;
}

.select_input > div > button:hover {
	background: var(--c-lightestgray);
}

.select_input > div > button.selected {
	background: var(--c-lightestgray);
}

.select_input.dense > div {
	overflow-y: auto;
}

.select_input.dense > div > button {
	padding: 2px 0;
}

/* Loading Screen */

#loading_bar {
	width: 100vw;
	height: .15em;
	position: absolute;
	top: 40px;
	left: 0;
	background: var(--cs-darkgray);
	z-index: 5;
	overflow: hidden;
	opacity: 1;
}

#loading_bar::after {
	width: 0;
	height: 100%;
	background: var(--c-primary);
	content: "";
	position: absolute;
	transition: width var(--t-basic);
}

#loading_bar.load::after {
	width: 26.1651%;
}

#loading_bar.loading::after {
	width: 81.5116261%;
}

#loading_bar.loaded::after {
	width: 100%;
}

#loading_bar.finished {
	height: 0;
	opacity: 0;
	transition: height var(--t-basic) .2s, opacity var(--t-basic) .2s;
}

#loading_bar.hidden {
	display: none;
}

/* CUSTOM TABLE ELEMENTS */

/* These have flex display propety */

.table, .table_row_wrapper, .table_header, .small_status_header, .big_status_header, .table_row, .big_status_item, .table_header_text, .table_item   {
	display: flex;
}

.table {		/* Whole table */
	flex-direction: column;
	color: var(--c-black);
}

.table p {
	font-size: inherit;
}

.table.cw {		/* Whole table */
    width: 100%;
	margin-bottom: 50px;
    box-sizing: border-box;
}

.table.full {		/* 100% width no ppading */
    width: 100%;
}

.table.cw.middle {		/* Whole table, primarly cw */
	margin: 100px auto;
}

.table.no_interaction * {		/* Whole table, primarly cw */
	/*cursor: default;*/
}

.table.no_interaction .table_row:hover {		/* Whole table, primarly cw */
	-webkit-filter: brightness(1) !important;
	filter: brightness(1) !important;
}

.table_row_wrapper {	/* Wraps table_row elements */
	flex-direction: column;
	border-left: 2px solid var(--c-darkgray);
	border-right: 2px solid var(--c-gray);
	border-radius: 5px;
}

/* Header */

.table_header {		/* Wraps table_header text elements */
	font-family: var(--light);
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	text-transform: uppercase;
}

.table_header_text.title {
	justify-content: flex-start;
}

.table_header_text.square, .table_item.square {
	min-width: calc(1.4em + 1.25vmin);
	max-width: calc(1.4em + 1.25vmin);
}

.table_item.square.red {
	background: var(--c-red) !important;
}

.table_item.square.green {
	background: var(--c-green) !important;
}

.table_header_text.square p, .table_item.square p {
	text-overflow: clip !important;
}

.table_header_text.square:last-of-type, .table_item.square:last-of-type {
	margin-right: 15px;
}

.small_status_header {
	width: 20px;
	align-items: center;
	justify-content: center;
	font-size: var(--f-small);
	font-family: var(--bold);
	border: 3px solid transparent;
	max-width: 20px;
}

.big_status_header {
	align-items: center;
	width: calc(1.4em + 1.25vmin - 6px);
	max-width: calc(1.4em + 1.25vmin - 6px);
	justify-content: center;
	border: 3px solid transparent;
}

/* Table row */

.table_row.hidden {
	display: none;
}

/* Basic Coloring of row, Mostly CC */
.table_row_wrapper > .table_row {
	background: var(--c-white);
}

.table_row:hover {
	-webkit-filter: brightness(.9) !important;
	filter: brightness(.9) !important;
}

.table_row.selected:hover {
	-webkit-filter: brightness(1.1) !important;
	filter: brightness(1.1) !important;
}

.table_row_wrapper > .table_row:nth-child(even) {	/* Coloring of rows */
	background: var(--c-lightestgray);
}

/* Alternative Coloring of row, Mostly CW */
.table_row_wrapper.alt > .table_row {
	background: var(--c-lightestgray);
}

.table_row_wrapper.alt > .table_row:nth-child(even) {	/* Coloring of rows */
	background: var(--c-lightergray);
}

/* General */

.table_row {
	outline: none;
	cursor: pointer;
	transition: transform var(--t-basic), border-radius var(--t-basic), box-shadow var(--t-basic);
}

.entry > .table_row {
	background: var(--c-white);
}

.table_row_wrapper .entry:nth-of-type(even) > .table_row, .table_row_wrapper > #add_entry:nth-of-type(even) .table_row, #add_entry:nth-of-type(even) + #adding_entry .table_row {
	background: var(--c-lightestgray);
}

.entry:nth-of-type(even) > .table_row, .table_row_wrapper #add_entry .table_row, #add_entry + #adding_entry .table_row {
	background: var(--c-white);
}

.table_row_wrapper.alt .entry > .table_row, .table_row_wrapper.alt > #add_entrye .table_row, #add_entry + #adding_entry .table_row {
	background: var(--c-lightestgray);
}

.table_row_wrapper.alt .entry:nth-of-type(even) > .table_row, .table_row_wrapper.alt > #add_entry:nth-of-type(even) .table_row, #add_entry:nth-of-type(even) + #adding_entry .table_row {
	background: var(--c-lightergray);
}

.entry:nth-of-type(even) > .table_row, .table_row_wrapper.alt #add_entry .table_row, #add_entry + #adding_entry .table_row {
	background: var(--c-lightestgray);
}

.entry .entry_panel {
	background: var(--c-white);
}

.entry:nth-of-type(even) .entry_panel {
	background: var(--c-lightestgray);
}

.table_row_wrapper.alt .entry .entry_panel {
	background: var(--c-lightestgray);
}

.table_row_wrapper.alt .entry:nth-of-type(even) .entry_panel {
	background: var(--c-lightergray);
}

.table_row.selected {
	background: var(--c-primary) !important;
	box-shadow: var(--s-black);
	transform: scale(1.01);
	font-family: var(--bold);
	border-radius: 2.5px;
	overflow: hidden;
}

.table_row.selected .table_item {
	overflow: visible !important;
}

.table_row.selected p {
	overflow: visible !important;
	text-overflow: clip !important;
	color: var(--ci-secondarycontrast)
}

.table_row_drop {
	display: none !important;
	justify-content: center;
	align-items: center;
}

.table_row_drop.collapsed {
	background: var(--c-darkgray) !important;
	height: 100%;
	min-height: 3px;
	display: flex !important;
}

.table_row_drop.opened {
	display: flex !important;
	background: var(--c-lightgray) !important;
	min-height: calc(1.4em + 1.25vmin);
}

.table_row_drop.opened:after {
	content: "Drop Fencer here";
	color: var(--c-darkgray);
}

.table_row_drop.opened:hover {
	background: var(--c-lightergray) !important;
	max-width: 100% !important;
	transform: scale(1.01);
	font-family: var(--bold);
}

.table_row_drop:hover p {
	color: var(--c-black);
}

.table_row.start > .table_item {
	padding-right: 20px;
}

.table_row.start > .table_item:first-child {
	padding-left: 10px;
}

/* Table Items */

.table.first_column_small .table_row > .table_item:first-of-type, .table.first_column_small .table_header_text:first-of-type {
	flex: 0 0 auto;
	min-width: 20%;
}

.table_item.row_title {
	font-family: var(--light);
	text-transform: uppercase;
}

.table_item.bold {
	font-family: var(--bold);
}

.small_status_item {
	width: 20px;
	max-width: 20px;
}

.big_status_item {
	width: calc(1.4em + 1.25vmin - 6px);
	max-width: calc(1.4em + 1.25vmin - 6px);
	justify-content: center;
	align-items: center;
	border: 3px solid transparent;
}

.big_status_item > label {
	align-self: center;
	margin: 0 !important;
}

.big_status_item > img {
	height: 65%;
	width: 65%;
}

.table_row .filled {
	background: var(--c-gray);
}

.table_row .red {
	background: var(--c-red);
	border: 3px solid var(--cs-red);
}

.table_row .green {
	background: var(--c-green);
	border: 3px solid var(--cs-green);
}

.table_row .gray, .table_row .silver {
	background: var(--c-gray);
	border: 3px solid var(--cs-gray);
}

.table_row .yellow, .table_row .gold {
	background: var(--c-yellow);
	border: 3px solid var(--cs-yellow);
}

.table_row .blue {
	background: var(--c-blue);
	border: 3px solid var(--cs-blue);
}

.table_row .purple {
	background: var(--c-purple);
	border: 3px solid var(--cs-purple);
}

.table_row .bronze {
	background: var(--c-bronze);
	border: 3px solid var(--cs-bronze);
}

/* Universal Table */

.table_row {
	height: calc(1.4em + 1.25vmin);
}

.table_header_text, .table_item {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
	max-width: 50%;
}

.table_item.selected {
	background: var(--c-secondary) !important;
	transform: scale(1.01);
	font-family: var(--bold);
	overflow: hidden;
}

.table_item.capitalize p::first-letter {
	text-transform: capitalize;
}

.table_item p {
	padding: 0 20px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* When only 2 column */

.t_c_2 .table_header_text, .t_c_2 .table_item {
	max-width: 75% !important;
}

/* When only 1 column and big or small status item*/

.t_c_1 .table_header_text, .t_c_1 .table_item {
	max-width: 90% !important;
}

/* True 1 column */

.t_c_0 .table_header_text, .t_c_0 .table_item {
	max-width: 100% !important;
}

/* Table Sort */

/* Resizer */

.resizer {
	border-radius: 7px;
	position: relative;
	width: 13px;
	height: 100%;
	cursor: col-resize;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: var(--c-gray);
	z-index: 1;
	border-left: 5px solid var(--c-lightergray);
	border-right: 5px solid var(--c-lightergray);
}

.resizer:hover {
	background: var(--c-darkgray);
}

.resizer:active {
	background: var(--cs-blue);
}

/* ///SCROLL BAR// */

*.small_scroll::-webkit-scrollbar { /* Width */
    width: 6px;
	height: 6px;
}

::-webkit-scrollbar { /* Width */
    width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb { /* Handle */
	background: var(--c-darkgray);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
    background: var(--c-gray);
}

input[value="Search"], input[value="Use Ranking"], input[value="Use this Ranking"] {
	padding: 7.5px 30px;
	background: var(--c-primary);
	border-radius: 5px;
	font-family: var(--bold);
	cursor: pointer;
	color: var(--c-white);
}

/* Input Classes */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p.wc_time {
	font-size: var(--f-small);
}

/* ///ALL BUTTONS/// */

/* Entry */

.entry {
	display: flex;
	flex-direction: column;
	position: relative;
}

.entry.opened > .table_row {
	font-family: var(--bold);
	background: var(--c-primary) !important;
	color: var(--cs-white);
}

.entry_panel {
	width: 100%;
	height: 40vh;
	max-height: 500px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: height 0.3s ease-out;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

.entry_panel.collapsed {
	height: 0;
	overflow: hidden;
}

.entry_panel > p {
	position: absolute;
	right: 9px;
	top: 5px;
	font-size: var(--f-large);
	font-family: var(--bold);
}