@charset "UTF-8";

:root {		/* Used colors, shadows, transitions, font sizes, fint families saved as css variables */
	/* Changes throughout colormodes */

	/* Needs to be RGB and RGBA because tehse have the most browser support, HEXA is just not there yet :(*/
	--c-black: rgb(37,37,37);
	--c-transparent-black: rgba(37,37,37,.3);
	--c-darkgray: rgb(154, 154, 154);
	--c-gray: rgb(204, 204, 204);
	--c-lightgray: rgb(221, 221, 221);
	--c-lightergray: rgb(236, 236, 236);
	--c-lightestgray: rgb(246, 246, 246);
	--c-white: rgb(255, 255, 255);
	--c-transparent-white: rgba(255,255,255,.3);
	/* Legacy stuff
	--c-secondary: #FF9700;
	--c-tertiary: #FFBE5C;
	--c-secondary: #F19A3E;
	--c-tertiary: #F4AE65;
	*/
	--c-yellow: rgb(255, 201, 20);
	--c-lightyellow: rgb(255, 212, 67);
	--c-red: rgb(248, 79, 79);
	--c-lightred: rgb(249, 114, 114);
	--c-green: rgb(141, 255, 183);
	--c-lightgreen: rgb(164, 255, 197);
	--c-blue: rgb(66, 202, 253);
	--c-lightblue: rgb(104, 213, 253);
	--c-orange: rgb(255, 151, 0);
	--c-lightorange: rgb(255, 190, 92);
	--c-purple: rgb(119, 101, 227);
	--c-lightpurple: rgb(146, 132, 233);
	--c-bronze:rgb(229, 137, 85);
	/* Static throughout colormodes */
	--cs-black: rgb(37, 37, 37);
	--cs-transparent-black: rgba(37, 37, 37, 0.125);
	--cs-darkgray: rgb(155, 154, 154);
	--cs-gray: rgb(204, 204, 204);
	--cs-lightgray: rgb(221, 221, 221);
	--cs-lightergray: rgb(236, 236, 236);
	--cs-lightestgray: rgb(246, 246, 246);
	--cs-white: rgb(255, 255, 255);
	--cs-navbar: rgb(37, 37, 37);
	--cs-transparent-white: rgba(255, 255, 255, 0.125);
	--cs-yellow: rgb(255, 201, 20);
	--cs-orange: rgb(241, 154, 62);
	--cs-lightorange: rgb(242, 164, 81);
	--cs-red: rgb(248, 79, 79);
	--cs-green: rgb(141, 255, 183);
	--cs-blue: rgb(66, 202, 253);
	--cs-purple: rgb(119, 101, 227);
	--cs-input: rgb(37, 37, 37);
	--cs-bronze :rgb(229, 137, 85);

	/* Unique */
	--csd-orange: transparent;
	--csd-lightorange: transparent;
	/* Shadows */
	--s-black: 0 3px 6px rgba(37, 37, 37, .1);
	--s-orange: 0 3px 6px rgba(255, 151, 0, 0.063);
	--s-red: 0 3px 6px rgba(248, 79, 79, 0.063);
	--s-green: 0 3px 6px rgba(141, 255, 183, 0.063);
	--s-blue: 0 3px 6px rgba(66, 202, 253, 0.063);
	/* Misc */
	--t-basic: ease-in .2s;
	/* Font Sizes */
	--f-xxxxlarge: 2.488rem;
	--f-xxxlarge: 2.074rem;
	--f-xxlarge: 1.728rem;
	--f-xlarge: 1.44rem;
	--f-large: 1.2rem;
	--f-medium: 1rem;
	--f-small: 0.833rem;
	--f-xsmall: 0.694rem;
	--f-xxsmall: 0.579rem;
	/* Fonts */
	--light: Poppins-Light;
	--regular: Poppins-Regular;
	--bold: Poppins-SemiBold;
	/*Icons*/
	--ci-staticblack: saturation(71%);
	--ci-staticwhite: invert();
}

[data-content-theme="danube"]:root {
	--c-primary: hsl(189, 100%, 27%);
	--c-lightprimary: hsl(189, 52%, 42%);
	--c-secondary: hsl(141, 59%, 42%);
	--c-lightsecondary: hsl(141, 43%, 54%);
	--c-tertiary: hsl(218, 100%, 10%);
	--c-lighttertiary: hsl(218, 29%, 28%);
	--cd-primarycontrast: rgb(255, 255, 255);
	--ci-primarycontrast: invert();
	--ci-secondarycontrast: contrast(71%);
	--i-fencers-bg: url(../assets/img/fencers_bg_d.svg);
}

[data-content-theme="vanilla"]:root {
	--c-primary: var(--c-orange);
	--c-lightprimary: var(--c-lightorange);
	--c-secondary: var(--c-lightorange);
	--c-lightsecondary: var(--c-orange);
	--c-tertiary: var(--c-orange);
	--c-lighttertiary: var(--c-orange);
	--cd-primarycontrast: var(--c-black);
	--ci-primarycontrast: contrast(71%);
	--ci-secondarycontrast: invert();
	--i-fencers-bg: url(../assets/img/fencers_bg_v.svg);
}

[data-theme="highcontrast"]:root { /*High contrast mode, yellow and dark colors a prominent, biggger font sizes*/
	--c-black: rgb(255, 252, 0);
	--c-transparent-black: rgba(37, 37, 37, 0.188);
	--c-darkgray: rgb(26, 26, 26);
	--c-gray: rgb(20, 20, 20);
	--c-lightgray: rgb(15, 15, 15);
	--c-lightergray: rgb(10, 10, 10);
	--c-lightestgray: rgb(5, 5, 5);
	--c-white: hsl(0, 0%, 0%);
	--c-transparent-white: rgba(37, 37, 37, 0.188);
	--c-secondary: rgb(26, 26, 26);
	--c-tertiary: rgb(26, 26, 26);
	--c-red: rgb(248, 79, 79);
	--c-green: rgb(141, 255, 183);
	--c-blue: rgb(66, 202, 253);
	--c-purple: hsl(249, 69%, 64%);
	--ci-primarycontrast: invert(100%) grayscale(100%) brightness(150%) sepia(90%) hue-rotate(5deg) saturate(5000%) contrast(1);
	--ci-staticblack: invert(100%) grayscale(100%) brightness(150%) sepia(90%) hue-rotate(5deg) saturate(5000%) contrast(1);
	--ci-staticwhite: invert(100%) grayscale(100%) brightness(150%) sepia(90%) hue-rotate(5deg) saturate(5000%) contrast(1);
}

[data-theme="dark"]:root {	/*Dark Mode*/
	--c-black: rgb(242, 242, 242);
	--c-transparent-black: rgba(37, 37, 37, 0.188);
	--c-darkgray: rgb(63, 63, 63);
	--c-gray: rgb(57, 57, 57);
	--c-lightgray: rgb(52, 52, 52);
	--c-lightergray: rgb(47, 47, 47);
	--c-lightestgray: rgb(42, 42, 42);
	--c-white: rgb(37, 37, 37);
	--c-transparent-white: rgba(255, 255, 255, 0.125);
	--c-yellow: rgb(57, 57, 57);
	--c-red: rgb(57, 57, 57);
	--c-green: rgb(57, 57, 57);
	--c-blue: rgb(57, 57, 57);
	--c-purple: rgb(57, 57, 57);
	--c-bronze : rgb(57, 57, 57);

	--csd-orange: rgb(241, 154, 62);
	--csd-lightorange: rgb(242, 164, 81);

	--s-black: 0 3px 6px rgba(37, 37, 37, 0.063);
	--s-orange: 0 3px 6px rgba(255, 151, 0, 0.063);
	--s-red: 0 3px 6px rgba(248, 79, 79, 0.063);
	--s-green: 0 3px 6px rgba(141, 255, 183, 0.063);

	--ci-staticblack: invert();
	--ci-staticwhite: saturation(71%);
}


@font-face {
	font-family: Poppins-Light;
	src: url(../assets/fonts/Poppins-Light.ttf);
}

@font-face {
	font-family: Poppins-Regular;
	src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: Poppins-SemiBold;
	src: url(../assets/fonts/Poppins-SemiBold.ttf);
}

body, html {	/* Gives placeholder background and default font */
    background: var(--c-white);
	font-family: Poppins-Regular, Arial, Helvetica, sans-serif;
	color: var(--c-black);
	height: 100%;
	padding: 0;
    margin: 0;
	overflow-x: hidden;
	font-size: var(--f-medium) !important;
}

@supports (scroll-behavior: smooth) {
	body, html {
		scroll-behavior: smooth;
	}
}

/* Annoy Borisz, good feature so things look good when user decides to be a 9 year old with mild autism */
body * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.preload * {
	transition: none !important;
}

button, input[type="button"] {
	cursor: pointer;
	background: transparent;
}

input[type="submit"] {
	cursor: pointer;
}


button, input, textarea {
	padding: 0;
	font-size: var(--f-medium);
	font-family: var(--regular);
	color: var(--c-black);
	caret-color: var(--c-black);
    outline: none;
    border: none;
	resize: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

p, form {
	margin: 0;
}

/*
ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
*/

a {
	text-decoration: none;
	color: var(--c-black);
	white-space: nowrap;
	cursor: pointer;
}

form.hidden, form.disabled {
	display: none;
}

.modal_wrapper.hidden {
    display: none;
}

.bg_fencers {
	background-image: var(--i-fencers-bg);
	background-size: cover;
	background-position: center center;
}

/*
img[src$=".svg"] {
	-webkit-filter: var(--ci-primarycontrast);
	filter: var(--ci-primarycontrast);
}

img[src$=".svg"].secondary {
	-webkit-filter: var(--ci-secondarycontrast);
	filter: var(--ci-secondarycontrast);
}

img[src$=".svg"].not_icon {
	-webkit-filter: contrast(1) !important;
	filter: contrast(1) !important;
}
*/

::-webkit-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::-moz-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

:-ms-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::-ms-input-placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

::placeholder {
	font-size: var(--f-medium);
	color: var(--cs-darkgray) !important;
}

/* ///FORMS AND INPUTS/// */

label {	/* Used in forms, all caps, bold font, NO option buttons*/
	font-family: var(--bold);
	text-transform: uppercase;
	color: var(--c-black);
}

label.hidden {
	display: none;
}

.form_wrapper {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	align-items: stretch;
}

.form_wrapper p:last-of-type {
	margin-bottom: 30px;
}

.form_wrapper > div {
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form_wrapper > div > div {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.form_wrapper > div > div.hidden {
	display: none;
}

.form_wrapper > div > div.row {
	width: 300px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.form_wrapper > div > div.full {
	width: 100%;
	min-width: 300px;
}

/* ///INPUTS/// */

/* Text Based inputs */

input.hidden {
	display: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"], input[type="number"].number_input, input[type="time"] {		/* Sets basic look of text and password inputs*/
	background-color: var(--c-lightestgray);
	box-sizing: border-box;
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--c-darkgray);
	margin: 3px 0 30px;
	width: 300px;
	height: 37px;
	padding: 0 10px 0 35px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 10px;
	text-align: start; /* Needed cos od number inputs */
}

input[type="text"].alt, input[type="password"].alt, input[type="date"].alt, input[type="email"].alt, input[type="number"].number_input.alt, input[type="time"].alt {		/* Sets basic look of text and password inputs*/
	background-color: var(--c-white);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="email"]:focus, input[type="number"].number_input:focus, input[type="time"]:focus {		/* Sets basic look of text and password inputs*/
	border-bottom: 2px solid var(--c-primary);
	border-top: 2px solid transparent;
}

input[type="text"].no_margin {
	margin: 3px 0;
}

/* Error Texts */

form.error::before {
	content: 'INCORRECT USERNAME OR PASSWORD';
	text-transform: uppercase;
	color: var(--c-red);
	font-family: var(--bold);
	position: absolute;
	top: 30px;
}

label.error {
	display: flex;
	align-items: center;
}

label.error::after {
	content: 'REQUIRED';
	text-transform: uppercase;
	color: var(--c-red);
	font-family: var(--bold);
	font-size: var(--f-small);
	margin-left: 10px;
}

label.error.username::after {
	content: 'THIS USERNAME IS ALREADY IN USE' !important;
}

label.error + input {
	border-bottom: 2px solid var(--c-red);
}

/* For development purposes */

/* Input Background Directory */

.username_input {
	background-image: url(../assets/icons/person_black.svg);
}

.password_input {
	background-image: url(../assets/icons/lock_black.svg);
}

.name_input {
	background-image: url(../assets/icons/label_black.svg);
}

.country_input {
	background-image: url(../assets/icons/language_black.svg);
}

.location_input {
	background-image: url(../assets/icons/location_city_black.svg);
}

.money_input {
	background-image: url(../assets/icons/payments_black.svg);
}

.link_input {
	background-image: url(../assets/icons/link_black.svg);
}

.date_input {
	background-image: url(../assets/icons/calendar_today_black.svg);
}

.start_date_input {
	background-image: url(../assets/icons/outlined_flag_black.svg);
}

.end_date_input {
	background-image: url(../assets/icons/flag_black.svg);
}

.end_date_pre_reg {
	background-image: url(../assets/icons/person_add_disabled_black.svg);
}

.wc_input {
	background-image: url(../assets/icons/check_black.svg);
}

.title_input {
	background-image: url(../assets/icons/title_black.svg);
}

.full_name_input {
	background-image: url(../assets/icons/perm_identity_black.svg);
}

.email_input {
	background-image: url(../assets/icons/email_black.svg);
}

.email_contact_input {
	background-image: url(../assets/icons/contact_mail_black.svg);
}

.phone_number_input {
	background-image: url(../assets/icons/call_black.svg);
}

.phone_number_contact_input {
	background-image: url(../assets/icons/contact_phone_black.svg);
}

/* Number inputs */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
  	margin: 0;
}

input[type="number"] {
	width: 40px;
	background-color: transparent;
	text-align: center;
}

@supports ((-webkit-appearance: textfield) or (-moz-appearance: textfield) or (appearance: textfield)) {
	input[type="number"] {
		-webkit-appearance: textfield;
		-moz-appearance: textfield;
		appearance: textfield;
	}
}

@supports (-moz-appearance: textfield) {
	input[type="number"] {
		-moz-appearance: textfield
	}
}

input[type="number"]:not(.number_input):focus {
	border: 3px solid var(--c-primary);
	text-align: center;
}

input[type="number"].number_input.centered {
	width: 100px;
	text-align: center;
	padding: 0;
}

/* Time Input */

input[type="time"] {
	width: 120px;
	text-align: center;
	padding: 0 10px;
}

/* Barcode Input */

form#barcode_form {
	display: flex;
	align-items: center;
}

.barcode_button {
	width: 37px;
	height: 37px;
	border-radius: 50%;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--c-lightgray);
	border: 2pt solid;
	border-color: var(--c-gray);
	position: relative;
	z-index: 1;
}

.barcode_input {
	margin: 0 0 0 -20px !important;
    background-color: var(--c-lightgray) !important;
    border-radius: 20px 20px 0 0 !important;
    border: 2pt solid var(--c-gray) !important;
    font-family: var(--bold) !important;
    width: 200px !important;
	padding: 0 !important;
	color: var(--c-black);
	position: relative;
	z-index: 0;
}

.barcode_input:focus {
    border: 2pt solid var(--c-primary) !important;
}

/* Search Input */

.search_wrapper {
	position: relative;
	z-index: 1;
}

.search_wrapper.hidden {
	display: none;
}

.search_wrapper.higher {
	position: relative;
	z-index: 2;
}

#title_stripe > .search_wrapper {
	margin-left: 20px;
	width: 250px;
}

.search_wrapper.wide {
	width: 300px;
}

.search_wrapper.wide.fixed {
	width: 300px;
	max-width: 300px;
	position: fixed;
	top: 200px;
	height: unset !important;
}

.search_wrapper.narrow {
	width: 200px;
}

.search {
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: 10px;
	color: var(--c-black);
	position: relative;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
	height: 37px;
}

.search + button {	/* Clear or dropdown button */
	width: 1rem;
	height: 1rem;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.search + button img {
	width: 1rem;
	height: 1rem;
	-webkit-filter: var(--ci-staticblack);
	filter: var(--ci-staticblack);
}

/* Clearbutton visbility */

.search.input:not(.select) + button, .search.page + button {
	opacity: 0;
}

.search.input:focus + button, .search.page:focus + button {
	opacity: 1;
}

/* Search when input style */

.search.input {
	border-top: 1px solid transparent;
	border-bottom: 1px solid var(--c-darkgray);
	margin: 0;
	background-color: var(--c-lightestgray);
}

.search.input.alt {
	background-color: var(--c-white);
}

.search.input:focus {
	border-bottom: 2px solid var(--c-primary) !important;
	border-top: 2px solid transparent !important;
}

/* Search on Page */

.search.page {	/* Normal coloring and style */
	background-color: var(--c-white);
	font-family: var(--bold);
	border: 3px solid var(--cs-lightergray) !important;
	background-image: url(../assets/icons/search_black.svg);
	margin: 0;
	width: 100%;
}

.search.page.alt {	/* Alternatove coloring and style */
	background-color: var(--c-lightestgray);
}

.search.page:focus {	/* Normal coloring and style */
	border: 3px solid var(--c-primary) !important;
}

/* Search select */

.search_panel {
	border-radius: 5px;
	overflow: hidden;
	max-height: 0;
	transition: max-height var(--t-basic), padding var(--t-basic), opacity var(--t-basic);
	font-size: var(--f-small);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	opacity: 0;
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.search_panel.option {
	background: var(--c-white);
	padding: 0;
	flex-direction: column;
}

.search_panel .search {
	border: 3px solid var(--cs-lightgray) !important;
	font-size: var(--f-small);
}

.search_panel .search::-webkit-input-placeholder {
	font-size: var(--f-small);
}

.search_panel .search::-moz-placeholder {
	font-size: var(--f-small);
}

.search_panel .search:-ms-input-placeholder {
	font-size: var(--f-small);
}

.search_panel .search::-ms-input-placeholder {
	font-size: var(--f-small);
}

.search_panel .search::placeholder {
	font-size: var(--f-small);
}

.search_panel > .option_container {
	margin: 0 !important;
}

.search_panel > .option_container label {
	margin-bottom: 3px !important;
}

.search_panel_buttons {
	display: flex;
	margin-bottom: 3px;
}

.search_panel_buttons button {
	padding: 5px;
	border-radius: 50%;
	width: 1rem;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search_panel_buttons button:hover {
	background: var(--c-lightergray);
}

.search_panel_buttons button img {
	width: 1rem;
	height: 1rem;
}

.search_panel.opened {
	max-height: 50px;
	opacity: 1;
}

.search_panel.option.opened {
	padding: 10px 0;
	max-height: 150px;
}

.search.select {
	margin: 0;
	width: 100%;
	padding: 0;
}

.search.select.alt {
	background-color: var(--c-lightestgray);
	font-family: var(--bold);
	border: 3px solid var(--cs-lightergray);
	text-align: center;
}

.search.select.altalt {
	background-color: var(--c-lightestgray);
	font-family: var(--bold);
	border: 3px solid var(--cs-lightgray);
	text-align: center;
}

.search.select.alt input, .search.select.altalt input {
	font-family: var(--bold);
}

/* No shaow on cw seletcts */
.search.select.alt + button + .search_results {
	box-shadow: none !important;
}

.search.select input {
	width: 100% !important;
	background-color: transparent !important;
	text-align: center !important;
	border: none !important;
	height: 100% !important;
	padding: 0 !important;
	pointer-events: none;
	margin: 0 !important;
}

.search.select input::-webkit-input-placeholder {
	color: var(--c-darkgray);
}

.search.select input::-moz-placeholder {
	color: var(--c-darkgray);
}

.search.select input:-ms-input-placeholder {
	color: var(--c-darkgray);
}

.search.select input::-ms-input-placeholder {
	color: var(--c-darkgray);
}

.search.select input::placeholder {
	color: var(--c-darkgray);
}

.search.select + button {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

/* Searches in forms */

label + .search_wrapper {
	margin: 3px 0 30px;
}

label + .search_wrapper.wide .search, .search.has_icon  {
	background-image: url(../assets/icons/search_black.svg);
}

/* Search Result */

.search_results.opened {	/* Search opener */
	max-height: 40vh;
	opacity: 1;
	overflow-y: auto;
}

.search_results {
	padding: 3px 0;
	border: 3px solid var(--cs-lightergray);
	border-top: 3px solid var(--cs-white);
	border-top: none;
	box-sizing: border-box;
	width: 100%;
	background: var(--c-white);
	box-shadow: var(--s-black);
	position: absolute;
	top: 34px;
	z-index: 0;
	max-height: 0;
	opacity: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	transition: opacity var(--t-basic), max-height var(--t-basic);
}

.search_results::after {
	position: relative;
	text-align: center;
	padding: 30px 0;
	font-family: var(--bold);
}

.search_results.empty::after {
	content: "No results";
}

.search_results.error::after {
	content: "Incorrect";
	color: var(--c-red);
}

.search_results > * {
	padding: 5px;
	position: relative;
	text-align: center;
	background: var(--c-white);
	display: block;
	font-size: var(--f-small) !important;
}

.search_results > *.selected {
	background: var(--c-lightgray);
}

.search_results > *:hover {
	background: var(--c-lightergray);
}

.search_results > *.hidden {
	display: none;
}

input[value="Search"], input[value="Use Ranking"], input[value="Use this Ranking"] {
	padding: 7.5px 30px;
	background: var(--c-primary);
	border-radius: 5px;
	font-family: var(--bold);
	cursor: pointer;
	color: var(--c-white);
}


/* TABLE ELEMENTS STYLING */



/* Table */

table {
    --lineheight: calc(1.4em + 1.25vmin);
    --roundcorner: 5px;
    color: var(--c-black);
    border: none;
    border-collapse: collapse;
	border-spacing: 0;
    line-height: 1;
    font-size: var(--f-medium);
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

/* Column same and fixed width */
table.fixed {
	table-layout: fixed;
}

/* Smaller font size and row line height */
table.small {
    --lineheight: calc(1.2em + 1.0vmin) !important;
}

table.small p {
    font-size: var(--f-small) !important;
}

/* Even smaller font size but same row line height */
table.xsmall {
    --lineheight: calc(1.2em + 1.0vmin) !important;
}

table.xsmall p {
    font-size: var(--f-xsmall) !important;
}

/* Cursor stays the same on hover, no hover effect */
table.no_interaction tr {
	cursor: default !important;
}

table.no_interaction tr:hover {
	-webkit-filter: none !important;
	filter: none !important;
}



/* Table Header Group */

thead {
    font-family: var(--bold);
	text-transform: uppercase;
}

/* Makes Table Header elements not sticky */
thead.no_stick th {
	position: relative !important;
}

/* Makes Table Header hover not change the cursor type */
thead tr {
	cursor: default !important;
}

/* Makes Table Header elements not sticky */
thead tr:hover {
	-webkit-filter: none !important;
	filter: none !important;
}



/* Table Row Group */

tbody {}

/* Selected rows are not scaled up visually */
tbody.no_scale tr.selected {

}



/* Table Headers */

th {
    font-weight: normal !important;
	position: relative;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: var(--c-lightprimary);
    padding: 5px 0;
}

/* Rounded Corners on the tables top left */
th:first-of-type {
	border-top-left-radius: var(--roundcorner);
}

/* Rounded Corners on the tables top right */
th:last-of-type {
	border-top-right-radius: var(--roundcorner);
}

/* Table Rows */

tr {
    height: var(--lineheight);
    cursor: pointer;
    transition: transform var(--t-basic), border-radius var(--t-basic), box-shadow var(--t-basic);
    outline: none;
    box-shadow: 0 0 0 rgba(37, 37, 37, .1);
}

tbody tr:first-of-type {
    border-top: none !important;
}

tbody tr:last-of-type {
    border-bottom: none !important;
}

tr:hover {
	-webkit-filter: brightness(.9) !important;
	filter: brightness(.9) !important;
}

tr.hidden {
    display: none;
}

/* Makes the whole row bold */
tr.bold {
    font-family: var(--bold);
}

/* Special case of disqualification, makes the first item line-through */
tr.disqualified td:first-child {
	text-decoration: line-through;
	color: var(--c-darkgray);
}

tr.disqualified.selected td:first-child {
	text-decoration: none;
	color: var(--c-black);
}



/* Table Items */

td {
    /*border: 1.5px solid var(--c-lightgray);*/
}

/* Makes the text bold */
td.bold {
	font-family: var(--bold);
}

/* Makes the first letter caps */
td.capitalize p::first-letter {
	text-transform: uppercase;
}

/* Makes the text start on the left side */
td.start {
	text-align: start;
}

/* Rounded Corners on the tables bottom left */
tr:last-of-type td:first-of-type {
	border-bottom-left-radius: var(--roundcorner);
}

/* Rounded Corners on the tables bottom right */
tr:last-of-type td:last-of-type {
	border-bottom-right-radius: var(--roundcorner);
}



/* Table Square Headers and Table Square Items */

th.square, td.square {
    width: var(--lineheight);
}

/* Buttons inside square table elements */
th.square button, td.square button {
    width: 100%;
    height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}

/* Icons and Images inside square table elements */
th.square img, td.square img {
    width: 65%;
    height: 65%;
}



/* Table Header Buttons for sorting and searching */

.table_buttons_wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.table_buttons_wrapper > button {
	width: 1rem;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.table_buttons_wrapper > button img {
	width: 1rem;
	height: 1rem;
}



/* Table Small Headers and Table Small Items*/

th.small, td.small {
    width: 20px;
    min-width: 20px;
}



/* Table Row and Item Selection */

tr.selected {
	background: var(--c-primary) !important;
	box-shadow: var(--s-black);
	transform: scale(1.01);
	font-family: var(--bold);
}

tr.selected:hover {
	-webkit-filter: brightness(1.1) !important;
	filter: brightness(1.1) !important;
}

tr.selected td:first-of-type {
	border-radius: var(--roundcorner) 0 0 var(--roundcorner);
}

tr.selected td:last-of-type {
	border-radius: 0 var(--roundcorner) var(--roundcorner) 0;
}

td.selected {
    background: var(--c-secondary) !important;
	transform: scale(1.01);
	font-family: var(--bold);
}

/* Special case of disqualification, makes the first item line-through exept if selected */
tr.disqualified.selected td:first-child {
	text-decoration: none;
	color: var(--c-black);
}



/* Drop Rows */
tr.drop {
	display: none;
	height: 0;
	color: var(--black);
	font-family: var(--bold);
	font-size: var(--f-small);
}

tr.drop.collapsed {
	height: 20px;
	display: table-row;
	background: var(--c-gray);
}

tr.drop.opened {
	height: 20px;
	display: table-row;
	background: var(--c-lightprimary);
}



/* Text inside Table elements */

th p, tr p {
    padding: 0 7px;
}



/* Table Rows and Items manual coloring */

table .gray, table .silver, table .filled, table .disqualified {
    background: var(--c-gray);
}

table .green {
    background: var(--c-green);
}

table .red {
    background: var(--c-red);
}

table .purple {
    background: var(--c-yellow);
}

table .yellow, table .gold {
    background: var(--c-yellow);
}

table .blue {
    background: var(--c-blue);
}

table .purple {
    background: var(--c-purple);
    color: var(--c-white);
}

table .bronze {
    background: var(--c-bronze);
}



/* Table Rows and Items standard automatic coloring */

tbody tr:nth-child(even) {
    background: var(--c-lightestgray);
}

tbody tr:nth-child(odd) {
    background: var(--c-white);
}

tbody tr {
    border-top: 1.5px solid var(--c-lightgray);
    border-bottom: 1.5px solid var(--c-lightgray);
}



/* Table Rows and Items alternative automatic coloring */

tbody.alt tr:nth-child(even) {
    background: var(--c-lightergray);
}

tbody.alt tr:nth-child(odd) {
    background: var(--c-lightestgray);
}

tbody.alt tr {
    border-top: 1.5px solid var(--c-gray);
    border-bottom: 1.5px solid var(--c-gray);
}



/* Table Rows and Items double alternative automatic coloring */

tbody.altdouble tr:nth-child(2n - 2) {
    background: var(--c-lightergray);
}

tbody.altdouble tr:nth-child(4n - 2) {
    background: var(--c-lightestgray);
}

tbody.altdouble tr {
    border-top: 1.5px solid var(--c-gray);
    border-bottom: 1.5px solid var(--c-gray);
}

tbody.altdouble tr:nth-last-of-type(2) td:first-of-type {
	border-bottom-left-radius: var(--roundcorner);
}

tbody.altdouble tr:nth-last-of-type(2) td:last-of-type {
	border-bottom-right-radius: var(--roundcorner);
}

tbody.altdouble tr:nth-last-of-type(2) {
	border-bottom: none;
}




/* ENTRIES STYLING */



/* Entry Listing Wrapper */

/* Temporary */
#pool_listing .entry {
	margin-bottom: 25px;
}

.entry_wrapper .entry {
	margin-bottom: 35px;
}



/* Whole entry */

.entry {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
	box-shadow: var(--s-black);
	transition: all ease-in-out .2s;
}



/* Entry Header */

.tr {
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(1.4em + 1.25vmin);
	background: var(--c-lightestgray);
	position: relative;
	z-index: 1;
}

.tr.clickable {
	cursor: pointer;
}

/* Makes all the child elements the same width */
.tr.fixed .td {
    flex: 1 1 100%;
}

.tr.bold {
	font-family: var(--bold);
}



/* Entry Header Elements */

.td {
    flex: 1 1 auto;
    text-align: center;
	display: flex;
	flex-direction: column;
}



/* Makes the text bold */
.td.bold {
    font-size: var(--bold);
}

/* Makes the text start at the left side */
.td.start {
    text-align: start !important;
}

/* Makes the element a square shape */
.td.square {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(1.4em + 1.25vmin);
    width: calc(1.4em + 1.25vmin);
}

.td.square {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(1.4em + 1.25vmin);
    width: calc(1.4em + 1.25vmin);
}

/* Buttons inside square elements */
.td.square button {
    width: 100%;
    height: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
}

/* Icons and Images inside square elements */
.td.square img {
    width: 65%;
    height: 65%;
}

/* Inputs inside all td elements */
.td input {
	margin: 0 !important;
}

.td input.hidden {
	display: none;
}

.td p.hidden {
	display: none;
}

/* Entry Panel */

.entry_panel {
    width: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	box-sizing: border-box;
	background: var(--c-white);
	position: relative;
	z-index: 0;
	max-height: 600px;
	opacity: 1;
	overflow: hidden;
	transition: all ease-in-out .2s;
}



/* Entry collapsed styling */

.entry.collapsed .entry_panel {
	max-height: 0;
	opacity: 0;
	padding: 0 50px;
}



/* Selected Entry styling */

.entry.selected {
	transform: scale(1.01);
	border: 3px solid var(--c-secondary);
}

.entry.selected .tr {
    background: var(--c-primary) !important;
	font-family: var(--bold);
}