/* 	Universal */

:root {
	--c-primary: #00768b;
	--c-lightprimary: #3391a2;
	--c-secondary: #2CAA58;
	--c-lightsecondary: #56bb79;
	--c-tertiary: #001333;
	--c-lighttertiary: #33425c;
	--cd-primarycontrast: #FFF;
	--ci-primarycontrast: invert();
	--ci-secondarycontrast: contrast(71%);
	--i-fencers-bg: url(../assets/img/fencers_bg_d.svg);
}

body {
	background: var(--c-lightestgray) !important;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
}

strong {
	font-family: var(--bold);
}

strong.red {
	color: var(--cs-red);
}

strong.green {
	color: var(--cs-green);
}

/* Basic layout */

main {
	width: 100%;
	min-height: calc(100vh - 50px);
	z-index: 0;
	position: relative;
	margin-top: 50px;
}

main.full {
	display: flex;
	flex-direction: column;
}

#content {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	background: var(--c-white);
	box-shadow: 0 3px 6px #25252530;
}

#content.full {
	flex: 1 1 100%;
}

#content_wrapper {
	width: 100%;
	box-sizing: border-box;
}

#content_wrapper.columns {
	display: flex;
	flex-wrap: wrap;
}

#content_wrapper.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 100%;
	flex-direction: column;
	/* Has to be these or viewport will try to override it */
	padding-top: 50px;
	padding-bottom: 50px;
}

#content_wrapper.round {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 1 100%;
	flex-wrap: wrap;
	gap: 50px;
}

#content_wrapper.reverse_wrap {
	display: flex;
	flex-wrap: wrap-reverse;
	padding-top: 30px;
	padding-bottom: 30px;
}

footer {
	width: 100%;
	z-index: 0;
	font-size: var(--f-small);
}

.column {
	flex: 1 1 600px;
	padding: 25px;
}

.column.small {
	flex: 1 1 400px;
	padding: 25px;
}

.column.big {
	flex: 1 1 600px;
	padding: 25px;
}

.column.no_top {
	padding: 12.5px;
}

@media (min-width: 0) {

	header {
		padding: 10px;
	}

	nav#desktop {
		display: none;
	}

	#mobile_navigation_wrapper {
		display: flex;
	}

	#content {
		width: 100%;
	}

	#content_wrapper {
		padding: 0 10px;
	}

	.table .bookmark_button {
		opacity: 1;
	}

	.table {
		font-size: var(--f-small);
	}

	.table .table_item:not(div.table_item:first-of-type), .table .table_header_text:not(div.table_header_text:first-of-type) {
		display: none;
	}

	.table .table_item:first-of-type, .table .table_header_text:first-of-type {
		max-width: 100% !important;
	}

	#browsing_bar > * {
		flex: 1 1 auto;
	}

	#slideshow_title {
		font-size: 2rem;
	}
}

@media (min-width: 576px) {

	header {
		padding: 0 10px;
	}

	#content {
		max-width: 100%;
	}

	#content_wrapper {
		padding: 0 10px;
	}

	#browsing_bar > * {
		flex: 0 1 auto;
	}

	#slideshow_title {
		font-size: 3rem;
	}
}

@media (min-width: 768px) {

	header {
		padding: 0 20px;
	}

	#content {
		max-width: 100%;
	}

	#content_wrapper {
		padding: 0 20px;
	}

	#browsing_bar > * {
		flex: 0 1 auto;
	}

	.table .table_item, .table .table_header_text {
		display: flex !important;
	}

	.table .table_item:first-of-type, .table .table_header_text:first-of-type {
		max-width: 50% !important;
	}

	#slideshow_title {
		font-size: 4rem;
	}
}

@media (min-width: 992px) {

	header {
		padding: 0 40px;
	}

	nav#desktop {
		display: flex;
	}

	#mobile_navigation_wrapper {
		display: none;
	}

	#content {
		width: 1000px;
		max-width: 100%;
	}

	#content_wrapper {
		padding: 0 40px;
	}

	.table .bookmark_button {
		opacity: 0;
	}

	.table {
		font-size: var(--f-medium);
	}

	#slideshow_title {
		font-size: 5rem;
	}
}

@media (min-width: 1200px) {

	header {
		padding: 0 70px;
	}

	#content {
		width: 1500px;
		max-width: 80%;
	}

	#content_wrapper {
		padding: 0 50px;
	}
}

/* ///SCROLL BAR// */

::-webkit-scrollbar { /* Width */
	width: 9px;
	height: 9px;
}

::-webkit-scrollbar-track {
	background: linear-gradient(180deg, var(--c-secondary) 0, var(--c-primary) 100%);
}

::-webkit-scrollbar-thumb { /* Handle */
	background: var(--c-transparent-white);
}

::-webkit-scrollbar-thumb:hover { /* Handle on hover */
	background: rgba(255, 255, 255, 0.4);
}

/* Header */

header {
	width: 100vw;
	max-width: calc(100vw - 9px);
	height: 50px;
	box-sizing: border-box;
	background: linear-gradient(90deg, var(--c-primary) 0,var(--c-secondary) 100%);
	z-index: 2;
	box-shadow: var(--s-black);
	display: flex;
	align-items: stretch;
	position: fixed;
}

body.home header {
	box-shadow: none;
}

body.home #main {
	background: white;
}

body.home #content {
	background: white;
	box-shadow: none;
}

body.home {
	background: white !important;
}

header > div {
	flex: 1 1 0;
	height: 100%;
	width: 0;
	display: flex;
	align-items: center;
}

#app_name {
	font-family: var(--bold);
	color: var(--c-white);
}

nav#desktop {
	justify-content: center;
	position: relative;
}

/*
nav#desktop > div:nth-child(even):before {
	height: 25px;
	width: 2px;
	content: "";
	position: absolute;
	left: -1px;
	top: 50%;
	transform: translateY(-50%);
	background: var(--c-transparent-white);
}

nav#desktop > div:nth-child(even)::after {
	height: 25px;
	width: 2px;
	content: "";
	position: absolute;
	right: -1px;
	top: 50%;
	transform: translateY(-50%);
	background: var(--c-transparent-white);
}
*/

/* Button and lick wrappers */
nav#desktop > div {
	flex: 1 1 auto;
	height: 100%;
	position: relative;
}

nav#desktop > div:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

nav#desktop > div.current > *:first-child {
	font-family: var(--bold);
	background-color: var(--c-transparent-white);
}

nav#desktop > div > *:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0 13px;
	box-sizing: border-box;
	color: var(--c-white);
	font-family: var(--bold);
}

nav#desktop > div > button.opened {
	background: var(--c-transparent-white);
}

#competitions_navigation {
	display: flex;
	flex-direction: column;
	max-width: 0;
	width: auto;
	overflow: hidden;
	transition: max-height var(--t-basic);
	background: var(--c-primary);
	z-index: 1;
	border-radius: 0 0 5px 5px;
}

#competitions_navigation.opened {
	max-width: 1000px;
}

#competitions_navigation div {
	padding: 10px 0;
}

#competitions_navigation a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 2px 0;
	padding: 1px 0;
	flex: 1 1 30%;
	color: var(--c-white);
}

#competitions_navigation a.current {
	font-family: var(--bold);
}

#competitions_navigation a:hover {
	background: var(--c-transparent-white);
}

#change_language {
	justify-content: flex-end;
}

#change_language > div > button {
	background: var(--c-transparent-white);
	height: 30px;
	width: 60px;
	border-radius: 20px;
	font-family: var(--bold);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	transition: all var(--t-basic);
	white-space: nowrap;
	color: var(--c-white);
}

#change_language > div {
	position: relative;
}

#change_language button img {
	width: 20px;
	height: 20px;
	margin-right: -5px;
	transform: rotate(0deg);
	transition: all var(--t-basic);
	-webkit-filter: invert();
	filter: invert();
}

#change_language > div > button.opened {
	width: 200px;
}

#change_language > div > button.opened img {
	transform: rotate(180deg);
}

#change_language_panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 40px;
	right: 0;
	position: absolute;
	width: 0;
	background: linear-gradient(180deg, var(--c-secondary) 0%, var(--c-secondary) 100%);
	border-radius: 0 0 5px 5px;
	transition: all var(--t-basic);
	overflow: hidden;
	opacity: 0;
}

#change_language_panel.opened {
	transition: max-height var(--t-basic);
	overflow-y: auto;
	overflow-x: hidden;
	width: 200px;
	transition: all var(--t-basic);
	opacity: 1;
}

#change_language_panel div {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
	width: 80%;
}

#change_language_panel button {
	width: 100%;
	background: #FFFFFF50;
	border-radius: 3px;
	border: 1px solid var(--c-gray);
	padding: 2px;
	margin: 2px 0;
	font-size: var(--f-small);
}

#change_language_panel button.selected {
	background: #FFFFFF90 !important;
}

#change_language_panel button:hover {
	background: #FFFFFF70;
}

/* Mobile */

#mobile_navigation_wrapper {
	width: auto !important;
	flex-grow: 0;
	justify-content: center;
	align-items: center;
}

#mobile_navigation_wrapper > button {
	background: transparent;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}

#mobile_navigation_wrapper > button.opened {
	background: var(--c-transparent-white);
}

#mobile_navigation_wrapper > button img {
	height: 35px;
	width: 35px;
	-webkit-filter: var(--ci-primarycontrast);
	filter: var(--ci-primarycontrast);
}

nav#mobile {
	z-index: 2;
	left: 0;
	width: 100vw;
	position: absolute;
	top: 50px;
	background: rgba(37, 37, 37, .9);
	height: 100vh;
	max-height: 0;
	transition: max-height var(--t-basic);
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

@supports ((-webkit-backdrop-filter: blur(1px) grayscale(.5)) or (backdrop-filter: blur(1px) grayscale(.5))) {
	nav#mobile {
		-webkit-backdrop-filter: blur(1px) grayscale(.5);
		backdrop-filter: blur(1px) grayscale(.5);
	}
}

nav#mobile.opened {
	max-height: calc(100vh - 50px);
}

nav#mobile > div {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.2;
}

nav#mobile a {
	color: var(--c-white);
	font-size: var(--f-xlarge);
	padding: 5px;
	border-radius: 5px;
	background: var(--c-transparent-white);
	margin: 2px 0;
	transition: background-color var(--t-basic);
}

/* Needed cus nice subtle animaniton */
nav#mobile.opened a {
	background: var(--c-transparent-black);
}

nav#mobile a.current {
	font-family: var(--bold);
	background: var(--c-transparent-white);
}

/* Footer */

footer {
	background: var(--c-black);
	color: var(--c-white);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

footer > div {
	padding: 50px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

footer > div > div {
	margin: 10px;
	flex: 1 1 30%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	white-space: nowrap;
}

.footer_logo {
	height: 50px;
}

footer > div > div:nth-of-type(1) > p {
	font-family: var(--bold);
}

footer > div > div:nth-of-type(2) > p:nth-child(1), footer > div > div:nth-of-type(3) > p:nth-child(1) {
	text-transform: uppercase;
	font-family: var(--bold);
}

footer > div > div:nth-of-type(2) > a, footer > div > div:nth-of-type(3) > a {
	color: var(--c-white);
}

/* Colums */

.column_title {
	font-family: var(--bold);
	font-size: var(--f-large);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.column_title.centered {
	margin: 20px 0 10px;
	justify-content: center;
}

.table_item.live {
	display: flex;
	flex: 0 0 4rem;
}

.table_item.live a {
	border: 4px solid var(--c-red);
	padding: 4px 6px;
	border-radius: 5px;
	font-family: var(--bold);
	line-height: 1;
}

.about_us {
	font-family: var(--bold);
}

/* Competitions Pages */

input[value="Search"] {
	background: var(--c-white);
	font-family: var(--bold);
	border: 3px solid var(--c-primary);
	border-radius: 5px;
	padding: 2px 25px;
	box-shadow: var(--s-black);
	height: 37px;
	color: var(--c-black);
	transition: all var(--t-basic);
	flex-basis: 200px !important;
}

input[value="Search"]:hover {
	border: 5px solid var(--c-primary);
}

#browsing_bar {
	margin: 50px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#browsing_bar.single {
	margin: 50px 0 0;
}

#browsing_bar.single > * {
	margin: 0 0 20px;
}

#browsing_bar > * {
	margin: 0 15px 10px;
}

#browsing_bar > .search {
	max-width: 100%;
	overflow: hidden;
	flex-basis: 300px !important;
}

#browsing_bar > .select_input {
	flex-basis: 200px !important;
}

#browsing_bar > *:nth-of-type(1) {
	z-index: 9;
}

#browsing_bar > *:nth-of-type(2) {
	z-index: 8;
}

#browsing_bar > *:nth-of-type(3) {
	z-index: 7;
}

#browsing_bar > *:nth-of-type(4) {
	z-index: 6;
}

#browsing_bar > div {
	position: relative;
}

#title_stripe {
	padding: 30px 5%;
	background: var(--c-lightergray);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	flex-direction: column;
	position: relative;
}

#title_stripe.big {
	padding: 30px 100px;
}

.stripe_title {
	font-family: var(--bold);
	font-size: var(--f-xlarge);
	display: flex;
	align-items: center;
}

/* Listing inputs and similars */

/* Back Button used in CC Dasboard And CW Competition's page and subpages */

.back_button {
	margin-right: 10px;
	min-height: 35px;
	min-width: 35px;
	border: 0;
	border-radius: 50%;
	background: var(--c-lightgray);
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--c-gray);
}

.back_button img {
	margin-right: 3px;
	height: 25px;
	width: 25px;
}

.back_button:hover {
	background: var(--c-gray);
}

/* Ongoing competitions */

#competition_color_legend {
	display: flex;
	align-items: center;
	margin: -30px 0 50px 15px;
}

#competition_color_legend > button {
	border-radius: 100%;
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

#competition_color_legend > p {
	margin-right: 20px;
}

#registration_lengend, #fencing_lengend {
	background: var(--c-yellow);
}

#pools_lengend {
	background: var(--c-blue);
}

#table_lengend {
	background: var(--c-purple);
}

#eliminated_lengend {
	background: var(--c-red);
}

#passed_lengend {
	background: var(--c-green);
}

/* Competitions page PLUS */

.competition_controls_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#competition_controls button, .send_button {
	font-family: var(--bold);
	border-radius: 5px;
	box-shadow: var(--s-black);
	color: var(--cd-primarycontrast);
	margin: 5px;
	padding: 5px 15px;
	background: var(--c-primary);
}

.send_button.center {
	margin: auto;
}

.send_button:disabled {
	pointer-events: none;
	background: var(--c-gray);
	color: var(--c-darkgray);
}

#competition_controls button:last-of-type {
	background: var(--c-red);
}

#competition_controls button:disabled {
	background: var(--c-gray) !important;
	pointer-events: none;
}

/* Videos */

#videos_wrapper, #blog_wrapper {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.video_wrapper {
	flex: 1 1 400px;
	overflow: hidden;
	height: 150px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
}

.video_wrapper.ghost {
	visibility: hidden;
}

.video_wrapper:hover {
	background: var(--c-lightestgray);
}

.video_wrapper img {
	height: 110px;
	width: 190px;
	min-width: 190px;
	max-width: 40vw;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 3px;
}

@supports (aspect-ratio: 16 / 9) {
	.video_wrapper img {
		max-width: 40vw;
		aspect-ratio: 16 / 9;
		min-width: unset;
		width: unset;
	}
}

.video_wrapper_info {
	padding-left: 20px;
	max-height: 150px;
	overflow: hidden;
	line-height: 1.2;
	display: flex;
	flex-direction: column;
	flex: 1 1 100%;
	justify-content: space-between;
}

.video_wrapper_info p {
	overflow: hidden;
	text-overflow: ellipsis;
}

.video_wrapper_info p:first-child {
	font-family: var(--bold);
	max-height: 57.6px;
}

.video_wrapper_info p:last-child {
	font-size: var(--f-small);
	max-height: calc(var(--f-small) * 1.2 * 3);
}

@supports (-webkit-line-clamp: 3) {
	.video_wrapper_info p {
		max-height: none !important;
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}
}

/* Page info help */

#page_info_wrapper {
	width: 100%;
	display: flex;
	margin-top: 50px;
}

#page_info_wrapper > div {
	height: auto;
}

.help_icon {
	padding: 5px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.help_icon img {
	height: 2rem;
	width: 2rem;
	opacity: 0.3;
}

.page_info {
	line-height: 1.2;
	padding: 5px 0;
}

.page_info span {
	display: inline-block;
}

.page_info img {
	width: 1.2rem;
	height: 1.2rem;
	vertical-align: middle;
}

.page_info p {
	margin-bottom: 5px;
}

.page_info p:last-child {
	margin-bottom: 0;
}

.page_info a {
	text-decoration: underline;
	-webkit-text-decoration-color: var(--c-primary);
	text-decoration-color: var(--c-primary);
	-webkit-text-decoration-style: dashed;
	text-decoration-style: dashed;
}

/* Pre-Reg */

#selected_fencers_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 5px;
}

#selected_fencers_wrapper > div {
	display: flex;
	align-items: center;
	background: var(--c-white);
	padding: 7.5px 15px 7.5px 20px;
	border-radius: 20px;
	margin: 0 15px 5px;
}

#selected_fencers_wrapper > div > button {
	margin-left: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.send_panel {
	margin: 25px 0;
	width: 100%;
	text-align: center;
}

/* Pools */

.pool_table_wrapper {
	width: 80%;
}

/* Final result */

/* Saved Competitions */

.bookmark_button:hover {
	transform: scale(1.1);
}

.big_status_item .bookmark_button {
	transition: opacity var(--t-basic);
}

.table_row:hover .big_status_item .bookmark_button {
	opacity: 1;
	transition: opacity var(--t-basic);
}

/* Blog */

.blog_article {
	padding: 20px;
	cursor: pointer;
	min-height: calc(180px + 2em);
	flex: 1 1 600px;
	max-width: 100%;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 5px;
}

.blog_article p {
	line-height: 1.2;
}

.blog_article:hover {
	background: var(--c-lightestgray);
}

.article_title {
	width: 100%;
	font-size: var(--f-large);
	font-family: var(--bold);
	text-transform: uppercase;
	margin-bottom: 5px;
	max-height: 4rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

.article_brief {
	max-height: 4.8rem;
}

@supports (-webkit-line-clamp: 3) {
	.article_title {
		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		max-height: unset;
	}

	.article_brief {
		-webkit-line-clamp: 4;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.blog_article img {
	height: 115px;
	width: 190px;
	min-width: 190px;
	max-width: 40vw;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 3px;
	float: left;
	margin-right: 1rem;
}

@supports (aspect-ratio: 16 / 9) {
	.blog_article img {
		max-width: 40vw;
		aspect-ratio: 16 / 9;
		min-width: unset;
		width: auto;
	}
}

.article_info {
	text-transform: uppercase;
	margin-right: 1rem;
	font-size: var(--f-small);
	overflow: hidden;
	margin-top: calc(16px  * 2 * 1.2 - (var(--f-small) * 2 * 1.2));
}

.article_info p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* ARTICLE */

article {
	width: 100%;
	padding: 50px 0;
	box-sizing: border-box;
}

article p.h1 {
	font-size: var(--f-large);
	font-family: var(--bold);
}

article p.h2 {
	font-family: var(--bold);
	text-transform: uppercase;
}

article img {
	height: 20rem;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	float: right;
	margin: 0 0 1rem 1rem;
	border-radius: 5px;
}

article .body p {
	text-indent: 20px;
	max-width: 60ch;
}

article .info {
	display: flex;
}

article .info p {
	margin: 5px;
	font-size: var(--f-small);
	font-family: var(--bold);
}

/* Confirmation */

.panel_button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	background: var(--c-transparent-white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.panel_button > img {
	width: 20px;
	height: 20px;
}

/* VIDEO */

#video {
	width: 100%;
	min-height: 300px;
	height: 50vh;
	max-height: 60vh;
}

#video iframe {
	width: 100%;
	height: 100%;
}

@supports (aspect-ratio: 16 / 9) {
	#video {
		width: 100%;
		min-height: unset;
		height: unset;
		max-height: unset;
		aspect-ratio: 16 / 9;
	}

	#video iframe {
		width: 100%;
		height: unset;
		aspect-ratio: 16 / 9;
	}
}

#video.round {
	flex: 1 1 600px;
}

.open_on_yt_button {
	border: 4px solid var(--c-red);
	border-radius: 50px;
	font-family: var(--bold);
	line-height: 1;
	display: flex;
	align-items: center;
	margin: 20px;
}

.open_on_yt_button p {
	padding: 10px 5px 10px 20px;
}

.open_on_yt_button img {
	padding: 10px 20px 10px 5px;
	height: 1.5rem;
	width: 1.5rem;
}

/* Book appointment */

#availabe_times_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	align-items: center;
}

#availabe_times_wrapper input {
	display: none;
}

#availabe_times_wrapper > p {
	margin-top: 10px;
}

.appointment {
	background-color: var(--c-white);
	box-shadow: var(--s-black);
	display: flex;
	align-items: center;
	margin: 3px 0;
	transition: all var(--t-basic);
	cursor: pointer;
}

input[type="radio"]:checked + label .appointment {
	transform: scale(1.05);
	transition: all var(--t-basic);
}

.appointment.disabled {
	-webkit-filter: saturate(0);
	filter: saturate(0);
	transition: all var(--t-basic);
}

.appointment p:first-of-type {
	padding-left: 10px;
}

.appointment .minute {
	text-decoration: underline;
}

.appointment p:last-of-type {
	padding-right: 10px;
}

.appointment p {
	text-transform: none;
}

.appointment div {
	height: 100%;
	padding: 10px 15px;
	background: var(--c-primary);
	color: var(--cd-primarycontrast);
	font-family: var(--bold);
	text-transform: none;
}