/* Footer */

footer {
    background-color: var(--c-black);
    width: 100%;
    min-height: 200px;
    height: 20vh;
	max-height: 300px;
	color: var(--c-white);
	display: flex;
	justify-content: center;
	align-items: center;
}

footer > div {
	width: 70%;
	height: 80%;
	display: flex;
}

footer > div > div {
	flex: 1 1 30%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	font-family: var(--reg);
	font-size: var(--f-medium);
}

footer > div > div:nth-of-type(1) {
	align-items: center;
	justify-content: center;
}

.footer_logo {
	height: 50px;
}

footer > div > div:nth-of-type(1) > p {
	font-family: var(--bold);

}

footer > div > div:nth-of-type(2) > p:nth-child(1), footer > div > div:nth-of-type(3) > p:nth-child(1) {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: var(--bold);
}

footer > div > div:nth-of-type(2), footer > div > div:nth-of-type(3) {
	margin-top: 20px;
}

footer > div > div:nth-of-type(2) > a, footer > div > div:nth-of-type(3) > a {
	color: var(--c-white);
}

/* Header */

#cw_header {
	width: 100%;
	height: 50px;
	background-color: var(--c-white);
	display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;
    box-shadow: var(--s-black);
}

#cw_header > a {
	font-size: var(--f-medium);
	font-family: var(--bold);
	margin-left: 20px;
}

#cw_header > div:first-of-type {
	display: flex;
	align-items: center;
	margin: 0 20px 0 auto;
}

#cw_header > div:first-of-type > a {
    text-decoration: underline;
    margin-right: 30px;
}

#cw_header > div:first-of-type > button {
	margin-right: 5px;
}

#cw_header > div:last-of-type {
	display: flex;
	align-items: center;
	height: 100%;
	max-width: 1000px;
	width: 30vw;
	min-width: 500px;
	margin-right: 20px;
	position: relative;
}

#cw_header > div:last-of-type > button, #cw_header > div:last-of-type > a {
	height: 100%;
	width: 25%;
	font-size: var(--f-medium);
	font-family: var(--bold);
	background-color: var(--c-white);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color var(--t-basic);
}

#cw_header > div:last-of-type > button:hover, #cw_header > div:last-of-type > a:hover {
	background-color: var(--c-lightergray);
}

#competition_dropdown {
	position: absolute;
	width: 25%;
	height: 20vh;
	max-height: 140px;
	background-color: var(--c-white);
	top: 50px;
	border-radius: 0 0 10px 10px;
	transition: max-height var(--t-basic);
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	box-shadow: var(--s-black);
	overflow: hidden;  
}

#competition_dropdown.closed {
	min-height: 0;
	max-height: 0;
}

#competition_dropdown > a {
	margin: 0 0 10px 15px;
	font-size: var(--f-medium);
	font-family: var(--reg);
	opacity: 1;
	transition: opacity var(--t-basic);
}

#competition_dropdown.closed > a {
	opacity: 0;
}

#competition_dropdown  > a:last-of-type {
	margin-left: 15px;
}

/* ///custom pages/// */

/*  Main page */

#slideshow {
    margin-top: 50px;
	height: 55vh;
	width: 100%;
	position: relative;
	overflow: hidden;
}

#slide_nav {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 2;
}

#slide_nav > button {
	background-color: var(--c-lightergray);
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

#slide_nav > button.active {
	background-color: var(--c-darkgray);
}

.slide {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background-color: var(--c-lightergray);
	position: absolute;
	animation-name: slide_anim;
	animation-duration: 1.5s;
	opacity: 1;
	transition: opacity ease-in 1.5s;
}

.slide.hidden {
	opacity: 0;
}

@keyframes slide_anim {
	from {left: 100vw;} 
	to {left: 0; }
}

#competitions.slide {
	background-image: url(../assets/img/fencers_bg.svg);
}

#results.slide {
	background-image: url(../assets/img/call_room_bg.svg);
}

#lives.slide {
	background-image: url(../assets/img/fencers_bg.svg);
}

#videos.slide {
	background-image: url(../assets/img/call_room_bg.svg);
}

.slide > p {
	font-size: calc( var(--f-large) + 1em + 1vmin) ;
	font-family: var(--bold);
	color: var(--c-white);
	margin-left: 30px;
	z-index: 1;
}

.slide > button {
	background-color: var(--c-orange);
	padding: 5px 10px;
	font-family: var(--bold);
	font-size: var(--f-large);
	border-radius: 5px;
	margin-left: 30px;
	z-index: 1;
}

.slide > img {
	width: 100vw;
	position: absolute;
	top: -70%;
}

#cw_main {
	margin: 50px;
	display: flex;
}

#ongoing_competitions_panel {
	width: 55%;
}

.cw_table_wrapper {
	margin: 0 50px;
}

.cw_table_wrapper.competitiors {
	margin: 0 200px;
}

.cw_panel_title {
	font-family: var(--bold);
	font-size: var(--f-large);
	text-transform: uppercase;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
}

.cw_panel_title > .favourite_button {
	margin: 0 0 4px 10px;
}

.cw_panel_title_wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.cw_panel_title_wrapper > button {
	margin: 0;
	margin-right: 20px;
}

.cw_panel_title_wrapper > p {
	font-family: var(--bold);
	font-size: var(--f-large);
	text-transform: uppercase;
}

.cw_panel_subtitle {
	font-family: var(--bold);
	font-size: var(--f-medium);
	text-transform: uppercase;
	position: absolute;
	top: 30px;
	left: 30px;
}

.cw_table_wrapper > .table_row > .table_item:first-child {
	justify-content: flex-start;
	padding-left: 30px;
    font-family: var(--bold);
    overflow: visible;
}

.cw_table_wrapper.competitiors > .table_row > .table_item:first-child {
	max-width: 100px;
	justify-content: center;
}

.cw_table_wrapper > .table_row {
	background-color: var(--c-lightergray);
}

.table_item.live {
	display: flex;
	justify-content: flex-end;
	max-width: 100px;
}

.table_item.live > a {
	color: var(--c-red);
	font-family: var(--bold);
	font-size: var(--f-medium);
	text-decoration: underline;
	margin-right: 30px;
}

#latest_videos_panel {
    width: 45%;
}

.video_wrapper {
    width: 100%;
    margin: 20px 30px;
	display: flex;
	max-height: calc( var(--f-large) * 4.5 );
}

.video_wrapper > img {
    width: calc( var(--f-large) * 8 );
    height: calc( var(--f-large) * 4.5 );
}

.video_wrapper > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: var(--f-medium);
    padding: 0 20px;
}

.video_wrapper > div > p:first-child {
    font-family: var(--bold);
    font-size: var(--f-large);
}

.video_wrapper > div > p:last-child {
	font-family: var(--reg);
}

.about_us {
	font-family: var(--bold);
}

/* Competitions Pages */

input[value="Search"] {
	color: var(--c-black);
	background-color: var(--c-orange);
	font-family: var(--bold);
	font-size: var(--f-medium);
	border-radius: 5px;
	padding: 2px 25px;
	box-shadow: var(--s-black);
}

#browsing_bar {
	margin: 0 50px 60px 50px;
	display: flex;
}

#browsing_bar > * {
	margin-right: 30px;
}

#cw_main_full {
	padding: 100px 75px 75px;
	display: flex;
	flex-direction: column;
	background-color: var(--c-white);
	min-height: 80vh;
}

#cw_main_live {
	padding: 100px 50px 50px;
	display: flex;
	flex-direction: column;
	background-color: var(--c-white);
	min-height: 80vh;
}

#cw_main_narrow {
	padding: 100px 150px 50px;
	display: flex;
	flex-direction: column;
	background-color: var(--c-white);
}

/* Ongoing competitions */

#competition_color_legend {
	display: flex;
	align-items: center;
	margin: -30px 50px 50px 50px;
}

#competition_color_legend > button {
	border-radius: 100%;
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

#competition_color_legend > p {
	margin-right: 20px;
	font-size: var(--f-medium);
}

#registration_lengend, #fencing_lengend  {
	background-color: var(--c-yellow);
}

#pools_lengend {
	background-color: var(--c-blue);
}

#table_lengend {
	background-color: var(--c-purple);
}

#eliminated_lengend {
	background-color: var(--c-red);
}

#passed_lengend {
	background-color: var(--c-green);
}

/* Competitions page*/

#comp_data > p:first-of-type {
	margin-left: 100px;
}

#comp_status {
	font-family: var(--thin);
	font-size: var(--f-large);
	text-transform: uppercase;
	margin: -20px 0 0 100px;
}

#comp_data {
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	margin: 50px 0;
	position: relative;
}

#comp_data > img {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 25px;
	top: 50%;
	transform: translate(0, -50%);
}

#comp_data > div {
	display: flex;
	margin-left: 100px;
}

#comp_data > div > p {
	font-family: var(--reg);
	font-size: var(--f-large);
	text-transform: uppercase;
	margin-right: 20px;
}

#competition_wrapper {
	margin: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

#competition_wrapper > div {
	width: 70%;
	flex: 0 1 auto;
	font-family: var(--bold);
	font-size: var(--f-medium);
}

#competition_wrapper > div > div {
	margin-bottom: 25px;
	background-color: var(--c-lightestgray);
	position: relative;
	min-height: 200px;
}

#competition_wrapper > div:nth-of-type(2) {
	background-color: var(--c-lightestgray);
	width: 25%;
	flex: 1 1 auto;
	margin-left: 25px;
	height: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#competition_wrapper > div:nth-of-type(2) > a {
	background-color: var(--c-orange);
	width: 75%;
	padding: 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0;
}

#competition_wrapper > div:nth-of-type(2) > a.hidden {
	display: none;
}

#competition_wrapper > div:nth-of-type(2) > a.disabled {
	background-color: var(--c-lightgray);
	color: var(--c-darkgray);
}

#competition_wrapper > div:nth-of-type(2) > a:first-child {
	margin-top: 20px;
}

#competition_wrapper > div:nth-of-type(2) > a:last-child {
	margin: auto 0 20px;
	background-color: var(--c-red);
	text-decoration: underline;
}

#competition_wrapper > div:nth-of-type(2) > input {
	margin-top: 20px;
	background-color: var(--c-orange);
	width: 75%;
	padding: 5px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--c-black);
	font-size: var(--f-small);
	font-family: var(--bold);
}

#competition_wrapper > div:nth-of-type(2) > a:last-child.disabled {
	background-color: var(--c-lightgray);
	color: var(--c-darkgray);
}

#basic_information_panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#basic_information_panel > div {
	flex: 1 1 250px;
	margin: 20px 25px;
}

#basic_information_panel > div:last-child {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.data_label {
	font-family: var(--reg);
	text-transform: uppercase;
	margin-top: 10px;
}

.data_label:first-child {
	font-family: var(--reg);
	text-transform: uppercase;
	margin-top: 0;
}

.data_label.panel_title {
	position: absolute;
	top: 20px;
	left: 25px;
}

#equipment_panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

#equipment_panel > div {
	width: 70%;
	margin: 100px 0;
}

#equipment_panel > div > .table_row {
	max-height: 20px;
}

#equipment_panel > div > .table_row:nth-child(even) {
	background-color: var(--c-lightergray);
}

#additional_panel > div, #weapon_control_panel > div, #plus_information_panel > div {
	padding: 75px;
}

#plus_information_panel > div > p:nth-of-type(odd) {
	font-size: var(--f-medium);
}

#plus_information_panel > div > p:nth-of-type(even) {
	font-family: var(--reg);
	margin-bottom: 20px;
}

#weapon_control_panel {
	display: flex;
	align-items: center;
}

.weapon_control_day {
	display: flex;
	margin-bottom: 5px;
}

.weapon_control_day:last-child {
	margin-bottom: 0;
}

.weapon_control_day > a {
	margin-left: 10px;
	text-decoration: underline;
}

@media print {

	body, * {
		height: auto !important;
		overflow: visible !important;
		box-shadow: none !important;
	}

	header, footer, .weapon_control_day > a {
		display: none !important;
		width: 0 !important;
		max-width: 0 !important;
		max-height: 0 !important;
		visibility: hidden !important;
		margin: 0 !important;
		padding: 0 !important;
		overflow: hidden !important;
		min-height: 0 !important;
		max-height: 0 !important;
		height: 0 !important;
	}

	#cw_main_full {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		min-width: 100vw !important;
		max-width: 100vw !important;
		overflow: visible !important;
		height: auto !important;
		margin: 0;
		padding: 0;
	}

	#competition_wrapper {
		min-width: 100vw !important;
		max-width: 100vw !important;
		overflow: visible !important;
		height: auto !important;
		margin: 0;
	}

	#invitation_cw {
		min-width: 100vw !important;
		max-width: 100vw !important;
		overflow: visible !important;
		height: auto !important;
		margin: 0 !important;
	}

	#invitation_cw > div {
		page-break-before: auto !important;
		page-break-after: auto !important;
		page-break-inside: auto !important;
		margin: 0 !important;
	}

}

/* Videos */

#videos_wrapper {
	display: flex;
	width: 100%;
}

#latest_videos_panel_full {
	width: 80%;
	margin-left: -30px;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding-top: 75px;
	align-content: flex-start;
}

#latest_videos_panel_full > .video_wrapper {
	flex: 1 1 100%;
	max-width: 500px;
	min-width: 300px;
	margin: 0;
	margin: 0 30px 20px 0;
}

#top_videos_panel_full {
	width: 25%;
	background-color: var(--c-lightestgray);
	position: relative;
	padding-top: 75px;
}

#top_videos_panel_full > .video_wrapper {
	max-width: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0 10px;
}

#top_videos_panel_full > .video_wrapper > img {
	max-width: 100px;
}

#top_videos_panel_full > .video_wrapper > div {
	margin: 0;
	overflow: hidden;
}

#top_videos_panel_full > .video_wrapper > div > p:nth-child(1) {
	font-family: var(--bold);
    font-size: var(--f-medium);
}

#top_videos_panel_full > .video_wrapper > div > p:nth-child(2) {
	font-family: var(--reg);
    font-size: var(--f-small);
}

/* Pre-Reg */

#select_fencers_panel {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#select_fencers_wrapper  {
	width: 80%;
	max-height: 50vh;
	margin-bottom: 50px;
	overflow-y: auto;
	margin: 50px 0;
}

#select_fencers_panel > div > .table_row {
	max-height: 20px;
	font-family: var(--reg);
}

#select_fencers_panel > div > .table_row:nth-child(even) {
	background-color: var(--c-lightergray);
}

#selected_fencers_wrapper {
	max-width: 90%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 50px 0 100px;
}

#selected_fencers_wrapper > * {
	margin-bottom: 5px;
}

#selected_fencers_wrapper > div {
	display: flex;
	align-items: center;
	background-color: var(--c-white);
	padding: 7.5px 20px;
	border-radius: 20px;
	margin-left: 15px;
}

#selected_fencers_wrapper > div > button {
	margin-left: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

#select_fencers_list_wrapper {
	width: 80%;
	margin: 25px 0 100px;
}

/* Pools */

#pools_wrapper {
	margin: 0 100px;
}

#pools_wrapper > .entry > .table_row {
	background-color: var(--c-lightestgray);
}

#pools_wrapper > .entry:nth-child(even) > .table_row {
	background-color: var(--c-lightergray);
}

#pools_wrapper > .entry:nth-child(even) > .entry_panel {
	background-color: var(--c-lightestgray);
}

.pool_table_wrapper {
	width: 80%;
}

.pool_table_wrapper .table_row {
	background-color: transparent;
}

.pool_table_wrapper .table_header_text:nth-of-type(-n+2), .pool_table_wrapper .table_item:nth-of-type(-n+2) {
	max-width: 20%;
}

.pool_table_wrapper .table_header_text:nth-of-type(2), .pool_table_wrapper .table_item:nth-of-type(2) {
	margin-right: auto;
}

/* Final result */

.final_results_wrapper > .table_row:nth-of-type(1) {
	background-color: var(--c-yellow);
}

.final_results_wrapper > .table_row:nth-of-type(2) {
	background-color: var(--c-gray);
}

.final_results_wrapper > .table_row:nth-of-type(3) {
	background-color: #E58955;
}

/* Round Live */

#round_live_wrapper {
	padding: 25px 0;
	margin: 0 100px;
	justify-content: center;
	flex-grow: 1;
	display: flex;
	flex-wrap: nowrap;
	min-height: 50vh;
	height: 900px;
	max-height: 70vh;
}

#round_livestream_wrapper {
	background-color: var(--c-lightestgray);
	flex-grow: 1;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#no_livestream {
	font-size: var(--f-medium);
	font-family: var(--bold);
}

#no_livestream.hidden {
	display: none;
}

#round_info_wrapper {
	min-height: 100%;
	min-width: 30%;
	display: flex;
	flex-direction: column;
}

#machine_wrapper {
	width: 100%;
	background-color: var(--c-lightestgray);
	margin-bottom: 20px;
}

#machine_wrapper > div:first-of-type {
	max-width: 100%;
	background-color: var(--c-lightergray);
	display: flex;
	border-style: inset;
	border: none;
	padding: 10px 5px;
	border-left: var(--c-red) 15px solid;
	border-right: var(--c-green) 15px solid;
	font-family: var(--bold);
	font-size: var(--f-medium);
}

.fencer_live_info {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-start;
}

.fencer_live_info:last-of-type {
	justify-content: flex-end;
}

.fencer_live_info > img {
	height: 15px;
	margin: 0 5px 0 10px;
}

.fencer_live_info > p:last-of-type {
	font-size: var(--f-small);
}

#round_info {
	width: 100%;
	background-color: var(--c-lightestgray);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#round_info > p {
	padding: 10px 10%;
	font-family: var(--bold);
	font-size: var(--f-medium);
}

#machine {
	width: 100%;
	position: relative;
	background-color: var(--c-lightestgray);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#machine > * {
	transition: background-color var(--t-basic);
}

.fencer_color {
	width: 35px;
	height: 35px;
	background-color: var(--c-lightergray);
	position: absolute;
}

.fencer_color.red {
	background-color: var(--c-red);
}

.fencer_color.green {
	background-color: var(--c-green);
}

#red_fencer {
	top: 0;
	left: 0;
}

#green_fencer {
	top: 0;
	right: 0;
}

#round_time {
	font-size: calc( var(--f-large) + 20px);
	font-family: var(--bold);
	margin-top: 25px;
}

.fencer_score_wrapper {
	width: 100%;
	display: flex;
}

.fencer_score_wrapper > div {
	flex-grow: 1;
}

.fencer_score_wrapper > p {
	font-size: var(--f-large);
	font-family: var(--bold);
}

.machine_fencer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.machine_fencer > div {
	display: flex;
	width: 100%;
	justify-content: center;
}

.machine_fencer > div > img {
	max-height: 25px;
}

.machine_fencer > p {
	font-size: calc( var(--f-large) + 30px);
	font-family: var(--bold);
}

/* Saved Competitions */

.favourite_button {
	width: 30px;
	height: 30px;
	background-color: transparent;
}

.favourite_button > img {
	width: 100%;
	height: 100%;
}

.table_row > .big_status_item > .favourite_button {
	opacity: 0;
	transition: opacity var(--t-basic);
}

.table_row:hover > .big_status_item > .favourite_button {
	opacity: 1;
	transition: opacity var(--t-basic);
}

@media print {

	#cw_header {
		display: none;
	}

	#competition_wrapper {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	#invitation_cw {
		width: 100%;
	}

	#competition_controls {
		display: none;
		width: 0;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
}

/* Blog */

.blog_article {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 50px;
	padding: 20px;
	cursor: pointer;
}

.blog_article:hover {
	background-color: var(--c-lightestgray);
}

.article_title {
	width: 100%;
	font-size: var(--f-large);
	font-family: var(--bold);
	text-transform: uppercase;
	margin-bottom: 5px;
}

.blog_article > div {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 220px);
	padding: 0 10px;
}

.article_image {
	width: 200px;
}

/*
.article_brief {
	
}
*/

.article_post_date {
	text-transform: uppercase;
	color: var(--c-darkgray);
}

/* ARTICLE */

#article_wrapper {
	width: 100%;
}

#article_wrapper p.paragraph {
	margin: 10px 0;
	text-indent: 20px;
}

#article_wrapper p.h1 {
	font-size: var(--f-large);
	font-family: var(--bold);
}

#article_wrapper p.h2 {
	font-size: var(--f-medium);
	font-family: var(--bold);
	text-transform: uppercase;
}

#article_wrapper img {
	width: 200px;
	float: left;
	margin-right: 10px;
}

/*Cofirmatio */

#cw_confirmation {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--c-transparent-black);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

#cw_confirmation.disabled {
	display: none;
}

#cw_confirmation > div {
	position: relative;
	padding: 50px;
	background-color: var(--c-white);
	border-radius: 5px;
	box-shadow: var(--s-black);
	max-width: 40vw;
}

#cw_confirmation p {
	font-family: var(--bold);
	font-size: var(--f-medium);
	margin: 35px 0;
}

/* Please confirm */

#basic_body {
	display: flex;
	background-color: var(--c-lightestgray);
	justify-content: center;
	align-items: center;
}

#basic_body::before, #basic_body::after {
	content: '';
	position: absolute;
	height: 10px;
	width: 100vw;
	top: 0;
	background: rgb(255,188,92);
	background: linear-gradient(190deg, rgba(255,188,92,1) 0%, rgba(255,151,0,1) 100%);	
}

#basic_body::before {
	top: 0;
}

#basic_body::after {
	top: auto;
	bottom: 0;
}

.basic_panel {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px;
	font-size: var(--f-medium);
	background-color: var(--c-white);
	border-radius: 5px;
	border-top: 2px solid var(--c-darkgray);
	border-left: 2px solid var(--c-darkgray);
	border-bottom: 2px solid var(--c-gray);
	border-right: 2px solid var(--c-gray);
	box-shadow: var(--s-black);
}

.basic_panel > * {
	margin: 10px 0;
}

.bold, b {
	font-family: var(--bold);
	background-color: transparent;
}

.go_back {
	font-family: var(--bold);
	text-decoration: underline;
	color: var(--c-orange);
	padding: 5px;
	margin: 5px 0;
}

.go_back:hover {
	background-color: var(--c-lightestgray);
}

b.red {
	color: var(--c-red);
	background-color: transparent;
}

b.green {
	color: var(--c-green);
	background-color: transparent;
}