/* 	Universal */
/*
[data-content-theme="danube"]:root {
	--c-primary: #00768b;
	--c-lightprimary: #3391a2;
	--c-secondary: #2CAA58;
	--c-lightsecondary: #56bb79;
	--c-tertiary: #001333;
	--c-lighttertiary: #33425c;
	--cd-primarycontrast: #FFF;
	--i-fencers-bg: url(../assets/img/fencers_bg_d.svg);
}

[data-content-theme="vanilla"]:root {
	--c-primary:  #FF9700;
	--c-lightprimary:  #FFBE5C;
	--c-secondary:  #FFBE5C;
	--c-lightsecondary:  #FF9700;
	--c-tertiary:  #FF9700;
	--c-lighttertiary:  #FF9700;
	--cd-primarycontrast: #252252;
	--i-fencers-bg: url(../assets/img/fencers_bg_v.svg);
}
*/
:root {
	--c-primary:  #FF9700;
	--c-lightprimary:  #FFBE5C;
	--c-secondary:  #FFBE5C;
	--c-lightsecondary:  #FF9700;
	--c-tertiary:  #FF9700;
	--c-lighttertiary:  #FF9700;
	--cd-primarycontrast: #252252;
	--i-fencers-bg: url(../assets/img/fencers_bg_v.svg);
}


body, html {
	background: var(--c-lightestgray) !important;
	overflow-y: auto;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth !important;
}

/*
input.disabled {
	display: none;
}
*/
/* Basic layout */

header {
	width: 100%;
	max-width: 100vw;
	height: 50px;
	box-sizing: border-box;
}

#main {
	width: 100%;
	flex-grow: 1;
	margin-top: 50px;
}

#content {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: auto;
	background: var(--c-white);
	box-shadow: 0 3px 6px #25252530;
}

#content_wrapper {
	padding: 0 50px;
	width: 100%;
	box-sizing: border-box;
}

footer {
	width: 100%;
}

#wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.column {
	width: 100%;
	padding: 40px 10px;
	box-sizing: border-box;
}

#competition_info {
	order: 2;
	margin: 0 25px 0 50px;
	flex-grow: 1;
}

#competition_controls {
	order: 3;
	margin: 0 50px 0 25px;
	flex-grow: 1;
}

@media (min-width: 0) {

	#navigation {
		display: none;
	}
	#navigation_mobile {
		display: flex;
	}

	header {
		padding: 0;
	}

	#content {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.column {
		width: 100%;
	}

	#competition_info {
		order: 3;
		width: calc(100% - 50px);
		margin: 0 25px;
	}

	#competition_controls {
		order: 2;
		width: calc(100% - 50px);
		margin: 0 25px;
	}

	#browsing_bar {
		display: flex;
		flex-direction: column;
	}

	#browsing_bar > * {
		width: 100%;
		max-width: 100%;
	}

	.favourite_button {
		opacity: 1;
	}

	.table {
		font-size: var(--f-small);
	}
}

@media (min-width: 576px) {

	#navigation {
		display: none;
	}

	#navigation_mobile {
		display: flex;
	}

	header {
		padding: 0 2vw;
	}

	#content {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.column {
		width: 100%;
	}

	#competition_info {
		order: 3;
		width: calc(100% - 50px);
		margin: 0 25px;
	}

	#competition_controls {
		order: 2;
		width: calc(100% - 50px);
		margin: 0 25px;
	}

	#browsing_bar {
		display: flex;
		flex-direction: column;
	}

	#browsing_bar > * {
		width: 100%;
		max-width: 100%;
	}

	.favourite_button {
		opacity: 1;
	}
}

@media (min-width: 768px) {

	#navigation {
		display: none;
	}

	#navigation_mobile {
		display: flex;
	}

	header {
		padding: 0 4vw;
	}

	#content {
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.column {
		width: 100%;
	}

	#competition_info {
		order: 3;
		width: calc(100% - 50px);
		margin: 0 25px;
	}

	#competition_controls {
		order: 2;
		width: calc(100% - 50px);
		margin: 0 25px;
	}

	#browsing_bar {
		display: flex;
		flex-direction: column;
	}

	#browsing_bar > * {
		width: 100%;
		max-width: 100%;
	}

	.favourite_button {
		opacity: 1;
	}
}

@media (min-width: 992px) {

	#navigation_mobile {
		display: none;
	}

	#navigation {
		display: flex;
	}

	header {
		padding: 0 6vw;
	}

	#content {
		width: 1000px;
		max-width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.column {
		width: 50%;
	}

	#competition_info {
		order: 2;
		width: calc(65% - 75px);
	}
	
	#competition_controls {
		order: 3;
		width: calc(35% - 75px);
	}

	#browsing_bar {
		display: flex;
		flex-direction: row;
	}

	#browsing_bar > * {
		width: auto;
	}

	.favourite_button {
		opacity: 0;
	}

	.table {
		font-size: var(--f-medium);
	}
}

@media (min-width: 1200px) {

	#navigation_mobile {
		display: none;
	}

	#navigation {
		display: flex;
	}

	header {
		padding: 0 8vw;
	}

	#content {
		width: 1500px;
		max-width: 80%;
		display: flex;
		flex-wrap: wrap;
	}

	.column {
		width: 50%;
	}

	#competition_info {
		order: 2;
		width: calc(65% - 75px);
	}

	#competition_controls {
		order: 3;
		width: calc(35% - 75px);
	}

	#browsing_bar {
		display: flex;
		flex-direction: row;
	}

	#browsing_bar > * {
		width: auto;
	}

	.favourite_button {
		opacity: 0;
	}
}

/* Header */

header {
	background: var(--c-white);
	display: flex;
	align-items: stretch;
	position: fixed;
	z-index: 10;
	box-shadow: var(--s-black);
}

body.home header {
	box-shadow: none;
}

body.home #main {
	background: white;
}

body.home #content {
	background: white;
	box-shadow: none;
}

body.home {
	background: white !important;
}

header > div {
	flex: 1 1 0;
	height: 100%;
	width: 0;
	display: flex;
	align-items: center;
}

#app_name {
	font-family: var(--bold);
	margin-left: 5px;
}

#navigation {
	justify-content: center;
}

#navigation > div {
	flex: 1 1 auto;
	height: 100%;
	position: relative;
}

#navigation > div:hover {
	background: var(--c-lightergray);
}

#navigation > div.current > a, #mobile_navigation a.current, #navigation > div.current button {
	font-family: var(--bold);
	color: var(--c-primary);
}

#navigation > div > * {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: transparent;
	padding: 0 13px;
	box-sizing: border-box;
}

#navigation > div > button.opened {
	background: var(--c-lightergray);
}

#navigation > div > div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	max-height: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	transition: all var(--t-basic);
	background: var(--c-lightestgray);
	position: absolute;
	top: 50px;
	left: 0;
	height: 100px !important;
	border-radius: 0 0 5px 5px;
}

#navigation > div > div.opened {
	max-height: 50vh;
}

#navigation > div > div a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 2px 0;
	padding: 1px 0;
}

#navigation > div > div a.current {
	font-family: var(--bold);
}

#navigation > div > div a:hover {
	background: var(--c-lightergray);
}

#change_language {
	justify-content: flex-end;
}

#change_language > div > button {
	background: linear-gradient(90deg, var(--c-primary) 0%, var(--c-lightprimary) 100%);
	height: 30px;
	width: 60px;
	border-radius: 20px;
	font-family: var(--bold);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	transition: all var(--t-basic);
	white-space: nowrap;
	color: var(--c-white);
}

#change_language > div {
	position: relative;
}

#change_language button img {
	width: 20px;
	height: 20px;
	margin-right: -5px;
	transform: rotate(0deg);
	transition: all var(--t-basic);
	filter: invert();
}

#change_language > div > button.opened {
	width: 200px;
}

#change_language > div > button.opened img {
	transform: rotate(180deg);
}

#change_language_panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 40px;
	right: 0;
	position: absolute;
	width: 0;
	background: linear-gradient(180deg, var(--c-tertiary) 0%, var(--c-secondary) 100%);
	border-radius: 0 0 5px 5px;
	transition: all var(--t-basic);
	overflow: hidden;
	opacity: 0;
}

#change_language_panel.opened {
	transition: max-height var(--t-basic);
	overflow-y: auto;
	overflow-x: hidden;
	width: 200px;
	transition: all var(--t-basic);
	opacity: 1;
}

#change_language_panel div {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80%;
	width: 80%;
}

#change_language_panel button {
	width: 100%;
	background: #FFFFFF50;
	border-radius: 3px;
	border: 1px solid var(--c-gray);
	padding: 2px;
	margin: 2px 0;
}

#change_language_panel button.selected {
	background: #FFFFFF90 !important;
}

#change_language_panel button:hover {
	background: #FFFFFF70;
}

/* Mobile */

#navigation_mobile {
	width: auto !important;
	flex-grow: 0;
	justify-content: center;
	align-items: center;
}

#navigation_mobile > button {
	background: transparent;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navigation_mobile > button.opened {
	background: var(--c-lightergray);
}

#navigation_mobile > button img {
	height: 35px;
	width: 35px;
}

#mobile_navigation {
	z-index: 10;
	left: 0;
	width: 100vw;
	position: absolute;
	top: 50px;
	background: #25252595;
	height: 0;
	transition: all var(--t-basic);
	overflow: hidden;
}

#mobile_navigation.opened {
	height: calc(200vh);
}

#mobile_navigation div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#mobile_navigation > div {
	margin-top: 20px;
}

#mobile_navigation > div > div a {
	font-size: var(--f-large);
	margin-top: 3px;
}

#mobile_navigation a, #mobile_navigation p {
	margin-top: 10px;
	color: var(--c-white);
	font-size: var(--f-xlarge);
}

#mobile_navigation a.cu, #mobile_navigation p {
	margin-top: 10px;
	color: var(--c-white);
	font-size: var(--f-xlarge);
}

#mobile_navigation p {
	text-decoration: underline;
}

/* Footer */

footer {
	background: var(--c-black);
	color: var(--c-white);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

footer > div {
	padding: 50px;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

footer > div > div {
	margin: 10px;
	flex: 1 1 30%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	white-space: nowrap;
}

.footer_logo {
	height: 50px;
}

footer > div > div:nth-of-type(1) > p {
	font-family: var(--bold);
}

footer > div > div:nth-of-type(2) > p:nth-child(1), footer > div > div:nth-of-type(3) > p:nth-child(1) {
	text-transform: uppercase;
	font-family: var(--bold);
}

footer > div > div:nth-of-type(2) > a, footer > div > div:nth-of-type(3) > a {
	color: var(--c-white);
}

/* Page Main */

/*  Main page */

#slideshow {
	max-height: 40vh;
	position: relative;
	overflow: hidden;
}

#sildes {
	max-height: 40vh;
	height: 500px;
	width: 100%;
	-webkit-clip-path: ellipse( 100% 100% at 100% 100%);
	        clip-path: ellipse( 100% 100% at 100% 100%);
}

#slide_nav {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 10;
}

#slide_nav > button {
	background: var(--c-lightergray);
	border-radius: 50%;
	height: 20px;
	width: 20px;
}

#slide_nav > button.active {
	background: var(--c-darkgray);
}

#slideshow_title {
	top: 10%;
	left: 4%;
	position: absolute;
	font-size: 5vw;
	color: var(--c-black);
	text-transform: uppercase;
	font-family: var(--bold);
	z-index: +1;
}

#slideshow_title::after {
	content: attr(title);
	top: -5px;
	left: -5px;
	position: absolute;
	font-size: 5vw;
	color: var(--c-primary);
	text-transform: uppercase;
	font-family: var(--bold);
	white-space: nowrap;
}

.slide {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	background: var(--c-lightergray);
	position: absolute;
	opacity: 1;
	left: 0;
	transition: opacity ease-in .25s, left ease-in .5s;
	z-index: 1;
}

.slide.hidden {
	left: 100vw;
	opacity: 0;
	transition: opacity ease-in .5s .55s, left ease-in 1s .5s;
	z-index: 0;
}

.slide.blurred > img {
	-webkit-filter: blur(5px) brightness(75%);
	        filter: blur(5px) brightness(75%);
}

.slide > p {
	font-size: calc( var(--f-large) + 1em + 1vmin);
	font-family: var(--bold);
	color: var(--c-white);
	margin-left: 30px;
	z-index: 5;
}

.slide button {
	background: var(--c-secondary);
	padding: 5px 10px;
	font-family: var(--bold);
	font-size: var(--f-large);
	border-radius: 5px;
	margin-left: 30px;
	z-index: 1;
}

.slide img {
	width: 100vw;
	position: absolute;
	top: -70%;
}

#cw_main {
	margin: 50px 150px;
	display: flex;
	flex-wrap: wrap;
}

.column_title {
	font-family: var(--bold);
	font-size: var(--f-large);
	text-transform: uppercase;
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.column_title.centered {
	margin: 20px 0 10px;
	justify-content: center;
}

.cw_panel_title > .favourite_button {
	margin: 0 0 4px 10px;
}

.cw_panel_title_wrapper {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.cw_panel_title_wrapper > button {
	margin: 0;
	margin-right: 20px;
}

.cw_panel_title_wrapper > p {
	font-family: var(--bold);
	font-size: var(--f-large);
	text-transform: uppercase;
}

.cw_panel_subtitle {
	font-family: var(--bold);
	text-transform: uppercase;
	position: absolute;
	top: 30px;
	left: 30px;
}

.table_item.live {
	display: flex;
	flex: 0 0 4rem;
}

.table_item.live > a {
	color: var(--c-red);
	font-family: var(--bold);
	text-decoration: underline;
}

.about_us {
	font-family: var(--bold);
}

/* Competitions Pages */

input[value="Search"] {
	color: var(--c-black);
	background: var(--c-secondary);
	font-family: var(--bold);
	border-radius: 5px;
	padding: 2px 25px;
	box-shadow: var(--s-black);
}

#browsing_bar {
	margin: 50px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#browsing_bar.single {
	margin: 50px 0 0;
}

#browsing_bar.single > * {
	margin: 0 0 20px;
}

#browsing_bar > * {
	margin: 0 30px 20px 0;
}

#browsing_bar > *:nth-of-type(1) {
	z-index: 9;
}

#browsing_bar > *:nth-of-type(2) {
	z-index: 8;
}

#browsing_bar > *:nth-of-type(3) {
	z-index: 7;
}

#browsing_bar > *:nth-of-type(4) {
	z-index: 6;
}

#browsing_bar > div {
	position: relative;
}

#browsing_bar > div .clear_search_button {
	top: 10px;
	height: var(--f-medium);
	width: var(--f-medium);
}

#title_stripe {
	padding: 30px 5%;
	background: var(--c-lightergray);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	box-sizing: border-box;
	flex-direction: column;
	position: relative;
}

#title_stripe.big {
	padding: 30px 100px;
	order: 1;
}

.stripe_title {
	font-family: var(--bold);
	font-size: var(--f-xlarge);
	display: flex;
	align-items: center;
}

#cw_main_live {
	padding: 100px 50px 50px;
	display: flex;
	flex-direction: column;
	background: var(--c-white);
	min-height: 80vh;
}

#cw_main_narrow {
	padding: 100px 150px 50px;
	display: flex;
	flex-direction: column;
	background: var(--c-white);
}

/* Listing inputs and similars */

.form_wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.form_wrapper > div {
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
}

.form_wrapper > div > div {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

/* Back Button used in CC Dasboard And CW Competition's page and subpages */

.back_button {
	margin-right: 10px;
	min-height: 35px;
	min-width: 35px;
	border: 0;
	border-radius: 50%;
	background: var(--c-lightgray);
	display: flex;
	justify-content: center;
	align-items: center;
}

.back_button > img {
	margin-right: 3px;
	height: 25px;
	width: 25px;
}

.back_button:hover {
	background: var(--c-gray);
}

/* Ongoing competitions */

#competition_color_legend {
	display: flex;
	align-items: center;
	margin: -30px 50px 50px 50px;
}

#competition_color_legend > button {
	border-radius: 100%;
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

#competition_color_legend > p {
	margin-right: 20px;
}

#registration_lengend, #fencing_lengend {
	background: var(--c-yellow);
}

#pools_lengend {
	background: var(--c-blue);
}

#table_lengend {
	background: var(--c-purple);
}

#eliminated_lengend {
	background: var(--c-red);
}

#passed_lengend {
	background: var(--c-green);
}

/* Competitions page*/

#comp_status {
	font-family: var(--light);
	font-size: var(--f-large);
	text-transform: uppercase;
}

#title_stripe > img {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 25px;
	top: 50%;
	transform: translate(0, -50%);
}

#title_stripe > button {
	position: absolute;
	width: 50px;
	height: 50px;
	right: 25px;
	top: 50%;
	transform: translate(0, -50%);
}

#title_stripe > div {
	display: flex;
	flex-wrap: wrap;
}

#title_stripe > div > p {
	text-transform: uppercase;
	margin-right: 20px;
	font-size: var(--f-large);
}

.column_panel {
	position: relative;
	box-sizing: border-box;
	margin: 25px 0;
	width: 100%;
	background: var(--c-lightestgray);
	display: flex;
	flex-direction: column;
	transition: height var(--t-basic);
}

.column_panel.collapsed {
	filter: brightness(.9);
}

.column_panel.collapsed > div {
	filter: blur(2px);
	height: 200px;
	overflow: hidden;
}

.column_panel.collapsed *:not(button.edit_button) {
	pointer-events: none;
}

.column_panel.no_top {
	margin: 0 0 25px;
}

.column_panel > div {
	padding: 30px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.column_panel > div.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.column_panel_title {
	background: var(--c-lightergray);
	font-family: var(--bold);
	width: 100%;
	padding: 5px 40px;
	box-sizing: border-box;
	text-align: center;
}

#announcements {
	padding: 30px 40px;
	border-left: 1em solid var(--c-red);
}

#announcements p:nth-of-type(odd) {
	font-size: var(--f-large);
	font-family: var(--bold);
}

#announcements p:nth-of-type(even) {
	margin-bottom: 10px;
}

#announcements p:last-of-type {
	margin-bottom: 0;
}

#basic_information_panel {
	display: flex;
	align-items: center;
	justify-content: center;
}

.data_label {
	font-family: var(--bold);
	text-transform: uppercase;
	margin-top: 10px;
}

.data_label:first-child {
	margin-top: 0;
}

#equipment_panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

#equipment_panel > div {
	width: 100%;
	margin: 25px 0;
}

#plus_information_panel > div > p:nth-of-type(odd) {
	font-size: var(--f-large);
    font-family: var(--bold);
}

#plus_information_panel > div > p:nth-of-type(even) {
	margin-bottom: 20px;
}

#weapon_control_panel {
	display: flex;
	align-items: center;
}

.weapon_control_day {
	display: flex;
	margin-bottom: 5px;
	font-family: var(--bold);
	align-items: center;
}

.weapon_control_day:last-child {
	margin-bottom: 0;
}

.weapon_control_day > a {
	margin-left: 10px;
	text-decoration: underline;
}

.competition_controls_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#competition_controls button, .send_button {
	font-family: var(--bold);
	border-radius: 5px;
	box-shadow: var(--s-black);
	margin: 5px;
	padding: 5px 15px;
	background: var(--c-primary);
}

.send_button.center {
	margin: auto;
}

.send_button:disabled {
	pointer-events: none;
	background: var(--c-gray);
	color: var(--c-darkgray);
}

#competition_controls button:last-of-type {
	background: var(--c-red);
}

#competition_controls button:disabled {
	background: var(--c-gray) !important;
	pointer-events: none;
}

/* Videos */

#videos_wrapper {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	padding: 0 50px 50px;
	box-sizing: border-box;
}

.video_wrapper {
	flex: 1 1 400px;
	height: 150px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	cursor: pointer;
}

.video_wrapper.ghost {
	visibility: hidden;
}

.video_wrapper:hover {
	background: var(--c-lightestgray);
}

.video_wrapper > img {
	height: 110px;
	width: 190px;
	min-width: 190px;
	-o-object-fit: cover;
	object-fit: cover;
}

.video_wrapper_info {
	padding: 0 0 0 20px;
	max-height: 150px;
	overflow: hidden;
	line-height: 1.25;
	display: flex;
	flex-direction: column;
}

.video_wrapper_info p {
	display: -webkit-box;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.video_wrapper_info p:first-child {
	font-family: var(--bold);
	-webkit-line-clamp: 3;
	flex: 1 0 3.8rem;
	margin-bottom: 5px;
}

.video_wrapper_info p:last-child {
	flex: 1 1 100%;
	margin-top: 5px;
	-webkit-line-clamp: 2;
}

/* Pre-Reg */

#selected_fencers_wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 5px;
}

#selected_fencers_wrapper > div {
	display: flex;
	align-items: center;
	background: var(--c-white);
	padding: 7.5px 15px 7.5px 20px;
	border-radius: 20px;
	margin: 0 15px 5px;
}

#selected_fencers_wrapper > div > button {
	margin-left: 3px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
}

.send_panel {
	margin: 25px 0;
	width: 100%;
	text-align: center;
}

/* Pools */

.pool_table_wrapper {
	width: 80%;
}

/* Final result */

/* Round Live */

#round_live_wrapper {
	padding: 25px 0;
	margin: 0 100px;
	justify-content: center;
	flex-grow: 1;
	display: flex;
	flex-wrap: nowrap;
	min-height: 50vh;
	height: 900px;
	max-height: 70vh;
}

#round_livestream_wrapper {
	background: var(--c-lightestgray);
	flex-grow: 1;
	margin-right: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#no_livestream {
	font-family: var(--bold);
}

#no_livestream.hidden {
	display: none;
}

#round_info_wrapper {
	min-height: 100%;
	min-width: 30%;
	display: flex;
	flex-direction: column;
}

#machine_wrapper {
	width: 100%;
	background: var(--c-lightestgray);
	margin-bottom: 20px;
}

#machine_wrapper > div:first-of-type {
	max-width: 100%;
	background: var(--c-lightergray);
	display: flex;
	border-style: inset;
	border: none;
	padding: 10px 5px;
	border-left: var(--c-red) 15px solid;
	border-right: var(--c-green) 15px solid;
	font-family: var(--bold);
}

.fencer_live_info {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-start;
}

.fencer_live_info:last-of-type {
	justify-content: flex-end;
}

.fencer_live_info > img {
	height: 15px;
	margin: 0 5px 0 10px;
}

.fencer_live_info > p:last-of-type {
	font-size: var(--f-small);
}

#round_info {
	width: 100%;
	background: var(--c-lightestgray);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#round_info > p {
	padding: 10px 10%;
	font-family: var(--bold);
}

#machine {
	width: 100%;
	position: relative;
	background: var(--c-lightestgray);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#machine > * {
	transition: background-color var(--t-basic);
}

.fencer_color {
	width: 35px;
	height: 35px;
	background: var(--c-lightergray);
	position: absolute;
}

.fencer_color.red {
	background: var(--c-red);
}

.fencer_color.green {
	background: var(--c-green);
}

#red_fencer {
	top: 0;
	left: 0;
}

#green_fencer {
	top: 0;
	right: 0;
}

#round_time {
	font-size: calc( var(--f-large) + 20px);
	font-family: var(--bold);
	margin-top: 25px;
}

.fencer_score_wrapper {
	width: 100%;
	display: flex;
}

.fencer_score_wrapper > div {
	flex-grow: 1;
}

.fencer_score_wrapper > p {
	font-size: var(--f-large);
	font-family: var(--bold);
}

.machine_fencer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.machine_fencer > div {
	display: flex;
	width: 100%;
	justify-content: center;
}

.machine_fencer > div > img {
	max-height: 25px;
}

.machine_fencer > p {
	font-size: calc( var(--f-large) + 30px);
	font-family: var(--bold);
}

/* Saved Competitions */

.favourite_button {
	width: 30px;
	height: 30px;
	background: transparent;
}

.favourite_button:hover {
	transform: scale(1.1);
}

.favourite_button > img {
	width: 100%;
	height: 100%;
}

.table_row > .big_status_item > .favourite_button {
	transition: opacity var(--t-basic);
}

.table_row:hover > .big_status_item > .favourite_button {
	opacity: 1;
	transition: opacity var(--t-basic);
}

@media print {

	header {
		display: none;
	}

	#content.competition {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	#invitation_cw {
		width: 100%;
	}

	#competition_controls {
		display: none;
		width: 0;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
}

/* Blog */

.blog_article {
	margin: 0 20px 50px;
	padding: 20px;
	cursor: pointer;
	min-height: calc(180px + 2em);
}

.blog_article:hover {
	background: var(--c-lightestgray);
}

.article_title {
	width: 100%;
	font-size: var(--f-large);
	font-family: var(--bold);
	text-transform: uppercase;
	margin-bottom: 5px;
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.article_image {
	height: 180px;
	width: 320px;
	max-width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	float: left;
	margin: 0 1rem 1rem 0;
}

.article_brief {
	-webkit-line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}

.article_post_date {
	text-transform: uppercase;
	color: var(--c-darkgray);
	margin-right: 1rem;
}

/* ARTICLE */

#article_wrapper {
	width: 100%;
	padding: 50px;
	box-sizing: border-box;
}

#article_wrapper p.paragraph {
	text-indent: 20px;
	max-width: 70ch;
}

#article_wrapper p.h1 {
	font-size: var(--f-large);
	font-family: var(--bold);
}

#article_wrapper p.h2 {
	font-family: var(--bold);
	text-transform: uppercase;
}

#article_wrapper img {
	width: 30rem;
	height: 20rem;
	-o-object-fit: cover;
	object-fit: cover;
	float: right;
	margin: 0 0 1rem 1rem;
}

.article_info {
	display: flex;
}

.article_info p {
	margin: 5px;
	font-size: var(--f-small);
	font-family: var(--bold);
}

/*Cofirmatio */

.panel_button {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 35px;
	height: 35px;
	background: var(--c-transparent-white);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

.panel_button > img {
	width: 20px;
	height: 20px;
}

#confirmation {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background: var(--c-transparent-black);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
}

#confirmation.disabled {
	display: none;
}

#confirmation > div {
	position: relative;
	padding: 50px;
	background: var(--c-white);
	border-radius: 5px;
	box-shadow: var(--s-black);
	max-width: 40vw;
}

#confirmation p {
	font-family: var(--bold);
	margin: 35px 0;
}

/* Please confirm */

#basic_body {
	display: flex;
	background: var(--c-lightestgray);
	justify-content: center;
	align-items: center;
}

#basic_body::before, #basic_body::after {
	content: '';
	position: absolute;
	height: 10px;
	width: 100vw;
	top: 0;
	background: rgb(255, 188, 92);
	background: linear-gradient(190deg, var(--c-tertiary) 0%, var(--c-secondary) 100%);
}

#basic_body::before {
	top: 0;
}

#basic_body::after {
	top: auto;
	bottom: 0;
}

.basic_panel {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 50px;
	background: var(--c-white);
	border-radius: 5px;
	border-top: 2px solid var(--c-darkgray);
	border-left: 2px solid var(--c-darkgray);
	border-bottom: 2px solid var(--c-gray);
	border-right: 2px solid var(--c-gray);
	box-shadow: var(--s-black);
}

.basic_panel > * {
	margin: 10px 0;
}

.bold, b {
	font-family: var(--bold);
	background: transparent;
}

.go_back {
	font-family: var(--bold);
	text-decoration: underline;
	color: var(--c-secondary);
	padding: 5px;
	margin: 5px 0;
}

.go_back:hover {
	background: var(--c-lightestgray);
}

b.red {
	color: var(--c-red);
	background: transparent;
}

b.green {
	color: var(--c-green);
	background: transparent;
}

#video_wrapper {
	margin: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
}

/* Book appointment */

#availabe_times_wrapper {
	display: flex;
	flex-direction: column;
	margin-top: 5px;
	align-items: center;
}

.appointment {
	background-color: var(--c-white);
	box-shadow: var(--s-black);
	display: flex;
	align-items: center;
	margin: 3px 0;
	transition: all var(--t-basic);
}

.appointment.selected {
	transform: scale(1.05);
	transition: all var(--t-basic);
}

.appointment.disabled {
	filter: saturate(0);
	transition: all var(--t-basic);
}

.appointment p {
	padding: 0 10px;
}

.appointment button {
	height: 100%;
	padding: 10px 15px;
	background: var(--c-primary);
	color: var(--cd-primarycontrast);
	font-family: var(--bold)
}