@charset "UTF-8";

/* Round Live */

#no_livestream {
	font-family: var(--bold);
}

#no_livestream.hidden {
	display: none;
}

#round_info_wrapper {
	min-height: 100%;
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
}

#round_info_wrapper > div {
	width: 100%;
	background: var(--c-lightestgray);
	border-radius: 5px;
	overflow: hidden;
}

#machine_wrapper {
	margin-bottom: 20px;
}

#machine_wrapper > div:first-of-type {
	max-width: 100%;
	background: var(--c-lightergray);
	display: flex;
	border-style: inset;
	border: none;
	padding: 10px 5px;
	border-left: var(--c-red) 15px solid;
	border-right: var(--c-green) 15px solid;
	font-family: var(--bold);
}

.fencer_live_info {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: flex-start;
}

.fencer_live_info:last-of-type {
	justify-content: flex-end;
}

.fencer_live_info > img {
	height: 15px;
	margin: 0 5px 0 10px;
}

.fencer_live_info > p:last-of-type {
	font-size: var(--f-small);
}

#round_info {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 10px 0;
}

#round_info p {
	padding: 5px 10%;
	font-family: var(--bold);
}

#machine {
	width: 100%;
	position: relative;
	background: var(--c-lightestgray);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#machine > * {
	transition: background-color var(--t-basic);
}

.fencer_color {
	width: 35px;
	height: 35px;
	background: var(--c-lightergray);
	position: absolute;
}

.fencer_color.red {
	background: var(--c-red);
}

.fencer_color.green {
	background: var(--c-green);
}

#red_fencer {
	top: 0;
	left: 0;
}

#green_fencer {
	top: 0;
	right: 0;
}

#round_time {
	font-size: calc( var(--f-large) + 20px);
	font-family: var(--bold);
	margin-top: 25px;
}

.fencer_score_wrapper {
	width: 100%;
	display: flex;
}

.fencer_score_wrapper > div {
	flex-grow: 1;
}

.fencer_score_wrapper > p {
	font-size: var(--f-large);
	font-family: var(--bold);
}

.machine_fencer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.machine_fencer > div {
	display: flex;
	width: 100%;
	justify-content: center;
}

.machine_fencer > div > img {
	max-height: 25px;
}

.machine_fencer > p {
	font-size: calc( var(--f-large) + 30px);
	font-family: var(--bold);
}