@charset "UTF-8";

body, html {
    overflow: hidden;
}

body {
	background-image: var(--i-fencers-bg);
	background-size: cover;
	background-position: center center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Login Screen */

/* Extra small devices (phones, 532px and down) */
@media only screen and (min-width: 0px) and (max-width: 440px) {
	#login_panel {
		width: 100vw;
		height: calc(100vh - 5rem);
		margin-top: 5rem;
	}

	#login_links_wrapper {
		top: 1rem;
		right: unset;
	}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 441px) and (max-width: 600px) {
	#login_panel {
		width: 100vw;
		height: 100vh;
		height: calc(100vh - 5rem);
		margin-top: 5rem;
	}

	#login_links_wrapper {
		top: 1rem;
		right: unset;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
	#login_links_wrapper {
		top: 1rem;
		right: unset;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	#login_links_wrapper {
		top: 1rem;
		right: 2rem;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

	#login_links_wrapper {
		top: 1rem;
		right: 2rem;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body {
		justify-content: flex-start;
		align-items: flex-start;
	}

	#login_panel {
		margin: 2rem;
	}

	#login_links_wrapper {
		top: 1rem;
		right: 2rem;
	}
}

/* IDENTICAL TO MAINSTYLE, COPY CHANGES FROM THERE */
#login_panel {
    display: flex;
    flex-flow: column;
    background: var(--c-lightergray);
    box-shadow: var(--s-black);
    position: fixed;
    border-radius: 5px;
    overflow: hidden
}

#title_stripe {
    position: relative;
    z-index: 1;
    background: var(--c-lightestgray);
    padding: 2rem 2.3rem;
    display: flex;
    align-items: center;
    box-shadow: var(--s-black)
}

.page_title {
    line-height: 1.25;
    display: flex;
    align-items: center;
    font-family: var(--bold);
    max-width: 50vw;
    text-overflow: ellipsis;
    font-size: var(--f-xlarge)
}

#panel_main {
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    z-index: 0
}

.overlay_panel_form {
	display: flex;
	margin: 50px;
	flex-direction: column;
	width: 300px;
	align-items: flex-start;
}

.overlay_panel_form > *:last-child {
	margin-bottom: 0;
}

.option_container {
    display: flex;
    flex-direction: column;
    margin: 3px 0 30px
}

input[type=checkbox],input[type=radio] {
    display: none
}

input[type=radio]+label:before {
    border-radius: 50%
}

input[type=checkbox] + label, input[type=radio] + label {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--c-black);
    font-family: var(--regular);
    text-transform: none;
    padding: 3px 0;
    margin-bottom: 8px;
    line-height: 1
}

input[type=checkbox] + label::before, input[type=radio] + label::before {
    content: "";
    border: 2px solid var(--c-black);
    min-width: 12px;
    min-height: 12px;
    transition: var(--t-basic);
    margin-right: 5px
}

input[type=checkbox] + label:active:before, input[type=radio] + label:active:before {
	transform: scale(0);
}

input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
	background: var(--c-black);
	border-color: var(--c-black);
	color: transparent;
}

/* Extra controls on the right top corner */
#login_links_wrapper {
	position: absolute;
	display: flex;
	align-items: flex-start;
	height: 3rem;
}

.login_link_wrapper {
	width: 100%;
	height: 100%;
	margin-left: 0.5rem;
}

/* Needs to be button or it will get messed up */

#login_button {
	background: linear-gradient(90deg, var(--c-primary) 0%, var(--c-lightprimary) 100%);
	color: var(--c-white);
	font-family: var(--bold);
	font-size: var(--f-large);
	border-radius: 5px;
	padding: 5px 15px;
	cursor: pointer;
}

#login_button:disabled {
	background: var(--c-gray);
	cursor: pointer;
	pointer-events: none;
}


/*
.login_link_button {
	color: var(--c-white);
	text-transform: uppercase;
	transition: var(--t-basic);
	height: 100%;
	width: 100%;
	border-radius: 5px;
	padding: 0 10px;
	line-height: 1.2;
}

.login_link_button:hover {
	background: var(--c-transparent-white);
}

.login_link_wrapper.opened > button {
	background: var(--c-lightgray);
	color: var(--c-black);
	border-radius: 5px 5px 0 0;
}

.login_link_dropdown {
	max-height: 0;
	transition: all var(--t-basic);
	background: var(--c-white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 10px;
	box-shadow: var(--s-black);
	overflow: hidden;
}

.login_link_wrapper.opened .login_link_dropdown {
	max-height: 250px;
	padding: 10px;
}

.login_link_dropdown p {
	font-size: var(--f-small);
	text-transform: uppercase;
	margin: 10px 0 5px 5px;
}

.login_link_dropdown a {
	font-size: var(--f-small);
	margin: 0 0 10px 15px;
}

.login_link_dropdown a:hover {
	font-family: var(--bold);
}
*/

/* Change between apps, might be redundant */
/*
#apps {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding: 50px;
	box-sizing: border-box;
	z-index: 0;
}

.app_wrapper {
	position: relative;
	cursor: pointer;
}

#apps p {
	color: var(--c-black);
	align-self: flex-end;
	background: var(--c-white);
	margin: 5px 0;
	font-family: var(--bold);
	text-transform: uppercase;
	padding: 5px 10px !important;
	position: relative;
	box-shadow: 0 2px 10px #25252530;
	z-index: 1;
	transition: all ease-in .2s;
}

#apps .app_wrapper.current p {
	font-size: var(--f-xxxlarge);
	border-right: 5px solid var(--c-primary);
}

#apps .app_wrapper button {
	max-width: 0;
	overflow: hidden;
	white-space: nowrap;
	transition: max-width ease-in .2s 0s, padding ease-in .2s 0s;
	position: absolute;
	border-radius: 0;
	right: 100%;
	top: 50%;
	transform: translateY(-50%);
	font-size: var(--f-xxxlarge);
	padding: 0;
	background: var(--c-primary);
	z-index: 1;
	box-sizing: border-box;
	color: var(--cd-primarycontrast);
}

#apps .app_wrapper.current button {
	max-width: 200px;
	overflow: hidden;
	padding: 5px 10px !important;
	transition: max-width ease-in .2s .2s, padding ease-in .2s .2s;
}
*/

/* Text for copyright claims, appname and version number */
/* Name and version text used on login page*/
#copyright_text {
	font-size: var(--f-small);
	font-family: var(--bold);
	position: absolute;
	bottom: 10px;
	right: 10px;
	margin: 0;
	z-index: 2;
	line-height: 1;
}

/*
<div id="login_links_wrapper">
	<div class="login_link_wrapper">
		<button class="login_link_button">News and updates</button>
	</div>
	<div class="login_link_wrapper">
		<button class="login_link_button" onclick="toggleOtherApps(this)">Other Applications</button>
		<div class="login_link_dropdown">
			<p>For Organisers</p>
			<a href="">CC Wheelchair</a>
			<p>For Federations</p>
			<a href="../cw/index.php">Competition View</a>
		</div>
	</div>
</div>

<div id="apps">
	<div class="app_wrapper current" onclick="chooseApp(this)">
		<p>Competition Control</p>
	</div>
	<div class="app_wrapper" onclick="chooseApp(this)">
		<p>Competition Control Wheelchair</p>
		<button>OPEN</button>
	</div>
</div>
*/