.modal_wrapper {
	width: 100vw;
	height: 100vh;
	background: var(--c-transparent-black);
	position: fixed;
	z-index: 10;	/* Has to be or it wont work properly in cw pages with browsing divs  */
	-webkit-backdrop-filter: blur(3px) grayscale(.25);
	backdrop-filter: blur(3px) grayscale(.25);
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
}

.modal {
	background: var(--c-white);
	border-radius: 5px;
	overflow: hidden;
	min-width: 50vh;
	width: 1000px;
	max-width: 70vh;
	max-height: 60vh;
	display: flex;
	flex-direction: column;
}


/* Makes the modal full width and height of the viewport on mobile */
@media (max-width: 576px) {
	.modal {
		min-width: 100vw !important;
		min-height: 100vh !important;
		width: 100vw !important;
		height: 100vh !important;
		max-width: 100vw !important;
		max-height: 100vh !important;
		border-radius: 0 !important;
	}
}

.modal > div {
	width: 100%;
	box-sizing: border-box;
}

.modal_header {
	padding: 20px 40px;
}

.modal_header.gray {
	background: var(--c-lightergray);
	padding: 20px 40px;
}

.modal_header.blue {
	background: var(--c-blue);
	padding: 20px 40px;
}

.modal_header.red {
	background: var(--c-red);
	padding: 20px 40px;
}

.modal_header.primary {
	background: var(--c-primary);
	padding: 20px 40px;
}

.modal_title {
	font-size: var(--f-large);
	font-family: var(--bold);
}

.modal_subtitle {
	font-size: var(--f-small);
	font-family: var(--bold);
}

.modal_main {
	height: 100%;
	overflow: auto;
	padding: 50px;
	line-height: 1.25;
}

.modal_main_image {
	border-radius: 5px;
	max-width: 60%;
	max-height: 20vh;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.modal_main .title, .modal_main_title {
	font-family: var(--bold);
	margin: 2px 0;
}

.modal_main .centered {
	text-align: center;
}

.modal_main .margin_bottom {
	margin-bottom: 15px;
}

.modal_main .margin_top {
	margin-top: 15px;
}

.modal_main .big {
	font-size: var(--f-large);
}

.modal_main .primary {
	color: var(--c-primary);
}

.modal_paragraph {
	margin: 2px 0 10px;
}

.modal_footer {
	padding: 10px 40px;
	background: var(--c-lightestgray);
	border-top: 1px solid var(--c-gray);
}

.modal_footer_text {
	font-size: var(--f-xsmall);
	color: var(--c-darkgray);
	text-align: center;
	line-height: 1.25;
	margin-bottom: 7px;
}

.modal_footer_content {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}

.modal_footer_content.column {
	flex-direction: column;
	align-items: center;
}

.modal_footer_content > :is(button, a) {
	padding: 4px 8px;
	border-radius: 2px;
	font-family: var(--bold);
	margin: 0 5px;
}

.modal_decline_button {
	background: var(--c-gray);
}

.modal_confirmation_button {
	background: var(--c-primary);
}

/*

WITH double quotes
<div class="modal_wrapper" id="modal_1">
	<div class="modal">
		<div class="modal_header red">
			<p class="modal_title">Confieramtion</p>
			<p class="modal_subtitle">Szia</p>
		</div>
		<div class="modal_main">
			<img src="../assets/icons/arrow_back_ios_black.svg" class="modal_main_image margin_bottom">
			<p class="modal_main_title big primary">Bruh</p>
			<p class="modal_main_title centered margin_bottom">Bruh</p>
			<p class="modal_paragraph margin_top">Bruh</p>
		</div>
		<div class="modal_footer">
			<p class="modal_footer_text">This change cannot be undone.</p>
			<div class="modal_footer_content">
				<button class="modal_decline_button" onclick="toggleModal(1)">Decline</button>
				<button class="modal_confirmation_button">Accept</button>
			</div>
		</div>
	</div>
</div>

with single quotes for js
<div class='modal_wrapper' id='modal_1'>
	<div class='modal'>
		<div class='modal_header red'>
			<p class='modal_title'>Confieramtion</p>
			<p class='modal_subtitle'>Szia</p>
		</div>
		<div class='modal_main'>
			<img src='../assets/icons/arrow_back_ios_black.svg' class='modal_main_image margin_bottom'>
			<p class='modal_main_title big primary'>Bruh</p>
			<p class='modal_main_title centered margin_bottom'>Bruh</p>
			<p class='modal_paragraph margin_top'>Bruh</p>
		</div>
		<div class='modal_footer'>
			<p class='modal_footer_text'>This change cannot be undone.</p>
			<div class='modal_footer_content'>
				<button class='modal_decline_button' onclick='toggleModal(1)'>Decline</button>
				<button class='modal_confirmation_button'>Accept</button>
			</div>
		</div>
	</div>
</div>

with single quotes for js in one line

<div class='modal_wrapper' id='modal_1'><div class='modal'><div class='modal_header red'><p class='modal_title'>Confieramtion</p><p class='modal_subtitle'>Szia</p></div><div class='modal_main'><img src='../assets/icons/arrow_back_ios_black.svg' class='modal_main_image margin_bottom'><p class='modal_main_title big primary'>Bruh</p><p class='modal_main_title centered margin_bottom'>Bruh</p><p class='modal_paragraph margin_top'>Bruh</p></div><div class='modal_footer'><p class='modal_footer_text'>This change cannot be undone.</p><div class='modal_footer_content'><button class='modal_decline_button' onclick='toggleModal(1)'>Decline</button><button class='modal_confirmation_button'>Accept</button></div></div></div></div>

*/