/* ///PISTES/// */

/* Color input */

.color_select { /* Wrapper for colors */
	display: flex;
	width: 100%;
	margin: 10px 0 15px;
}

.color_select.hidden {
	display: none;
	margin: 0;
}

.color_select > label:before {
	display: flex;
	width: 25px;
	height: 25px;
	border-radius: 15px;
	margin: 0 5px;
	box-sizing: border-box;
}

.color_select > input + label {
	margin-bottom: 0;
}
.color_select > input + label:before {
	border: none;
	padding: 3px;
}

.color_select > input:checked + label:before {
	border: 3px solid var(--c-black);
	transform: scale(1.1);
}

.color_select > input.red + label:before {
	background: var(--c-red);
}

.color_select > input.green + label:before {
	background: var(--c-green);
}

.color_select > input.blue + label:before {
	background: var(--c-blue);
}

.color_select > input.yellow + label:before {
	background: var(--c-yellow);
}

/* Pistes main styling */

#add_piste_panel {
	right: 40px;
}

#pistes_wrapper {
	display: flex;
	flex-direction: column;
	margin: 50px 0;
	width: 90%;
}

.piste_wrapper {
	margin: 30px 0;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.piste {
	display: flex;
	background: var(--c-white);
	flex: 1 1 450px;
	min-width: 400px;
	width: 40vw;
	max-width: 500px;
	margin: 10px;
	min-height: 75px;
	height: 8vh;
	max-height: 150px;
	box-shadow: var(--s-black);
	position: relative;
	transition: transform var(--t-basic);
	will-change: auto;
	z-index: 0;
}

.piste.focused {
	transform: scale(1.025);
	z-index: 1;
}

.piste > .piste_settings_panel {
	background: var(--c-white);
	position: absolute;
	top: 100%;
	height: 0;
	opacity: 0;
	width: 100%;
	display: flex;
	transition: height var(--t-basic), opacity var(--t-basic);
	overflow: hidden;
}

.piste.focused > .piste_settings_panel {
	height: 60px;
	opacity: 1;
}

.piste.ghost {
	visibility: hidden;
	height: 0;
	margin: 0 10px;
	min-height: 0;
}

.piste > div:first-of-type, .piste > div:last-of-type {
	height: 100%;
	min-width: 75px;
	width: 8vh;
	max-width: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--f-xxxlarge);
	font-family: var(--bold);
}

.piste.main > div:first-of-type, .piste.main > div:last-of-type {
	background: var(--c-blue);
}

.piste.red > div:first-of-type, .piste.red > div:last-of-type {
	background: var(--c-red);
}

.piste.green > div:first-of-type, .piste.green > div:last-of-type {
	background: var(--c-green);
}

.piste.blue > div:first-of-type, .piste.blue > div:last-of-type {
	background: var(--c-blue);
}

.piste.yellow > div:first-of-type, .piste.yellow > div:last-of-type {
	background: var(--c-yellow);
}

.piste.numbered > div:first-of-type, .piste.numbered > div:last-of-type {
	background: var(--c-gray);
}

.piste > div:nth-of-type(2) {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0 20px;
	font-size: var(--f-large);
	font-family: var(--bold);
	position: relative;
}

.piste_status_indicator {
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: var(--c-gray);
	position: absolute;
	right: 20px;
}

.piste_status_indicator.red {
	background: var(--c-red);
}

.piste_status_indicator.green {
	background: var(--c-green);
}

.piste_config_button {
	width: 75%;
	height: 75%;
	background: transparent;
	transition: opacity var(--t-basic);
	opacity: 0;
}

.piste_config_button > img {
	width: 50%;
	height: 50%;
	transition: transform var(--t-basic);
}

.piste_config_button:hover > img {
	transform: scale(1.05);
}

.piste:hover > div:last-of-type > button {
	opacity: 1;
}

.piste_settings_panel > div {
	width: 100%;
	display: flex;
	box-sizing: border-box;
	padding: 0 20px;
}

.link_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.link_wrapper input {
	margin: 0;
	max-width: 100%;
}

.link_wrapper button {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.link_wrapper button[type="button"] {
	background: var(--c-lightestgray);
	margin: 0 2px 0 15px;
}

.link_wrapper button[type="submit"] {
	background: var(--c-orange);
	margin: 0 0 0 2px;
}

.link_wrapper button img {
	width: 18px;
	height: 18px;
	-webkit-filter: var(--ci-secondarycontrast);
	filter: var(--ci-secondarycontrast);
}

.link_wrapper.hidden {
	display: none;
}

.settings_wrapper {
	display: flex;
}

.settings_wrapper.hidden {
	display: none;
}

.settings_wrapper > div {
	flex: 1 0 auto;
	display: flex;
	align-items: center;
	position: relative;
	justify-content: center;
}

.settings_wrapper > div:nth-of-type(2) {
	border-left: 2px solid var(--c-lightergray);
	border-right: 2px solid var(--c-lightergray);
}

.settings_wrapper > div > p:first-of-type {
	font-family: var(--bold);
	font-size: var(--f-small);
	position: absolute;
	bottom: 60%;
}

.settings_wrapper > div > button {
	width: 28px;
	height: 28px;
	background: transparent;
	margin-top: 15px;
	border-radius: 50%;
}

.settings_wrapper > div > button:hover {
	background: var(--c-lightergray);
}

.settings_wrapper > div > button.selected {
	background: var(--c-secondary);
}

.settings_wrapper > div > img {
	width: 80%;
	height: 80%;
}