@charset "UTF-8";

/* Pool Results */

#pool_results {
	display: flex;
	max-width: 100%;
}

#pool_results > div {
	width: 100%;
	display: flex;
}

.pool_results_column {
	padding: 30px 1vw;
	position: relative;
	z-index: 0;
	flex: 1 1 50%;
	box-sizing: border-box;
	opacity: 1;
	transition: all var(--t-basic);
	max-width: 100%;
}

.pool_results_column.collapsed {
	width: 0;
	padding: 30px 0.5vw;
	opacity: 0;
	flex: 1 1 0;
	max-width: 0;
	overflow: hidden;
}

/* Entry on left side */
#pool_matches_brief {
	display: flex;
	align-items: center;
}

#pool_results .entry {
	box-sizing: border-box;
	width: 100%;
	border-radius: 5px;
	overflow: hidden;
}

#pool_results .entry > .table_row {
	background: var(--c-lightestgray);
}

/* Buttons in the middle */
#column_view_controls {
	display: flex;
	flex-direction: column;
	align-self: center;
	z-index: 1;
}

#column_view_controls button {
	padding: 5px;
	background: var(--c-lightestgray);
	border-radius: 50%;
	margin: 2px 0;
	box-shadow: var(--s-black);
}

#column_view_controls button.hidden {
	display: none;
}

#column_view_controls img {
	width: 20px;
	height: 20px;
}

/* Matches list on the right */
#pool_matches {
	overflow-x: hidden;
	overflow-y: auto;
}

.match {
	box-sizing: border-box;
	width: 100%;
	display: flex;
	position: relative;
	background: var(--c-white);
	border: 5px solid;
	margin: 7px 0;
	overflow: auto;
	border-radius: 5px;
}

.match.red {
	border-color: var(--c-red);
}

.match.green {
	border-color: var(--c-green);
}

.match.canceled {
	border-color: var(--c-black);
	-webkit-filter: contrast(.8);
	filter: contrast(.8);
	pointer-events: none;
	cursor: default;
}

.match:focus-within .match_number {
	background: var(--c-lightergray);
	color: var(--c-black);
}

.match > div {
	display: flex;
	flex: 1 1 0;
	align-items: center;
	padding: 8px 0;
}

.match > div > p {
	font-family: var(--bold);
	text-overflow: ellipsis;
}

.match_number {
	font-size: var(--f-large);
	font-family: var(--bold);
	color: var(--c-darkgray);
	justify-content: center;
	background: var(--c-lightestgray);
	flex: 0 0 30px !important;
}

.match > div:nth-of-type(2) {
	justify-content: flex-end;
	text-align: end;
}

.match > div:last-of-type {
	justify-content: flex-start;
	text-align: start;
}

.match > div:nth-of-type(2) p {
	padding-right: 5%;
}

.match > div:last-of-type p {
	padding-left: 5%;
}

.match .vs {
	flex: 0 0 5px;
	color: var(--c-gray);
	font-size: var(--f-large);
}

.match > div > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.match input[type="text"] {
	padding: 0 !important;
	width: 50px !important;
	text-align: center;
	margin-bottom: 0;
}

.match label.collapsed {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	padding: 0;
	margin: 0;
}

.match label {
	max-height: 100%;
	transition: all var(--t-basic);
	opacity: 1;
	padding: 3px;
	margin: 0 !important;
	margin-top: 3px !important;
}