.team_report {
	flex: 1 1 50%;
}

.team_title {
	font-size: 20pt;
	font-family: var(--bold);
	text-transform: uppercase;
}

table {
	width: 100%;
}

table th, table td {
	padding: 5px !important;
}

.td_wrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.td_wrapper > div:first-child {
	width: 20pt;
	height: 20pt;
	border: 1pt solid black;
}

.td_replacement p {
	font-family: var(--bold);
	line-height: 1;
}

.td_replacement div {
	width: 15pt;
	height: 15pt;
	border: 1pt solid black;
}