@page {
    margin: 25pt;
}

.elimination_slider_button {
    display: none;
}

#call_room {
    margin: 0 !important;
    flex-wrap: wrap;
    overflow: hidden;
}

#call_room *::after, #call_room *::before {
    display: none;
}

.elimination {
    page-break-inside: auto !important;
	page-break-after: always !important;
	page-break-before: auto !important;
    flex: 1 1 30%;
}

.table_round_wrapper {
    padding: 0 !important;
    margin: 0 !important;
    page-break-inside: avoid !important;
	page-break-after: auto !important;
	page-break-before: auto !important;
}

.table_round {
    margin: 0 !important;
    font-size: 6pt;
}

.table_round_info {
    font-size: 6pt;
}

.table_fencer > div {
    padding: 0;
}