.grid_table {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
    font-size: 10pt !important;
    position: relative !important;
}

.grid_header, .grid_row {
    display: flex !important;
    width: 100%;
}

.grid_header_text {
    align-items: center !important;
    justify-content: center !important;
}

.grid_row_wrapper {
    display: flex !important;
    flex-direction: column !important;
}

.grid_item, .grid_header_text {
    background: white !important;
    display: flex !important;
    flex: 1 0 50% !important;
    align-items: center !important;
    justify-content: center !important;
    height: 20pt !important;
}

.grid_item, .grid_row_wrapper {
    border: solid #000 !important;
    box-sizing: border-box;
}

.grid_item {
    border: solid #000 !important;
    border-width: 1.5pt 0 0 1.5pt !important;
}

.grid_row_wrapper {
    border-width: 0 1.5pt 1.5pt 0 !important;
}

.grid_item.signature, .grid_header_text.signature {
    flex: 0 0 25% !important;
}

.label {
    font-size: 12pt;
}

.paper_content > div {
    width: 100%;
    padding: 0 50pt;
    box-sizing: border-box;
    margin: 20pt 0 10px;
}

.notes > div {
    border: 1.5pt solid black !important;
    padding: 20pt;
    width: 100%;
    box-sizing: border-box;
    font-size: 10pt;
}

.wrapper.hidden {
    display: none;
}

.paper_wrapper.hidden {
    display: none;
}

@media print {

    .grid_item {
        border:solid #000 !important;
        border-width: 1pt 0 0 1pt !important;
    }

    .grid_row_wrapper {
        border-width: 0 1pt 1pt 0 !important;
    }

    .grid_item.signature, .grid_header_text.signature {
        flex: 0 0 25% !important;
    }

    .notes > div {
        border: .75pt solid black !important;
    }

}