.title_container {
    padding: 0 10px;
    box-sizing: border-box;
	height: 10%;
	display: flex;
}

.title_container > div {
	display: flex;
	flex: 1 1 20%;
	align-items: center;
}

.title {
	font-family: var(--bold);
	font-size: 20pt;
	width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.title_wrapper {
    flex: 1 1 100% !important;
}

.pool_info {
    flex: 1 1 60% !important;
    padding: 0 5pt;
}

.pool_info > div {
	font-size: 12pt;
	flex: 1 1 33%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.info_label {
	font-family: var(--bold);
}

.comp_info {
	flex-direction: column;
	font-size: 8pt;
	justify-content: center;
	align-items: flex-start !important;
}

.comp_info.small {
    flex-grow: 0 !important;
}

.comp_info div {
	margin: 5px 0;
	display: flex;
	text-align: left;
}

.comp_info div p {
	margin-right: 5px;
}

.paper_content {
    height: 90%;
    display: flex;
    flex-direction: column;
}

.paper_wrapper {
    transform: scale(.5);
    transition: all var(--t-basic);
}

@media print {

    @page {
        margin: 0;
        size: A4;
    }

	body, * {
		box-shadow: none !important;
		background: transparent !important;
        overflow: visible !important;
        height: auto !important;
	}

    header, .nav_bar_flex, #title_stripe {
        display: none !important;
        width: 0 !important;
        max-width: 0 !important;
        max-height: 0 !important;
        visibility: hidden !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        min-height: 0 !important;
        max-height: 0 !important;
        height: 0 !important;
    }

    .paper_wrapper {
        position: absolute !important;
        top: -40px !important;
        left: 0 !important;
        margin: 0 !important;
        padding: 0 !important;
        display: block !important;
        flex-wrap: nowrap !important;
        justify-content: initial !important;
        transform: scale(1) !important;
    }

    .paper {
        transform: none !important;
        margin: 0 !important;
        padding: 0 !important;
        width: 100vw !important;
        height: 100vh !important;
        box-sizing: border-box !important;
        page-break-before: always !important;
        page-break-after: always !important;
        overflow: hidden !important;
    }

    .title_container {
		height: 10vh !important;
    }  

	.paper_content {
		height: 90vh !important;
    }

    .wrapper {
        display: none;
    }
    
}