.paper.barcodes {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(13, 1fr);
	padding: 10.7mm 7.9mm 8.6mm 11.9mm;
}

.print_stat {
	display: flex;
	align-items: center;
}

.print_stat p {
	margin: 0 10pt 0 3pt;
}

p.bold {
	font-family: var(--bold);
}

.print_stat img {
	width: 16pt;
	height: 16pt;
}

.barcode_print {
	width: 38mm;
	min-width: 38mm;
	max-width: 38mm;
	height: 21.1mm;
	min-height: 21.1mm;
	max-height: 21.1mm;
	font-size: 7pt;
	line-height: 1;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: 1px solid black;
	box-sizing: border-box;
}

.barcode_print p {
	margin: 0 auto;
	text-align: center;
}

/* table style barcode */
.generated_barcode {
	width: auto;
	height: 10mm;
	border: none !important;
	margin: 0 auto 3pt;
}

div.b128 {
	border-left: 1px black solid;
	height: 100%;
}

@media print {
	@page {
		margin: 0 !important;
	}

    .paper.barcodes {
		display: grid !important;
		grid-template-columns: repeat(5, 1fr) !important;
		grid-template-rows: repeat(13, 1fr) !important;
		padding: 10.7mm 7.9mm 8.6mm 11.9mm !important;
		zoom: 100% !important;
	}
}