@page {
	margin: 25pt;
}

.wrapper {
	width: 100% !important;
	min-width: 100% !important;
	max-width: unset !important;
	margin: 0 !important;
}


table, thead, tbody, tr, th, td {
	color: var(--c-black);
	border-collapse: collapse !important;
	border: 1pt solid black !important;
}

table {		/* Whole table */
	--lineheight: 22pt !important;
}

table.small {		/* Whole table */
	--lineheight: 18pt !important;
}

table p, tr p {		/* Whole table */
	font-size: 11pt !important;
}

table.small p, tr.small p {		/* Whole table */
	font-size: 9pt !important;
}

tbody {	/* Wraps table_row elements */
	border-radius: unset !important;
	page-break-inside: auto !important;
	page-break-after: auto !important;
	page-break-before: auto !important;
}

/* Header */

thead {		/* Wraps table_header text elements */
	text-transform: uppercase;
}

th {}

th.square, td.square {
	display: none !important;
}

/* General */

th button {
	display: none !important;
}

th p {
	font-family: var(--bold) !important;
}

td.square, td.small, th.small {
	display: none;
}

tr, tr.selected, .tr {
	outline: none;
	page-break-inside: avoid !important;
	page-break-after: auto !important;
	page-break-before: auto !important;
	background: none !important;
	transform: none !important;
	height:  var(--lineheight) !important;
}

td p {
	font-family: var(--regular) !important;
}

.entry {
	border-color: black !important;
	margin: 0 0 15pt;
	page-break-inside: avoid !important;
	page-break-after: auto !important;
	page-break-before: auto !important;
}

.entry > .tr {
	border-bottom: 1pt solid black !important;
}

.entry_panel {
	padding: 10pt !important;
}

.entry_panel table {
	margin: 10pt !important;
}