@page {
    margin: 25pt;
    size: A4;
}

#pools_drag_panel {
    display: none !important;
}

#pools_wrapper {
    width: 100% !important;
    margin: 0;
}

#pool_listing {
    width: 100% !important;
	--lineheight: 16pt !important;
	--fontsize: 10pt !important;
}

#pool_listing > div {
	margin: 5pt 0 !important;
}

.entry {
	page-break-inside: avoid !important;
	page-break-after: auto !important;
	page-break-before: auto !important;
}

.pool_table_wrapper {
    width: 100% !important;
}

.entry_panel {
    height: auto !important;
    max-height: unset !important;
}

.table_row_wrapper > .table_row > .table_item:nth-child(1) {
	width: 40% !important;
	max-width: 40% !important;
}

.table_row_wrapper > .table_row > .table_item:nth-child(2) {
	width: 30% !important;
	max-width: 30% !important;
}