:root {		/* Used colors ans shadows saved as css variables*/
	--c-black: #252525; 
	--c-transparent-black: rgba(0, 0, 0, 0.3);
	--c-darkgray: #9B9A9A;
	--c-gray: #CCCCCC;
	--c-lightgray: #DDDDDD;
	--c-lightergray: #ECECEC;
	--c-lightestgray: #F6F6F6;
	--c-white: #FFFFFF;
	--c-navbar: #252525; 
	--c-transparent-white: rgba(255, 255, 255, 0.2);
	--c-yellow: #FFC914;
	--c-orange: #FF9700;
	--c-lightorange: #FFBE5C;
	--c-red: #F84F4F;
	--c-green: #8DFFB7;
	--c-blue: #42CAFD;
	--c-purple: #7765E3;
	--c-transparent: rgba(0, 0, 0, 0);
	--c-input: #252525; 
	--c-disabled: #9B9A9A;
	--s-black: 0 3px 6px rgba(0, 0, 0, 0.1);
	--s-orange: 0 3px 6px rgba(255, 151, 0, 0.1);
	--s-red: 0 3px 6px rgba(248, 79, 79, 0.1);
	--t-basic: ease-in .2s;
	--f-large: calc(1.25em + 1vmin);
	--f-medium: calc(0.8em + 0.8vmin);
	--f-small: calc(0.6em + 0.5vmin);
	--f-smaller: calc(0.6em + 0.3vmin);
}

[data-theme="highcontrast"]:root {
	--c-black: #FFFC00; 
	--c-transparent-black: rgba(0, 0, 0, 0.3);
	--c-darkgray: #1A1A1A; 
	--c-gray: #141414; 
	--c-lightgray: #0F0F0F; 
	--c-lightergray: #0A0A0A; 
	--c-lightestgray: #050505;
	--c-white: #000000;
	--c-navbar: #FFFC00; 
	--c-transparent-white: rgba(255, 255, 255, 0.2);
	--c-orange: #1A1A1A;
	--c-lightorange: #1A1A1A;
	--c-red: #F84F4F;
	--c-green: #8DFFB7;
	--c-blue: #42CAFD;
	--c-purple: #7765E3;
	--c-transparent: rgba(0, 0, 0, 0);
	--c-input: #252525;
	--c-disabled: #9B9A9A;
	--s-black: 0 3px 6px rgba(0, 0, 0, 0.1);
	--s-orange: 0 3px 6px rgba(255, 151, 0, 0.1);
	--s-red: 0 3px 6px rgba(248, 79, 79, 0.1);
	--f-large: calc(1.3em + 1.3vmin);
	--f-medium: calc(1em + 0.85vmin);
	--f-small: calc(0.8em + 0.7vmin);
	--f-smaller: calc(0.7em + 0.7vmin);
}

[data-theme="dark"]:root {		/* Used colors ans shadows saved as css variables*/
	--c-black: #F1F1F1; 
	--c-transparent-black: rgba(0, 0, 0, 0.3);
	--c-darkgray: #3F3F3F;
	--c-gray: #393939;
	--c-lightgray: #343434;
	--c-lightergray: #2F2F2F;
	--c-lightestgray: #2A2A2A;
	--c-white: #252525;
	--c-transparent-white: rgba(255, 255, 255, 0.2);
	--c-navbar: #F1F1F1; 
	--c-orange:  #444444;
	--c-lightorange: #3C3C3C;
	--c-input: #252525;
	--c-disabled: #9B9A9A;
	--s-black: 0 3px 6px rgba(0, 0, 0, 0.1);
	--s-orange: 0 3px 6px rgba(0, 0, 0, 0.1);
	--s-red: 0 3px 6px rgba(248, 79, 79, 0.1);
}

@font-face {	
	font-family: ProximaNovaThin;
	src: url(../assets/fonts/ProximaNova-Thin.otf);
}

@font-face {
	font-family: ProximaNova;
	src: url(../assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
	font-family: ProximaNovaBold;
	src: url(../assets/fonts/ProximaNova-Bold.otf);
}

body, html {	/* Gives placeholder background and default font*/
    background-color: var(--c-white);
	font-family: ProximaNova;
	color: var(--c-black);
	height: 100%;
	padding: 0;
    margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--c-black);
	font-size: var(--f--small);
	white-space: nowrap;
	cursor: pointer;
}

button {
	cursor: pointer;
	padding: 0;
    font-family: ProximaNova;
    outline: none;
    border: none;
}

ul {
	list-style: none;
}

p {
	margin: 0;
}

input {
    color: var(--c-input);
    outline: none;
    border: none;
}

input.hidden {
	display: none;
}

input[type="text"].hidden {
	display: none;
}

input[type="password"].no_margin_input {
	margin-bottom: 0;
}

textarea {
	outline: none;
	border: none;
	resize: none;
	font-family: ProximaNova;
}

:hover {
	transition: var(--t-basic);
}

.hb_button {		/*header bar button */
	background-color: var(--c-lightgray);
	height: 35px;
	width: 35px;
	border: 0;
	border-radius: 50%;
	background-size: 60% 60%;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table_header {
	width: 100%;
	font-family: ProximaNovaThin;
	background-color: var(--c-transparent);
	font-size: var(--f-medium);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}

.table_header_text {
	flex: 1 1 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
}

.table_header_text.title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.table_row {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: var(--c-white);
	min-height: 35px;
	height: 4vh;
	max-height: 50px;
	font-size: var(--f-medium);
	cursor: pointer;
	overflow: hidden;
}

.selected {
	background-color: var(--c-orange);
	font-family: ProximaNovaBold;
}

.table_item {
	flex: 1 1 0;
	text-align: center;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--c-transparent);
	height: 100%;
}

.small_status_header {
	height: 100%;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--f-small);
	font-family: ProximaNovabold;
}

.small_status_item {
	min-height: 35px;
	height: 4vh;
	max-height: 50px;
	width: 20px;
}

.big_status_header {
	min-width: 35px;
	width: 4vh;
	max-width: 50px;
}

.big_status_item {
	min-height: 35px;
	height: 4vh;
	max-height: 50px;
	min-width: 35px;
	width: 4vh;
	max-width: 50px;
	background-position: center;
	background-size: 80% 80%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red {
	background-color: var(--c-red);
}

.green {
	background-color: var(--c-green);
}

.gray {
	background-color: var(--c-gray);
}

.yellow {
	background-color: var(--c-yellow);
}

.blue {
	background-color: var(--c-blue);
}

.purple {
	background-color: var(--c-purple);
}


div.table_row:nth-child(even) {
	background-color: var(--c-lightestgray);
}

div.table_row:nth-child(even).selected {
	background-color: var(--c-orange);
}


/* Scroll Bar */

::-webkit-scrollbar { 	/* width */
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {		  /* Track */
    background: var(--c-white); 
}

::-webkit-scrollbar-thumb {		/* Handle */
    background: var(--c-darkgray); 
}
  
::-webkit-scrollbar-thumb:hover {		  /* Handle on hover */
    background: var(--c-gray); 
}


/* Search Input */

input[type="search"] {
	background-color: var(--c-lightestgray);
	font-size: var(--f-medium);
	border-radius: 5px;
	box-shadow: var(--s-black);
	padding: 7.5px 30px;
	font-family: ProximaNova;
}

input[type="search"]::placeholder {
	font-family: ProximaNovaBold;
}

input[value="Search"], input[value="Use Ranking"]  {
	padding: 7.5px 30px;
	background-color: var(--c-orange);
	border-radius: 5px;
	font-size: var(--f-medium);
	font-family: ProximaNovaBold;
	cursor: pointer;
}

input[value="Use Ranking"] {
	margin-left: auto;
}

input[value="Use Ranking"].disabled {
	color: var(--c-darkgray);
	background-color: var(--c-gray);
}

/* Extended Search Input */







/* Custom Select Input */

.select_input {
	width: 200px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.select_input > button {
	width: 100%;
	border-radius: 5px;
	box-shadow: var(--s-black);
	font-size: var(--f-medium);
	z-index: 2;
}

.select_input > button > p {
	padding: 7.5px 30px;
	background-color: var(--c-lightestgray);
	font-family: ProximaNova;
}

.select_input > div {
	position: absolute;
	top: calc( var(--f-medium) + 15px );
	background-color: var(--c-white);
}