:root {		/* Used colors ans shadows saved as css variables*/
	--c-black: #252525; 
	--c-transparent-black: rgba(0, 0, 0, 0.3);
	--c-darkgray: #9B9A9A;
	--c-gray: #CCCCCC;
	--c-lightgray: #DDDDDD;
	--c-lightergray: #ECECEC;
	--c-lightestgray: #F6F6F6;
	--c-white: #FFFFFF;
	--c-navbar: #252525; 
	--c-transparent-white: rgba(255, 255, 255, 0.2);
	--c-yellow: #FFC914;
	--c-orange: #FF9700;
	--c-lightorange: #FFBE5C;
	--c-red: #F84F4F;
	--c-green: #8DFFB7;
	--c-blue: #42CAFD;
	--c-purple: #7765E3;
	--c-transparent: rgba(0, 0, 0, 0);
	--c-input: #252525; 
	--c-disabled: #9B9A9A;
	--s-black: 0 3px 6px rgba(0, 0, 0, 0.1);
	--s-orange: 0 3px 6px rgba(255, 151, 0, 0.1);
	--s-red: 0 3px 6px rgba(248, 79, 79, 0.1);
	--t-basic: ease-in .2s;
	--f-large: calc(1.25em + 1vmin);
	--f-medium: calc(0.8em + 0.8vmin);
	--f-small: calc(0.6em + 0.5vmin);
	--f-smaller: calc(0.6em + 0.3vmin);
}

[data-theme="highcontrast"]:root {
	--c-black: #FFFC00; 
	--c-transparent-black: rgba(0, 0, 0, 0.3);
	--c-darkgray: #1A1A1A; 
	--c-gray: #141414; 
	--c-lightgray: #0F0F0F; 
	--c-lightergray: #0A0A0A; 
	--c-lightestgray: #050505;
	--c-white: #000000;
	--c-navbar: #FFFC00; 
	--c-transparent-white: rgba(255, 255, 255, 0.2);
	--c-orange: #1A1A1A;
	--c-lightorange: #1A1A1A;
	--c-red: #F84F4F;
	--c-green: #8DFFB7;
	--c-blue: #42CAFD;
	--c-purple: #7765E3;
	--c-transparent: rgba(0, 0, 0, 0);
	--c-input: #252525;
	--c-disabled: #9B9A9A;
	--s-black: 0 3px 6px rgba(0, 0, 0, 0.1);
	--s-orange: 0 3px 6px rgba(255, 151, 0, 0.1);
	--s-red: 0 3px 6px rgba(248, 79, 79, 0.1);
	--f-large: calc(1.3em + 1.3vmin);
	--f-medium: calc(1em + 0.85vmin);
	--f-small: calc(0.8em + 0.7vmin);
	--f-smaller: calc(0.7em + 0.7vmin);
}

[data-theme="dark"]:root {		/* Used colors ans shadows saved as css variables*/
	--c-black: #F1F1F1; 
	--c-transparent-black: rgba(0, 0, 0, 0.3);
	--c-darkgray: #3F3F3F;
	--c-gray: #393939;
	--c-lightgray: #343434;
	--c-lightergray: #2F2F2F;
	--c-lightestgray: #2A2A2A;
	--c-white: #252525;
	--c-transparent-white: rgba(255, 255, 255, 0.2);
	--c-navbar: #F1F1F1; 
	--c-orange:  #444444;
	--c-lightorange: #3C3C3C;
	--c-input: #252525;
	--c-disabled: #9B9A9A;
	--s-black: 0 3px 6px rgba(0, 0, 0, 0.1);
	--s-orange: 0 3px 6px rgba(0, 0, 0, 0.1);
	--s-red: 0 3px 6px rgba(248, 79, 79, 0.1);
}

@font-face {	
	font-family: ProximaNovaThin;
	src: url(../assets/fonts/ProximaNova-Thin.otf);
}

@font-face {
	font-family: ProximaNova;
	src: url(../assets/fonts/ProximaNova-Regular.otf);
}

@font-face {
	font-family: ProximaNovaBold;
	src: url(../assets/fonts/ProximaNova-Bold.otf);
}

body, html {	/* Gives placeholder background and default font*/
    background-color: var(--c-white);
	font-family: ProximaNova;
	color: var(--c-black);
	height: 100%;
	padding: 0;
    margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--c-black);
	font-size: var(--f--small);
	white-space: nowrap;
	cursor: pointer;
}

button {
	cursor: pointer;
	padding: 0;
    font-family: ProximaNova;
    outline: none;
    border: none;
}

ul {
	list-style: none;
}

p {
	margin: 0;
}

input {
    color: var(--c-input);
    outline: none;
    border: none;
}

input.hidden {
	display: none;
}

input[type="text"].hidden {
	display: none;
}

input[type="password"].no_margin_input {
	margin-bottom: 0;
}

textarea {
	outline: none;
	border: none;
	resize: none;
	font-family: ProximaNova;
}

:hover {
	transition: var(--t-basic);
}

.hb_button {		/*header bar button */
	background-color: var(--c-lightgray);
	height: 35px;
	width: 35px;
	border: 0;
	border-radius: 50%;
	background-size: 60% 60%;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.table_header {
	width: 100%;
	font-family: ProximaNovaThin;
	background-color: var(--c-transparent);
	font-size: var(--f-medium);
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}

.table_row.start {
	justify-content: flex-start;
}

.table_row.start > .table_item {
	justify-content: flex-start;
	flex: 0 1 auto;
	padding-right: 20px;

}

.table_header_text {
	flex: 1 1 0;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-align: center;
}

.table_header_text.title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.table_row {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: var(--c-white);
	min-height: 35px;
	height: 4vh;
	max-height: 50px;
	font-size: var(--f-medium);
	cursor: pointer;
	overflow: hidden;
}

.selected {
	background-color: var(--c-orange);
	font-family: ProximaNovaBold;
}

.table_item {
	flex: 1 1 0;
	text-align: center;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--c-transparent);
	height: 100%;
}

.table_item.bold {
	flex: 1 1 0;
	text-align: center;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--c-transparent);
	height: 100%;
}

.small_status_header {
	height: 100%;
	width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: var(--f-small);
	font-family: ProximaNovabold;
}

.small_status_item {
	min-height: 35px;
	height: 4vh;
	max-height: 50px;
	width: 20px;
}

.big_status_header {
	min-width: 35px;
	width: 4vh;
	max-width: 50px;
}

.big_status_item {
	min-height: 35px;
	height: 4vh;
	max-height: 50px;
	min-width: 35px;
	width: 4vh;
	max-width: 50px;
	background-position: center;
	background-size: 80% 80%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.red {
	background-color: var(--c-red);
}

.green {
	background-color: var(--c-green);
}

.gray {
	background-color: var(--c-gray);
}

.yellow {
	background-color: var(--c-yellow);
}

.blue {
	background-color: var(--c-blue);
}

.purple {
	background-color: var(--c-purple);
}


div.table_row:nth-child(even) {
	background-color: var(--c-lightestgray);
}

div.table_row:nth-child(even).selected {
	background-color: var(--c-orange);
}


/* Scroll Bar */

::-webkit-scrollbar { 	/* width */
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {		  /* Track */
    background: var(--c-white); 
}

::-webkit-scrollbar-thumb {		/* Handle */
    background: var(--c-darkgray); 
}
  
::-webkit-scrollbar-thumb:hover {		  /* Handle on hover */
    background: var(--c-gray); 
}


/* Search Input */

input[type="search"] {
	background-color: var(--c-lightestgray);
	font-size: var(--f-medium);
	border-radius: 5px;
	box-shadow: var(--s-black);
	padding: 7.5px 30px;
	font-family: ProximaNova;
}

input[type="search"]::placeholder {
	font-family: ProximaNovaBold;
}

input[value="Search"], input[value="Use Ranking"], input[value="Create Ranking"] {
	padding: 7.5px 30px;
	background-color: var(--c-orange);
	border-radius: 5px;
	font-size: var(--f-medium);
	font-family: ProximaNovaBold;
	cursor: pointer;
}

input[value="Use Ranking"] {
	margin-left: auto;
}

input[value="Use Ranking"].disabled {
	color: var(--c-darkgray);
	background-color: var(--c-gray);
}

input[value="Create Ranking"] {
	margin-top: 50px;
}

input[value="Create Ranking"].disabled {
	color: var(--c-darkgray);
	background-color: var(--c-gray);
}

/* Extended Search Input */







/* Custom Select Input */

.select_input {
	width: 200px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.select_input > div.closed {
	max-height: 0;
	overflow: hidden;
	opacity: 0;
}

.select_input > button {
	width: 100%;
	border-radius: 5px;
	z-index: 2;
	box-shadow: var(--s-black);
	font-family: ProximaNovaBold;
	font-size: var(--f-medium);
	color: var(--c-darkgray);
}

.select_input > button > p {
	width: 100%;
	padding: 7.5px 0;
	background-color: var(--c-lightestgray);
}

.select_input > button > input {
	display: none;
}

.select_input > div {
	height: 50vh;
	max-height: 225px;
	position: absolute;
	top: calc( var(--f-medium) + 18px );
	background-color: var(--c-white);
	width: 100%;
	z-index: 1;
	box-shadow: var(--s-black);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	transition: all var(--t-basic);
	opacity: 1;
}

.select_input > div > button {
	font-size: var(--f-medium);
	background-color: var(--c-white);
	width: 100%;
}

.select_input > div > button:hover {
	background-color: var(--c-lightestgray);
}

/* Date input */

input[type="date"] {
	font-family: ProximaNova;
	background-color: transparent;
}

/* Text Input */

input, input:focus {	/* Removes borders on all inputs*/
	outline: none;
	border: 0;
}

input[type="text"].hidden {
	display: none;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {		/* Sets basic look of text and password inputs*/
	background-color: transparent;
	border-bottom: 1px solid var(--c-darkgray);
	margin: 3px 0 30px 0;
	width: 100%;
	max-width: 400px;
	height: 35px;
	padding-left: 35px;
	font-size: var(--f-small);
}

input[type="text"]:focus, input[type="password"]:focus {	/* Sets basic look of text and password inputs when focused*/
	border-bottom: 2px solid var(--c-orange);
	margin-bottom: 29px;
	transition: var(--t-basic);
	width: 100%;
}

input[type="text"].error, input[type="password"].error {
	border-bottom: 2px solid var(--c-red);
	margin-bottom: 1px;
}

.error_text {
	text-transform: uppercase;
	color: var(--c-red);
	font-size: var(--f-small);
	margin: 0;
	margin-bottom: 19px;
	font-family: ProximaNovaBold;
}

.error_text.bold {
	text-transform: uppercase;
	color: var(--c-red);
	font-family: ProximaNovaBold;
	font-size: calc( var(--f-medium) - 5px );
	margin: 0;
	position: absolute;
	top: 5%;
}

input[type="text"].no_margin {
	margin: 3px 0;
}

.login_option {
	margin-bottom: 30px;
}

.error_text_option {
	text-transform: uppercase;
	color: red;
	font-size: var(--f-small);
	margin: 0;
	position: relative;
	margin-top: -29px;
	margin-bottom: 29px;
}

#username_input {
	background: url(../assets/icons/person_outline-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#password_input {
	background: url(../assets/icons/lock-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#name_input {
	background: url(../assets/icons/label-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#country_input {
	background: url(../assets/icons/language-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#location_input {
	background: url(../assets/icons/location_city-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#postal_input {
	background: url(../assets/icons/location_city-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#money_input {
	background: url(../assets/icons/money-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#start_date_input {
	background: url(../assets/icons/outlined_flag-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#end_date_input {
	background: url(../assets/icons/flag-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

#wc_input {
	background: url(../assets/icons/check-black-18dp.svg) no-repeat scroll 10px;
	background-size: 20px;
}

input[type="number"] {
	width: 40px;
	background-color: transparent;
	font-family: ProximaNova;
	font-size: var(--f-small);
	margin-right: -35px;
}

/* Input Classes */

input[type="number"].number_input {
	background-color: transparent;
	border-bottom: 1px solid var(--c-darkgray);
	margin: 3px 0 30px 0;
	width: 100%;
	max-width: 400px;
	height: 35px;
	padding-left: 35px;
	font-size: var(--f-small);
}

input[type="number"].no_web {
	-webkit-appearance: none;
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"].number_input.small {
	max-width: 50%;
}

input[type="number"].number_input.extra_small {
	max-width: 30%;
	padding-left: 0;
	text-align: center;
}

input[type="number"].number_input.big {
	max-width: 80%;
}

.back_button {
	margin-left: 40px;
	height: 35px;
	width: 35px;
	border: 0;
	border-radius: 50%;
	background-color: var(--c-lightergray);
	display: flex;
	justify-content: center;
	align-items: center;
}

.back_button > img {
	margin-right: 3px;
}

.back_button:hover {
	background-color: var(--c-gray);
}


/* Stripe Button Elements */

.stripe_button_icon {
	float: right;
	width: 20px;
	height: 22px;
	margin: 0;
}

.stripe_button_text {
	float: left;
	margin: 0;
	padding-right: 5px;
	white-space: nowrap;
}

.entry {
	display: flex;
	flex-direction: column;
}

.entry.opened > .table_row > .table_item {
	font-family: ProximaNovaBold;
	font-size: clac;
}

.entry_panel {
	height: 40vh;
	max-height: 500px;
	background-color: var(--c-white);
	transition: height 0.3s ease-out;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.entry_panel.collapsed {
	height: 0;
	overflow: hidden;
}

.entry_panel > p {
	position: absolute;
	right: 9px;
	top: 5px;
	font-size: var(--f-large);
	font-family: ProximaNovaBold;
}